flows_LTCC2448.json
[{"id":"71962acd.f3cc04","type":"tab","label":"PES Backup Chrome","disabled":true,"info":""},{"id":"64d6609a.8a90f","type":"tab","label":"MSR Grafana","disabled":true,"info":""},{"id":"d887781a.e09d98","type":"tab","label":"CSV - Timestamp","disabled":true,"info":""},{"id":"6ba26f25.451d4","type":"tab","label":"Status PES Screen","disabled":true,"info":""},{"id":"eae97cfd.dc1d9","type":"tab","label":"MSR - Node-RED","disabled":true,"info":""},{"id":"49708f2e.5a58","type":"ui_group","z":"","name":"PES Backup","tab":"b75717fd.3eb8e8","order":1,"disp":false,"width":"10","collapse":false},{"id":"517b3d6d.286404","type":"OPCUA-IIoT-Connector","z":"","discoveryUrl":"","endpoint":"opc.tcp://localhost:55388/","keepSessionAlive":true,"loginEnabled":false,"securityPolicy":"None","securityMode":"NONE","name":"Flex Connector","showErrors":true,"individualCerts":false,"publicCertificateFile":"","privateKeyFile":"","defaultSecureTokenLifetime":"","endpointMustExist":false,"autoSelectRightEndpoint":false,"strategyMaxRetry":"","strategyInitialDelay":"","strategyMaxDelay":"","strategyRandomisationFactor":"","requestedSessionTimeout":"","connectionStartDelay":"","reconnectDelay":"","maxBadSessionRequests":"10"},{"id":"18570601.a1199a","type":"serial-port","z":"","serialport":"COM1","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"500","bin":"false","out":"interbyte","addchar":false,"responsetimeout":"10000"},{"id":"b75717fd.3eb8e8","type":"ui_tab","z":"","name":"PES Backup","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"76a3bcaf.91c594","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0055a1","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0055a1","edited":true},"page-titlebar-backgroundColor":{"value":"#0055a1","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#007ded","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0055a1","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":100,"sy":65,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2f9c39ce.d2bb96","type":"influxdb","z":"","hostname":"localhost","port":"8086","protocol":"http","database":"coex_grafana","name":"Coex_Grafana","usetls":false,"tls":""},{"id":"2996ceeb.129a52","type":"s7 endpoint","z":"","address":"192.168.50.13","port":"102","rack":"0","slot":"2","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","cycletime":"10000","timeout":"15000","verbose":"default","name":"COEX_Grafana","vartable":[{"addr":"DB4501,X34.0","name":"Production"},{"addr":"DB4501,X34.1","name":"Downtime"},{"addr":"DB4501,X34.2","name":"Purge In"},{"addr":"DB4501,X34.3","name":"Purge Out"}]},{"id":"79bb8e04.359bd","type":"s7 endpoint","z":"","address":"192.168.50.13","port":"102","rack":"0","slot":"2","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","cycletime":"3000","timeout":"15000","verbose":"default","name":"COEX_MSR_CSV","vartable":[{"addr":"DB4501,X34.0","name":"Production"},{"addr":"DB4501,X34.1","name":"Downtime"},{"addr":"DB4501,X34.2","name":"Purge In"},{"addr":"DB4501,X34.3","name":"Purge Out"},{"addr":"DB4501,X34.4","name":"Change Over"}]},{"id":"1c84982.f311768","type":"s7 endpoint","z":"","address":"192.168.50.13","port":"102","rack":"0","slot":"2","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","cycletime":"10000","timeout":"1500","verbose":"default","name":"COEX_MSR","vartable":[{"addr":"DB4501,X20.0","name":"PRODUCTION"},{"addr":"DB1393,X21.2","name":"ExtrA_OFF"},{"addr":"DB1393,X21.3","name":"ExtrB_OFF"},{"addr":"DB1393,X21.4","name":"ExtrC_OFF"},{"addr":"DB1393,X21.5","name":"ExtrD_OFF"},{"addr":"DB1393,X21.6","name":"ExtrE_OFF"},{"addr":"DB1393,X21.7","name":"ExtrF_OFF"},{"addr":"DB1394,X4.2","name":"RELEASE_MISSING"},{"addr":"DB1394,X7.0","name":"GATE_AUTO"},{"addr":"DB1199,X0.1","name":"HOPPER_A"},{"addr":"DB1199,X0.2","name":"HOPPER_B"},{"addr":"DB1199,X0.3","name":"HOPPER_C"},{"addr":"DB1199,X0.4","name":"HOPPER_D"},{"addr":"DB1199,X0.5","name":"HOPPER_E"},{"addr":"DB1199,X0.6","name":"HOPPER_F"},{"addr":"DB1199,X1.2","name":"ADD_HOPPER_A"},{"addr":"DB1199,X1.3","name":"ADD_HOPPER_F"},{"addr":"DB1001,X0.0","name":"P_IN_A"},{"addr":"DB1001,X198.0","name":"P_IN_B"},{"addr":"DB1001,X396.0","name":"P_IN_C"},{"addr":"DB1001,X594.0","name":"P_IN_D"},{"addr":"DB1001,X792.0","name":"P_IN_E"},{"addr":"DB1001,X1180.0","name":"P_IN_F"},{"addr":"DB1394,X2.3","name":"CONTROL_PROCESS_DATA_OFF"},{"addr":"DB1394,X2.4","name":"CONTROL_STOP_OFF"},{"addr":"DB1394,X2.5","name":"CONTROL_LOCK_OFF"},{"addr":"DB1002,X0.0","name":"P_OUT_A"},{"addr":"DB1002,X218.0","name":"P_OUT_B"},{"addr":"DB1002,X436.0","name":"P_OUT_C"},{"addr":"DB1002,X654.0","name":"P_OUT_D"},{"addr":"DB1002,X872.0","name":"P_OUT_E"},{"addr":"DB1002,X1090.0","name":"P_OUT_F"},{"addr":"DB1199,X1.0","name":"MANUAL_P_OUT_A"},{"addr":"DB1199,X1.1","name":"MANUAL_P_OUT_F"},{"addr":"DB1393,X3.4","name":"STOP_HOPPER_F"},{"addr":"DB1392,X69.2","name":"TIME_EXCEEDED"},{"addr":"DB1390,X77.0","name":"MODE_AUTO"},{"addr":"DB47,i72","name":"ExtSpeedA"},{"addr":"DB47,i74","name":"ExtSpeedB"},{"addr":"DB47,i76","name":"ExtSpeedC"},{"addr":"DB47,i78","name":"ExtSpeedD"},{"addr":"DB47,i80","name":"ExtSpeedE"},{"addr":"DB47,i82","name":"ExtSpeedF"}]},{"id":"a0755435.ad0ee8","type":"mqtt-broker","broker":"localhost","port":"1883","clientid":"Node-Red"},{"id":"e7454090.a2c84","type":"ui_button","z":"71962acd.f3cc04","name":"BrowseWSList","group":"49708f2e.5a58","order":4,"width":0,"height":0,"passthru":false,"label":"Browse Workstations List","tooltip":"Used for browsing all the existing workstations","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":117,"y":80,"wires":[["ade027b9.86f8f8"]]},{"id":"5804eac.1ee3914","type":"ui_template","z":"71962acd.f3cc04","group":"49708f2e.5a58","name":"Logo PES","order":1,"width":"0","height":"0","format":"<div height=\"200\" style=\"text-align: center;height: 80px;\">\n<img src=\"http://topshare.corp.ponet/sites/cs1882-Compigne40/Doc%20Dasip/Node-RED/PES_Logo.png\" width=\"250\"><br/>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":96,"y":38,"wires":[[]]},{"id":"313757a8.b31a98","type":"function","z":"71962acd.f3cc04","name":"toWriteMsg","func":"var datatypeName = \"String\";\nvar v = context.get('v')|| null;\nvar name = context.get('name')|| null;\nvar nodeId = context.get('nodeId') || null;\nif (msg.topic == \"value\")\n{\n    v = msg.payload;\n    context.set(\"v\", v);\n}\nif (msg.topic == \"name\")\n{\n    name = msg.payload;\n    context.set(\"name\", name);\n}\nif (msg.topic == \"nodeid\")\n{\n    nodeId = msg.payload;\n    context.set(\"nodeId\", nodeId);\n}\nif (msg.topic ==\"scan\")\n{\n    v = msg.payload;\n}\nif (v !== null && name !== null && nodeId !== null)\n{\n    msg.nodetype = 'inject';\n    msg.injectType = 'write';\n    msg.addressSpaceItems = [{name, nodeId, datatypeName}];\n    msg.valuesToWrite = [v];\n    delete(msg.topic);\n    delete(msg.payload);\n    return msg;\n}","outputs":1,"noerr":0,"x":990,"y":229,"wires":[["6d7a665.ba72c98"]]},{"id":"6d7a665.ba72c98","type":"OPCUA-IIoT-Write","z":"71962acd.f3cc04","connector":"517b3d6d.286404","name":"","justValue":false,"showStatusActivities":false,"showErrors":true,"x":1130,"y":229,"wires":[["f44f1f87.6b9c4"]]},{"id":"f44f1f87.6b9c4","type":"function","z":"71962acd.f3cc04","name":"toReadMsg","func":"msg.nodetype = 'inject';\nmsg.injectType = 'read';\ndelete msg['valuesToWrite'];\nmsg.payload = {};\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":320,"wires":[["5b05d753.df29a8"]]},{"id":"5b05d753.df29a8","type":"OPCUA-IIoT-Read","z":"71962acd.f3cc04","attributeId":"0","maxAge":1,"depth":1,"connector":"517b3d6d.286404","name":"","justValue":true,"showStatusActivities":false,"showErrors":true,"parseStrings":false,"historyDays":"","x":1150,"y":320,"wires":[["aeda5e03.72a86"]]},{"id":"aeda5e03.72a86","type":"split","z":"71962acd.f3cc04","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":990,"y":400,"wires":[["7d74be5.099994"]]},{"id":"7d74be5.099994","type":"change","z":"71962acd.f3cc04","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":400,"wires":[["218b0911.eb05d6"]]},{"id":"218b0911.eb05d6","type":"ui_text","z":"71962acd.f3cc04","group":"49708f2e.5a58","order":11,"width":0,"height":0,"name":"WsMode","label":"Mode of the Workstation:","format":"{{msg.payload}}","layout":"row-left","x":1120,"y":720,"wires":[]},{"id":"34887426.73c36c","type":"serial in","z":"71962acd.f3cc04","name":"LocalScan","serial":"18570601.a1199a","x":660,"y":280,"wires":[["4f2f7ab5.08ea94"]]},{"id":"4f2f7ab5.08ea94","type":"function","z":"71962acd.f3cc04","name":"ScanFct","func":"msg.topic = 'scan';\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":280,"wires":[["313757a8.b31a98"]]},{"id":"313a2096.08ed6","type":"ui_template","z":"71962acd.f3cc04","group":"49708f2e.5a58","name":"Link workstation","order":10,"width":0,"height":0,"format":"<div style=\"text-align: center;\">\n    <a\n    target=\"_blank\"\n    href={{msg.payload}} style=\"text-decoration:none;\">\n        <span style=\"display:block; text-align:center; font-weight:bold; font-size:26px; color:rgb(0,85,161);\"> \nPES screen of the Workstation\n        </span>\n    </a>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":480,"y":260,"wires":[[]]},{"id":"7333b61a.da72b8","type":"function","z":"71962acd.f3cc04","name":"GetNodeName","func":"msg.topic = 'name'\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":180,"wires":[["313757a8.b31a98","27dbf1e4.93890e"]]},{"id":"78ac2475.d27b9c","type":"ui_button","z":"71962acd.f3cc04","name":"Reset","group":"49708f2e.5a58","order":12,"width":0,"height":0,"passthru":true,"label":"Reset selections (disconnect)","tooltip":"Resets the different connections","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"reset","x":70,"y":440,"wires":[["c3251d36.4cacf","b5c0f9a6.d44de8","17ef8118.e2e12f","dd9de27.d08742","115700c6.b4eabf"]]},{"id":"208efc57.0248d4","type":"OPCUA-IIoT-Flex-Connector","z":"71962acd.f3cc04","name":"","showStatusActivities":false,"showErrors":false,"connector":"517b3d6d.286404","x":680,"y":380,"wires":[[]]},{"id":"c3251d36.4cacf","type":"ui_dropdown","z":"71962acd.f3cc04","name":"SelectServ","label":"Select server:","tooltip":"Used for selecting the OPC server","place":"Server Selector","group":"49708f2e.5a58","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"Pre Prod Com","value":"opc.tcp://SCOMWQ0301.ad.ponet:49320","type":"str"}],"payload":"","topic":"OPCServ","x":310,"y":380,"wires":[["a5a0d08c.70df4","9aaea173.1eba5"]]},{"id":"a5a0d08c.70df4","type":"function","z":"71962acd.f3cc04","name":"ConnectFct","func":"msg.injectType = 'inject';\nmsg.payloadType = 'json';\nreturn {payload: {\n    \"discoveryUrl\": null,\n    \"endpoint\": msg.payload,\n    \"keepSessionAlive\": true,\n    \"securityPolicy\": \"None\",\n    \"securityMode\": \"NONE\",\n    \"name\": \"\",\n    \"showErrors\": true,\n    \"publicCertificateFile\": null,\n    \"privateKeyFile\": null,\n    \"defaultSecureTokenLifetime\": 0,\n    \"endpointMustExist\": false,\n    \"autoSelectRightEndpoint\": false,\n    \"strategyMaxRetry\": 0,\n    \"strategyInitialDelay\": 0,\n    \"strategyMaxDelay\": 0,\n    \"strategyRandomisationFactor\": 0,\n    \"requestedSessionTimeout\": 0,\n    \"connectionStartDelay\": 0,\n    \"reconnectDelay\": 0\n}\n}","outputs":1,"noerr":0,"x":510,"y":380,"wires":[["208efc57.0248d4"]]},{"id":"b5c0f9a6.d44de8","type":"ui_dropdown","z":"71962acd.f3cc04","name":"SelectWS","label":"Select a Workstation:","tooltip":"Used for selecting the workstation needed","place":"Workstation Selector","group":"49708f2e.5a58","order":7,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"reset","x":120,"y":220,"wires":[["9aaea173.1eba5","7333b61a.da72b8"]]},{"id":"dc3db589.167e78","type":"status","z":"71962acd.f3cc04","name":"","scope":["6d7a665.ba72c98"],"x":300,"y":440,"wires":[["74ea1845.5f8298"]],"outputLabels":["msg.status.text"]},{"id":"17ef8118.e2e12f","type":"function","z":"71962acd.f3cc04","name":"ResetString","func":"if (msg.topic == 'reset')\n{\n    return {payload: ''};\n}","outputs":1,"noerr":0,"x":310,"y":720,"wires":[["218b0911.eb05d6"]]},{"id":"3a7c0be4.223914","type":"OPCUA-IIoT-Crawler","z":"71962acd.f3cc04","connector":"517b3d6d.286404","name":"","justValue":true,"singleResult":false,"showStatusActivities":true,"showErrors":true,"activateUnsetFilter":false,"activateFilters":true,"negateFilter":true,"filters":[{"name":"nodeId","value":"SCAN1.Data.Scan;*"}],"delayPerMessage":"0.5","x":400,"y":80,"wires":[["921be37f.7ee2b"]]},{"id":"921be37f.7ee2b","type":"split","z":"71962acd.f3cc04","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":530,"y":80,"wires":[["bd3832f3.66303"]]},{"id":"56b207fe.54c4d8","type":"function","z":"71962acd.f3cc04","name":"GetScans","func":"var string0 = msg.payload.nodeId.split(';s=')[1];\nvar string1 = string0.split('_SCAN')[0];\nreturn {\n    payload: {\n        'nodeId': string1,\n        'browseName': msg.payload.browseName\n                    },\n    socketid: msg.socketid,\n    justValue: msg.justValue,\n    compressed: msg.compressed,\n    parts: msg.parts\n}","outputs":1,"noerr":0,"x":780,"y":80,"wires":[["892330c5.c9bd1"]]},{"id":"bd3832f3.66303","type":"split","z":"71962acd.f3cc04","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":650,"y":80,"wires":[["56b207fe.54c4d8"]]},{"id":"892330c5.c9bd1","type":"join","z":"71962acd.f3cc04","name":"","mode":"custom","build":"array","property":"payload.nodeId","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"3","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":910,"y":80,"wires":[["a9c7c7e.042c438"]]},{"id":"a9c7c7e.042c438","type":"function","z":"71962acd.f3cc04","name":"GetNodes","func":"return {payload: msg.payload.nodeId}","outputs":1,"noerr":0,"x":1040,"y":80,"wires":[["7be60ff1.361f1"]]},{"id":"7be60ff1.361f1","type":"change","z":"71962acd.f3cc04","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":140,"wires":[["b5c0f9a6.d44de8"]]},{"id":"ade027b9.86f8f8","type":"function","z":"71962acd.f3cc04","name":"Inject","func":"msg.topic = \"\"\nmsg.nodetype = \"inject\"\nmsg.injectType = \"inject\"\nmsg.addressSpaceItems = [\n    {\n            \"name\": \"\",\n            \"nodeId\": \"ns=0;i=85\",\n            \"datatypeName\": \"\"\n    }\n    ]\ndelete(msg.socketid)\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":80,"wires":[["3a7c0be4.223914"]]},{"id":"27dbf1e4.93890e","type":"function","z":"71962acd.f3cc04","name":"GetNodeID","func":"return {\n    payload: 'ns=2;s=' + msg.payload + '_SCAN1.Data.Scan',\n    topic: \"nodeid\"\n}","outputs":1,"noerr":0,"x":790,"y":180,"wires":[["313757a8.b31a98"]]},{"id":"efdca0cb.de8a6","type":"status","z":"71962acd.f3cc04","name":"","scope":["3a7c0be4.223914"],"x":300,"y":640,"wires":[["cc2ea408.86f388"]],"outputLabels":["msg.status.text"]},{"id":"cc2ea408.86f388","type":"function","z":"71962acd.f3cc04","name":"WsState","func":"var string = context.get('string')|| null;\nif (msg.status.text == 'active' && string == 'Connecting')\n{\n    string = 'Connected, please select a workstation'\n    return {payload: string};\n}\nif (msg.status.text == 'crawling')\n{\n    string = 'Connecting'\n    context.set(\"string\", string);\n    return {payload: string};\n}","outputs":1,"noerr":0,"x":440,"y":640,"wires":[["8d569742.4f52a8"]]},{"id":"9aaea173.1eba5","type":"function","z":"71962acd.f3cc04","name":"GetUrlsPES","func":"String.prototype.format = function() {\n    var formatted = this;\n    for (var i = 0; i < arguments.length; i++) {\n        var regexp = new RegExp('\\\\{'+i+'\\\\}', 'gi');\n        formatted = formatted.replace(regexp, arguments[i]);\n    }\n    return formatted;\n};\nvar OPCserv = context.get('OPCserv')|| null;\nif (msg.topic == \"OPCServ\")\n{\n    var string0 = msg.payload.split(\"//\")[1];\n    var string1 = string0.split(\".\")[0];\n    OPCserv = string1;\n    context.set(\"OPCserv\", OPCserv);\n}\nif (msg.topic == \"reset\" && OPCserv !== null)\n{\n    msg.payload = \"http://{1}/apriso/portal/kiosk/login.aspx?menuitemid=100000430&TabID=100000006&EquipmentLogin=true&EquipmentName={0}&LoginName={0}&Alias=IN_WorkstationScreen\".format(msg.payload,OPCserv);\n    return {payload: msg.payload, test: OPCserv};\n}","outputs":1,"noerr":0,"x":310,"y":260,"wires":[["313a2096.08ed6"]]},{"id":"74ea1845.5f8298","type":"function","z":"71962acd.f3cc04","name":"ServState","func":"if (msg.status.text == 'active')\n{\n    return {payload: 'Connected, click the button below'};\n}\n","outputs":1,"noerr":0,"x":440,"y":440,"wires":[["ed36b704.2b5878"]]},{"id":"5952cd6e.d2b3f4","type":"inject","z":"71962acd.f3cc04","name":"SetStatus","topic":"","payload":"Waiting for connection","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":580,"y":540,"wires":[["93e07690.34ac88","7e6dc7c1.29d318"]]},{"id":"8d569742.4f52a8","type":"function","z":"71962acd.f3cc04","name":"SetLed","func":"if (msg.payload == 'Connecting'){\n    msg.color = \"#f4a142\";\n    return msg;\n}else if (msg.payload == 'Connected, please select a workstation'){\n    msg.color = \"#00FF00\";\n    return msg;\n}","outputs":1,"noerr":0,"x":580,"y":640,"wires":[["93e07690.34ac88"]]},{"id":"93e07690.34ac88","type":"ui_template","z":"71962acd.f3cc04","group":"49708f2e.5a58","name":"LedWS","order":6,"width":"0","height":"0","format":"<style>\n.led {\n    float: left;\n    padding: 3px;\n    width: 10px;\n    height: 10px;\n    border-radius: 50%;\n    background-color: #FF0000;\n}\n</style>\n\n<div>\n    <span style=\"margin-left:15px;\">\n        Workstations status:\n    </span>\n    <span style=\"font-weight:bold;margin-left:10px;\">\n        {{msg.payload}}\n    </span>\n    <span class=\"led\" style=\"margin-top:5px;margin-left:15px;background-color: {{msg.color}}; box-shadow: black 0 -1px 1px 0px, inset black  0 -1px 4px, {{msg.color}} 0 3px 15px;\">\n    </span>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":760,"y":580,"wires":[[]]},{"id":"dd9de27.d08742","type":"function","z":"71962acd.f3cc04","name":"ResetLed","func":"if (msg.topic == 'reset')\n{\n    msg.payload = \"Waiting for connection\";\n    msg.color = \"#FF0000\";\n    return msg;\n}","outputs":1,"noerr":0,"x":300,"y":580,"wires":[["93e07690.34ac88"]]},{"id":"7e6dc7c1.29d318","type":"ui_template","z":"71962acd.f3cc04","group":"49708f2e.5a58","name":"LedServ","order":3,"width":"0","height":"0","format":"<style>\n.led {\n    float: left;\n    padding: 3px;\n    width: 10px;\n    height: 10px;\n    border-radius: 50%;\n    background-color: #FF0000;\n}\n</style>\n\n<div>\n    <span style=\"margin-left:15px;\">\n        Server status:\n    </span>\n    <span style=\"font-weight:bold;margin-left:10px;\">\n        {{msg.payload}}\n    </span>\n    <span class=\"led\" style=\"margin-top:5px;margin-left:15px;background: {{msg.color}};box-shadow: black 0 -1px 1px 0px, inset black  0 -1px 4px, {{msg.color}} 0 3px 15px;\">\n    </span>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":760,"y":500,"wires":[[]]},{"id":"115700c6.b4eabf","type":"function","z":"71962acd.f3cc04","name":"ResetLed","func":"if (msg.topic == 'reset')\n{\n    msg.payload = \"Waiting for connection\";\n    msg.color = \"#FF0000\";\n    return msg;\n}","outputs":1,"noerr":0,"x":300,"y":500,"wires":[["7e6dc7c1.29d318"]]},{"id":"ed36b704.2b5878","type":"function","z":"71962acd.f3cc04","name":"SetLed","func":"if (msg.payload == 'Connected, click the button below'){\n    msg.color = \"#00FF00\";\n    return msg;\n}","outputs":1,"noerr":0,"x":580,"y":440,"wires":[["7e6dc7c1.29d318"]]},{"id":"c6fe5ac0.0cb7c8","type":"s7 in","z":"d887781a.e09d98","endpoint":"79bb8e04.359bd","mode":"all","variable":"","diff":false,"name":"","x":130,"y":60,"wires":[["85342016.62cf"]]},{"id":"4a420485.89747c","type":"s7 in","z":"64d6609a.8a90f","endpoint":"2996ceeb.129a52","mode":"all","variable":"","diff":false,"name":"","x":120,"y":100,"wires":[["51f7da3e.eb4224"]]},{"id":"30dd9d50.462282","type":"function","z":"64d6609a.8a90f","name":"SetBoolean","func":"if (msg.payload === false)\n{\n    msg.payload = 0\n}\nelse if(msg.payload === true)\n{\n    msg.payload = 1\n}\ndelete(msg.parts);\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":100,"wires":[["c5913d2d.9fee","5ce12e6c.0ecaa"]]},{"id":"c6401d00.5c42a","type":"influxdb out","z":"64d6609a.8a90f","influxdb":"2f9c39ce.d2bb96","name":"","measurement":"","precision":"","retentionPolicy":"","x":940,"y":100,"wires":[]},{"id":"51f7da3e.eb4224","type":"split","z":"64d6609a.8a90f","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":290,"y":100,"wires":[["30dd9d50.462282"]]},{"id":"c5913d2d.9fee","type":"function","z":"64d6609a.8a90f","name":"SetMeasurement1","func":"if(msg.payload == 1)\n{\n    msg.payload = msg.topic\n    msg.measurement = 'Coex'\n    delete(msg.topic);\n    return msg;\n}","outputs":1,"noerr":0,"x":690,"y":60,"wires":[["c6401d00.5c42a"]]},{"id":"5ce12e6c.0ecaa","type":"function","z":"64d6609a.8a90f","name":"SetMeasurement2","func":"var str = msg.topic\nmsg.payload = {value: msg.payload};\nstr = str.replace(\" \", \"_\")\nmsg.measurement = str;\ndelete(msg.topic);\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":140,"wires":[["c6401d00.5c42a"]]},{"id":"eaa9704f.b9cbf","type":"file","z":"d887781a.e09d98","name":"CSV MSR","filename":"D:\\Vincent Ciancio\\PoC\\PoC IoT\\6 - MSR Node-RED\\MSR - Status.csv","appendNewline":false,"createDir":true,"overwriteFile":"false","x":710,"y":60,"wires":[[]]},{"id":"be025dfe.c7acb","type":"csv","z":"d887781a.e09d98","name":"","sep":",","hdrin":"","hdrout":false,"multi":"one","ret":"\\r\\n","temp":"","skip":"0","x":470,"y":60,"wires":[["13aa608f.89114f","eaa9704f.b9cbf"]]},{"id":"13aa608f.89114f","type":"debug","z":"d887781a.e09d98","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":690,"y":200,"wires":[]},{"id":"85342016.62cf","type":"function","z":"d887781a.e09d98","name":"Timestamp","func":"msg.timestamp = new Date().toLocaleString();\ndelete(msg.topic);\nmsg.payload[\"timestamp\"] = msg.timestamp\ndelete(msg.timestamp)\nreturn msg; ","outputs":1,"noerr":0,"x":330,"y":60,"wires":[["be025dfe.c7acb"]]},{"id":"d7a8f2b3.d6b6b","type":"s7 in","z":"eae97cfd.dc1d9","endpoint":"1c84982.f311768","mode":"all-split","variable":"","diff":false,"name":"","x":90,"y":60,"wires":[["1a2fea02.569116"]]},{"id":"6abd6d92.f19c44","type":"debug","z":"eae97cfd.dc1d9","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":570,"y":60,"wires":[]},{"id":"610e32a.40301cc","type":"function","z":"eae97cfd.dc1d9","name":"Purge In","func":"if (msg.topic == \"P_IN_A\" || msg.topic == \"P_IN_B\" || msg.topic == \"P_IN_C\" || msg.topic == \"P_IN_D\" || msg.topic == \"P_IN_E\" || msg.topic == \"P_IN_F\")\n{\n    if (msg.payload === false && status !== \"Purge In\")\n    {\n        status = \"Purge In\";\n        flow.set(\"status\", status);\n        msg.payload = status;\n        return msg;\n    }\n}","outputs":1,"noerr":0,"x":500,"y":260,"wires":[[]]},{"id":"31f611ad.dd462e","type":"influxdb out","z":"eae97cfd.dc1d9","name":"","measurement":"","precision":"","retentionPolicy":"","x":1280,"y":140,"wires":[]},{"id":"191ca2fb.93541d","type":"file","z":"eae97cfd.dc1d9","name":"CSV MSR","filename":"D:\\Vincent Ciancio\\PoC\\PoC IoT\\6 - MSR Node-RED\\MSR - Status.csv","appendNewline":false,"createDir":true,"overwriteFile":"false","x":970,"y":340,"wires":[[]]},{"id":"98cc050f.6cb5e8","type":"csv","z":"eae97cfd.dc1d9","name":"","sep":",","hdrin":"","hdrout":false,"multi":"one","ret":"\\r\\n","temp":"","skip":"0","x":830,"y":340,"wires":[["191ca2fb.93541d"]]},{"id":"7d7191f9.c57bf","type":"function","z":"eae97cfd.dc1d9","name":"Timestamp","func":"msg.timestamp = new Date().toLocaleString();\ndelete(msg.topic);\nmsg.payload[\"timestamp\"] = msg.timestamp\ndelete(msg.timestamp)\nreturn msg; ","outputs":1,"noerr":0,"x":690,"y":340,"wires":[["98cc050f.6cb5e8"]]},{"id":"1965cecd.afb921","type":"function","z":"eae97cfd.dc1d9","name":"SetBoolean","func":"if (msg.payload === false)\n{\n    msg.payload = 0\n}\nelse if(msg.payload === true)\n{\n    msg.payload = 1\n}\ndelete(msg.parts);\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":140,"wires":[["2bf3034.517a3fc","3bd4c240.e08dde"]]},{"id":"2bf3034.517a3fc","type":"function","z":"eae97cfd.dc1d9","name":"SetMeasurement","func":"if(msg.payload == 1)\n{\n    msg.payload = msg.topic\n    msg.measurement = 'Coex'\n    delete(msg.topic);\n    return msg;\n}","outputs":1,"noerr":0,"x":1070,"y":100,"wires":[[]]},{"id":"3bd4c240.e08dde","type":"function","z":"eae97cfd.dc1d9","name":"SetMeasurement2","func":"var str = msg.topic\nmsg.payload = {value: msg.payload};\nstr = str.replace(\" \", \"_\")\nmsg.measurement = str;\ndelete(msg.topic);\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":180,"wires":[[]]},{"id":"1a2fea02.569116","type":"function","z":"eae97cfd.dc1d9","name":"CreateStatus","func":"var status = flow.get('status')||null;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":60,"wires":[["3f5b34c.36d19cc"]]},{"id":"7687bdcd.0fbf64","type":"s7 in","z":"64d6609a.8a90f","endpoint":"1c84982.f311768","mode":"all","variable":"","diff":false,"name":"","x":110,"y":240,"wires":[["5b2ae6c3.c87808"]]},{"id":"6e7bec0a.84e7d4","type":"function","z":"64d6609a.8a90f","name":"SetMeasurement3","func":"msg.measurement = 'MSR';\ndelete(msg.topic);\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":240,"wires":[["c6401d00.5c42a"]]},{"id":"89b3cba1.04b738","type":"function","z":"64d6609a.8a90f","name":"SetBoolean","func":"if (msg.payload === false)\n{\n    msg.payload = 0\n}\nelse if(msg.payload === true)\n{\n    msg.payload = 1\n}\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":240,"wires":[["717e4e76.8bcca"]]},{"id":"5b2ae6c3.c87808","type":"split","z":"64d6609a.8a90f","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":250,"y":240,"wires":[["89b3cba1.04b738"]]},{"id":"717e4e76.8bcca","type":"join","z":"64d6609a.8a90f","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":530,"y":240,"wires":[["6e7bec0a.84e7d4"]]},{"id":"ddbaeee.abdb21","type":"nbrowser","z":"6ba26f25.451d4","name":"","methods":[{"name":"gotoURL","func":"goto","params":[{"type":"msg","value":"payload","typeDefault":"str"}]},{"name":"wait","func":"wait","params":[{"type":"str","value":"5","typeDefault":"str"}]},{"name":"getHTML","func":"getHTML","params":[{"type":"str","value":"","typeDefault":"str"},{"type":"msg","value":"payload","typeDefault":"output"}]}],"prop":"nbrowser","propout":"payload","object":"msg","objectout":"msg","close":false,"show":false,"ssl":false,"outputs":1,"x":220,"y":120,"wires":[["23febd79.5fde62"]]},{"id":"e3c252b3.8a7f5","type":"inject","z":"6ba26f25.451d4","name":"","topic":"","payload":"http://SCOMWP0301/apriso/portal/kiosk/login.aspx?menuitemid=100000430&TabID=100000006&EquipmentLogin=true&EquipmentName=B_COEX1_BMM272&LoginName=B_COEX1_BMM272&Alias=IN_WorkstationScreen","payloadType":"str","repeat":"10","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":120,"wires":[["ddbaeee.abdb21"]]},{"id":"fb4bbef3.82f56","type":"debug","z":"6ba26f25.451d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":570,"y":160,"wires":[]},{"id":"23febd79.5fde62","type":"function","z":"6ba26f25.451d4","name":"GetStatusPES","func":"var status;\nvar result = msg.payload.split('in-productionmode-desc\">')[1]\nvar result1 = result.split(\"</\")[0]\nvar result2 = result1.split(\" - \")[0]\nvar result3 = result1.split(\" - \")[1]\nif (result3 == \"Production\")\n{\n    status = result3\n}\nelse if (result3 == 'Changement de Production')\n{\n    status = 'Change Over'\n}\nelse if (result3 == \"Purge d'Arrêt / Arrêt Machine\")\n{\n    status = 'Purge Out'\n}\nelse if (result2 == 'Downtime')\n{\n    status = result2\n}\nelse\n{\n    status = 'Purge In'\n}\nvar msg1 = {payload: status, measurement: 'PES'}\nreturn [msg,msg1];","outputs":2,"noerr":0,"x":380,"y":120,"wires":[["ceef3145.70205"],["fb4bbef3.82f56"]]},{"id":"ceef3145.70205","type":"nbrowser","z":"6ba26f25.451d4","name":"","methods":[{"name":"wait","func":"wait","params":[{"type":"str","value":"0.1","typeDefault":"str"}]}],"prop":"nbrowser","propout":"payload","object":"msg","objectout":"msg","close":true,"show":false,"ssl":false,"outputs":0,"x":580,"y":80,"wires":[]},{"id":"9818ad47.ed7af","type":"nbrowser","z":"64d6609a.8a90f","name":"GetHTML","methods":[{"name":"gotoURL","func":"goto","params":[{"type":"msg","value":"payload","typeDefault":"str"}]},{"name":"wait","func":"wait","params":[{"type":"str","value":"5","typeDefault":"str"}]},{"name":"getHTML","func":"getHTML","params":[{"type":"str","value":"","typeDefault":"str"},{"type":"msg","value":"payload","typeDefault":"output"}]}],"prop":"nbrowser","propout":"payload","object":"msg","objectout":"msg","close":false,"show":false,"ssl":false,"outputs":1,"x":400,"y":360,"wires":[["4a437e7c.c73cf"]]},{"id":"7125aa7f.7e10d4","type":"inject","z":"64d6609a.8a90f","name":"","topic":"","payload":"http://SCOMWP0301/apriso/portal/kiosk/login.aspx?menuitemid=100000430&TabID=100000006&EquipmentLogin=true&EquipmentName=B_COEX1_BMM272&LoginName=B_COEX1_BMM272&Alias=IN_WorkstationScreen","payloadType":"str","repeat":"10","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":360,"wires":[["9818ad47.ed7af"]]},{"id":"4a437e7c.c73cf","type":"function","z":"64d6609a.8a90f","name":"GetStatusPES","func":"var status;\nvar result = msg.payload.split('in-productionmode-desc\">')[1]\nvar result1 = result.split(\"</\")[0]\nvar result2 = result1.split(\" - \")[0]\nvar result3 = result1.split(\" - \")[1]\nif (result3 == \"Production\")\n{\n    status = result3\n}\nelse if (result3 == 'Changement de Production')\n{\n    status = 'Change Over'\n}\nelse if (result3 == \"Purge d'Arrêt / Arrêt Machine\")\n{\n    status = 'Purge Out'\n}\nelse if (result2 == 'Downtime')\n{\n    status = result2\n}\nelse\n{\n    status = 'Purge In'\n}\nvar msg1 = {payload: status, measurement: 'PES'}\nreturn [msg,msg1];","outputs":2,"noerr":0,"x":700,"y":360,"wires":[["c1507c17.92ad3"],["c6401d00.5c42a"]]},{"id":"c1507c17.92ad3","type":"nbrowser","z":"64d6609a.8a90f","name":"CloseScreen","methods":[{"name":"wait","func":"wait","params":[{"type":"str","value":"0.1","typeDefault":"str"}]}],"prop":"nbrowser","propout":"payload","object":"msg","objectout":"msg","close":true,"show":false,"ssl":false,"outputs":0,"x":910,"y":400,"wires":[]},{"id":"80ba99db.090b98","type":"debug","z":"64d6609a.8a90f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1030,"y":260,"wires":[]},{"id":"3f5b34c.36d19cc","type":"function","z":"eae97cfd.dc1d9","name":"Production","func":"if (msg.topic == \"MODE_AUTO\")\n{\n    if (msg.payload === true)\n    {\n        status = \"Production\";\n        flow.set(\"status\", status);\n        msg.payload = status;\n        return msg;\n    }\n}","outputs":1,"noerr":0,"x":410,"y":60,"wires":[["6abd6d92.f19c44"]]},{"id":"814706ec.56ce48","type":"inject","z":"eae97cfd.dc1d9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":200,"wires":[["d28cbbc0.2d6668"]]},{"id":"d28cbbc0.2d6668","type":"function","z":"eae97cfd.dc1d9","name":"Production","func":"//var x = flow.get('status')\nmsg.payload = flow.get('status')\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":200,"wires":[["6de30f4d.bc947"]]},{"id":"6de30f4d.bc947","type":"debug","z":"eae97cfd.dc1d9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":510,"y":200,"wires":[]},{"id":"8a57557d.c535a8","type":"inject","z":"eae97cfd.dc1d9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":420,"wires":[["e5599b4d.a739d8"]]},{"id":"e5599b4d.a739d8","type":"function","z":"eae97cfd.dc1d9","name":"SetStatus","func":"flow.set('status','Downtime')\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":420,"wires":[[]]}]