flows_LTCC2448.json
[{"id":"dac55fd6.2d62c","type":"tab","label":"Vibration Test Bench","disabled":true,"info":""},{"id":"71962acd.f3cc04","type":"tab","label":"PES Backup Chrome","disabled":true,"info":""},{"id":"f05e95c9.a16858","type":"tab","label":"PES Backup","disabled":true,"info":""},{"id":"957114c9.3a01e8","type":"tab","label":"Crawler","disabled":true,"info":""},{"id":"d887781a.e09d98","type":"tab","label":"Timestamp","disabled":true,"info":""},{"id":"885b552b.80c768","type":"tab","label":"DateDifference","disabled":true,"info":""},{"id":"1468ae93.06f8a1","type":"tab","label":"MSR Grafana VM","disabled":true,"info":""},{"id":"eae97cfd.dc1d9","type":"tab","label":"Test MSR - Node-RED","disabled":true,"info":""},{"id":"8a130cc2.fc507","type":"tab","label":"Export Influx","disabled":true,"info":""},{"id":"d62a1851.fee178","type":"tab","label":"Color Button Dashboard","disabled":true,"info":""},{"id":"b3f0be9f.faf86","type":"tab","label":"Test Nbrowser","disabled":true,"info":""},{"id":"953de68e.0ae618","type":"tab","label":"WorldMap","disabled":true,"info":""},{"id":"57956bd6.0f4a24","type":"tab","label":"WorldMap 2","disabled":true,"info":""},{"id":"d6ca310e.2ba36","type":"tab","label":"Selenium","disabled":true,"info":""},{"id":"84b1ff0a.5d03","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"cc411446.d3c568","type":"tab","label":"Flow 2","disabled":true,"info":""},{"id":"195d85d6.a69faa","type":"tab","label":"Flow 3","disabled":true,"info":""},{"id":"ad97b721.b46208","type":"tab","label":"TestOPC","disabled":true,"info":""},{"id":"ff6c4823.1fac98","type":"tab","label":"IIoT OPC UA Events","disabled":true,"info":""},{"id":"e9958ee9.bd824","type":"tab","label":"Query Influx","disabled":true,"info":""},{"id":"d36b2d09.f69b1","type":"tab","label":"SMS","disabled":true,"info":""},{"id":"6eaf8cc.a896874","type":"tab","label":"FC Monitoring","disabled":true,"info":""},{"id":"dd19a5c6.ebf728","type":"tab","label":"CPU Monitoring","disabled":true,"info":""},{"id":"7c15ca5.5345f34","type":"tab","label":"SMS API","disabled":true,"info":""},{"id":"1692573b.8243c9","type":"tab","label":"Memory Usage","disabled":false,"info":""},{"id":"27fbf089.b60a","type":"subflow","name":"GetWS","info":"Subflow to make the flow more readable.","category":"","in":[{"x":57,"y":60,"wires":[{"id":"16402294.0f8b8d"}]}],"out":[{"x":957,"y":60,"wires":[{"id":"3480726d.fbae5e","port":0}]}],"env":[]},{"id":"49708f2e.5a58","type":"ui_group","z":"","name":"PES Backup","tab":"b75717fd.3eb8e8","order":1,"disp":false,"width":"10","collapse":false},{"id":"517b3d6d.286404","type":"OPCUA-IIoT-Connector","z":"","discoveryUrl":"","endpoint":"opc.tcp://localhost:55388/","keepSessionAlive":true,"loginEnabled":false,"securityPolicy":"None","securityMode":"NONE","name":"Flex Connector","showErrors":true,"individualCerts":false,"publicCertificateFile":"","privateKeyFile":"","defaultSecureTokenLifetime":"","endpointMustExist":false,"autoSelectRightEndpoint":false,"strategyMaxRetry":"","strategyInitialDelay":"","strategyMaxDelay":"","strategyRandomisationFactor":"","requestedSessionTimeout":"","connectionStartDelay":"","reconnectDelay":"","maxBadSessionRequests":"10"},{"id":"b75717fd.3eb8e8","type":"ui_tab","z":"","name":"PES Backup","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"76a3bcaf.91c594","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0055a1","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0055a1","edited":true},"page-titlebar-backgroundColor":{"value":"#0055a1","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#007ded","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0055a1","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":100,"sy":65,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2996ceeb.129a52","type":"s7 endpoint","z":"1468ae93.06f8a1","transport":"iso-on-tcp","address":"192.168.50.13","port":"102","rack":"0","slot":"2","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapterauto":true,"adapterport":"","busaddr":"","adapteraddr":"0","cycletime":"10000","timeout":"15000","verbose":"default","name":"MSR_Grafana2","vartable":[{"addr":"DB1393,X21.2","name":"ExtrA_OFF"},{"addr":"DB1393,X21.3","name":"ExtrB_OFF"},{"addr":"DB1393,X21.4","name":"ExtrC_OFF"},{"addr":"DB1393,X21.5","name":"ExtrD_OFF"},{"addr":"DB1393,X21.6","name":"ExtrE_OFF"},{"addr":"DB1393,X21.7","name":"ExtrF_OFF"},{"addr":"DB1394,X4.2","name":"RELEASE_MISSING"},{"addr":"DB1394,X7.0","name":"GATE_AUTO"},{"addr":"DB1199,X0.1","name":"HOPPER_A"},{"addr":"DB1199,X0.2","name":"HOPPER_B"},{"addr":"DB1199,X0.3","name":"HOPPER_C"},{"addr":"DB1199,X0.4","name":"HOPPER_D"},{"addr":"DB1199,X0.5","name":"HOPPER_E"},{"addr":"DB1199,X0.6","name":"HOPPER_F"},{"addr":"DB1199,X1.2","name":"ADD_HOPPER_A"},{"addr":"DB1199,X1.3","name":"ADD_HOPPER_F"},{"addr":"DB1001,X0.0","name":"P_IN_A"},{"addr":"DB1001,X198.0","name":"P_IN_B"},{"addr":"DB1001,X396.0","name":"P_IN_C"},{"addr":"DB1001,X594.0","name":"P_IN_D"},{"addr":"DB1001,X792.0","name":"P_IN_E"},{"addr":"DB1001,X1180.0","name":"P_IN_F"},{"addr":"DB1394,X2.3","name":"CONTROL_PROCESS_DATA_OFF"},{"addr":"DB1394,X2.4","name":"CONTROL_STOP_OFF"},{"addr":"DB1394,X2.5","name":"CONTROL_LOCK_OFF"},{"addr":"DB1002,X0.0","name":"P_OUT_A"},{"addr":"DB1002,X218.0","name":"P_OUT_B"},{"addr":"DB1002,X436.0","name":"P_OUT_C"},{"addr":"DB1002,X654.0","name":"P_OUT_D"},{"addr":"DB1002,X872.0","name":"P_OUT_E"},{"addr":"DB1002,X1090.0","name":"P_OUT_F"},{"addr":"DB1199,X1.0","name":"MANUAL_P_OUT_A"},{"addr":"DB1199,X1.1","name":"MANUAL_P_OUT_F"},{"addr":"DB1393,X3.4","name":"STOP_HOPPER_F"},{"addr":"DB1392,X69.2","name":"TIME_EXCEEDED"},{"addr":"DB1390,X77.0","name":"MODE_AUTO"},{"addr":"DB47,i72","name":"ExtSpeedA"},{"addr":"DB47,i74","name":"ExtSpeedB"},{"addr":"DB47,i76","name":"ExtSpeedC"},{"addr":"DB47,i78","name":"ExtSpeedD"},{"addr":"DB47,i80","name":"ExtSpeedE"},{"addr":"DB47,i82","name":"ExtSpeedF"},{"addr":"DB4501,X34.0","name":"Production"},{"addr":"DB4501,X34.1","name":"Downtime"},{"addr":"DB4501,X34.2","name":"Purge_In"},{"addr":"DB4501,X34.3","name":"Purge_Out"}]},{"id":"a7b4c7aa.63b7d8","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"coex_grafana","name":"coex_grafana","usetls":false,"tls":""},{"id":"cd1426e3.ceee88","type":"s7 endpoint","z":"eae97cfd.dc1d9","address":"192.168.50.13","port":"102","rack":"0","slot":"2","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","cycletime":"10000","timeout":"15000","verbose":"default","name":"COEX_MSR","vartable":[{"addr":"DB1393,X21.2","name":"ExtrA_OFF"},{"addr":"DB1393,X21.3","name":"ExtrB_OFF"},{"addr":"DB1393,X21.4","name":"ExtrC_OFF"},{"addr":"DB1393,X21.5","name":"ExtrD_OFF"},{"addr":"DB1393,X21.6","name":"ExtrE_OFF"},{"addr":"DB1393,X21.7","name":"ExtrF_OFF"},{"addr":"DB1394,X4.2","name":"RELEASE_MISSING"},{"addr":"DB1394,X7.0","name":"GATE_AUTO"},{"addr":"DB1199,X0.1","name":"HOPPER_A"},{"addr":"DB1199,X0.2","name":"HOPPER_B"},{"addr":"DB1199,X0.3","name":"HOPPER_C"},{"addr":"DB1199,X0.4","name":"HOPPER_D"},{"addr":"DB1199,X0.5","name":"HOPPER_E"},{"addr":"DB1199,X0.6","name":"HOPPER_F"},{"addr":"DB1199,X1.2","name":"ADD_HOPPER_A"},{"addr":"DB1199,X1.3","name":"ADD_HOPPER_F"},{"addr":"DB1001,X0.0","name":"P_IN_A"},{"addr":"DB1001,X198.0","name":"P_IN_B"},{"addr":"DB1001,X396.0","name":"P_IN_C"},{"addr":"DB1001,X594.0","name":"P_IN_D"},{"addr":"DB1001,X792.0","name":"P_IN_E"},{"addr":"DB1001,X1180.0","name":"P_IN_F"},{"addr":"DB1394,X2.3","name":"CONTROL_PROCESS_DATA_OFF"},{"addr":"DB1394,X2.4","name":"CONTROL_STOP_OFF"},{"addr":"DB1394,X2.5","name":"CONTROL_LOCK_OFF"},{"addr":"DB1002,X0.0","name":"P_OUT_A"},{"addr":"DB1002,X218.0","name":"P_OUT_B"},{"addr":"DB1002,X436.0","name":"P_OUT_C"},{"addr":"DB1002,X654.0","name":"P_OUT_D"},{"addr":"DB1002,X872.0","name":"P_OUT_E"},{"addr":"DB1002,X1090.0","name":"P_OUT_F"},{"addr":"DB1199,X1.0","name":"MANUAL_P_OUT_A"},{"addr":"DB1199,X1.1","name":"MANUAL_P_OUT_F"},{"addr":"DB1393,X3.4","name":"STOP_HOPPER_F"},{"addr":"DB1392,X69.2","name":"TIME_EXCEEDED"},{"addr":"DB1390,X77.0","name":"MODE_AUTO"},{"addr":"DB47,i72","name":"ExtSpeedA"},{"addr":"DB47,i74","name":"ExtSpeedB"},{"addr":"DB47,i76","name":"ExtSpeedC"},{"addr":"DB47,i78","name":"ExtSpeedD"},{"addr":"DB47,i80","name":"ExtSpeedE"},{"addr":"DB47,i82","name":"ExtSpeedF"},{"addr":"DB4544,i4","name":"MoldNo"},{"addr":"DB4501,X34.0","name":"Production"},{"addr":"DB4501,X34.1","name":"Downtime"},{"addr":"DB4501,X34.2","name":"Purge_In"},{"addr":"DB4501,X34.3","name":"Purge_Out"}]},{"id":"953da3fe.07a58","type":"influxdb","z":"","hostname":"localhost","port":"8086","protocol":"http","database":"MSR","name":"MSR_COEX","usetls":false,"tls":""},{"id":"f0810191.c71a7","type":"influxdb","z":"","hostname":"192.168.50.112","port":"8086","protocol":"http","database":"smart_grinder","name":"","usetls":false,"tls":""},{"id":"63dc38b7.120388","type":"influxdb","z":"","hostname":"192.168.50.112","port":"8086","protocol":"http","database":"MSR","name":"MSR_COEX","usetls":false,"tls":""},{"id":"ccbb7191.cda1f","type":"ui_spacer","name":"spacer","group":"49708f2e.5a58","order":3,"width":1,"height":1},{"id":"4a7142b2.a2524c","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"Test","name":"","usetls":false,"tls":""},{"id":"18570601.a1199a","type":"serial-port","z":"","serialport":"COM1","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"500","bin":"false","out":"interbyte","addchar":false,"responsetimeout":"10000"},{"id":"193d6871.828cc8","type":"ui_tab","z":"","name":"TESTS","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"7eb82d5b.75fba4","type":"ui_group","z":"","name":"TEST","tab":"193d6871.828cc8","disp":false,"width":"6","collapse":false},{"id":"8883b7e4.8ba168","type":"influxdb","z":"","hostname":"192.168.50.112","port":"8086","protocol":"http","database":"MSR","name":"MSR_COEX","usetls":false,"tls":""},{"id":"67a8dfc1.0dd0f","type":"ui_group","z":"57956bd6.0f4a24","name":"Default","tab":"11156043.40834","disp":false,"width":"6","collapse":false},{"id":"11156043.40834","type":"ui_tab","z":"57956bd6.0f4a24","name":"Home","icon":"dashboard","order":4},{"id":"b59b8101.6f469","type":"selenium-server","z":"","remoteurl":"http://localhost:9515"},{"id":"a4d3a20d.9cafd","type":"influxdb","z":"","hostname":"192.168.51.37","port":"8086","protocol":"http","database":"cu_collect","name":"CU_K0","usetls":false,"tls":""},{"id":"6723e206.b8e93c","type":"mqtt-broker","z":"","name":"","broker":"iot.eclipse.org","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e8829dda.8750f","type":"OPCUA-IIoT-Connector","z":"","discoveryUrl":"","endpoint":"opc.tcp://localhost:55388/","keepSessionAlive":true,"loginEnabled":false,"securityPolicy":"None","securityMode":"NONE","name":"LOCAL EVENT SERVER","showErrors":false,"publicCertificateFile":"","privateKeyFile":"","defaultSecureTokenLifetime":"","endpointMustExist":false,"autoSelectRightEndpoint":false,"strategyMaxRetry":"","strategyInitialDelay":"","strategyMaxDelay":"","strategyRandomisationFactor":"","requestedSessionTimeout":"","connectionStartDelay":"","reconnectDelay":""},{"id":"58717b99.d45754","type":"influxdb","z":"","hostname":"192.168.51.37","port":"8086","protocol":"http","database":"cu_collect","name":"Cu_Collect","usetls":false,"tls":""},{"id":"dff354a1.a467b8","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"cu_collect","name":"Cu_Collect","usetls":false,"tls":""},{"id":"f70205f1.3cbe38","type":"nexmobasic","z":""},{"id":"49d13fec.209b3","type":"ui_tab","z":"","name":"SMS","icon":"dashboard","order":7},{"id":"e7cb2fce.71cf6","type":"ui_tab","z":"","name":"Drive Control","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"c292f239.a96cf","type":"ui_group","z":"","name":"Vibration Bench","tab":"e7cb2fce.71cf6","disp":true,"width":"6","collapse":false},{"id":"9872534d.a4c1a","type":"s7 endpoint","z":"","transport":"iso-on-tcp","address":"192.168.52.100","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapterauto":true,"adapterport":"","busaddr":"2","adapteraddr":"0","cycletime":"1000","timeout":"150000","verbose":"default","name":"PLC Vibration Bench Read","vartable":[{"addr":"DB1,X0.0","name":"Drive_On_Off"},{"addr":"DB1,REAL2","name":"Drive_speed"},{"addr":"DB1,REAL6","name":"Actual_speed"},{"addr":"DB1,REAL246","name":"vRMS"},{"addr":"DB1,REAL252","name":"aRMS"},{"addr":"DB1,REAL258","name":"DKW"},{"addr":"DB1,REAL264","name":"Peak"},{"addr":"DB1,X20.0","name":"Measure_On_Off"}]},{"id":"1c18b565.70497b","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"Vibration_Bench","name":"Vibration_Bench","usetls":false,"tls":""},{"id":"d582785.75d8e88","type":"s7 endpoint","z":"","transport":"iso-on-tcp","address":"192.168.52.100","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","adapterauto":true,"adapterport":"","busaddr":"2","adapteraddr":"0","cycletime":"50","timeout":"1500","verbose":"default","name":"PLC_Vibration_Bench_Write","vartable":[{"addr":"DB1,X0.0","name":"Drive_On_Off"},{"addr":"DB1,REAL2","name":"Drive_speed"},{"addr":"DB1,REAL6","name":"Actual_speed"},{"addr":"DB1,REAL246","name":"vRMS"},{"addr":"DB1,REAL252","name":"aRMS"},{"addr":"DB1,REAL258","name":"DKW"},{"addr":"DB1,REAL264","name":"Peak"},{"addr":"DB1,X20.0","name":"Measure_On_Off"}]},{"id":"5804eac.1ee3914","type":"ui_template","z":"71962acd.f3cc04","group":"49708f2e.5a58","name":"Logo PES","order":1,"width":"0","height":"0","format":"<div height=\"200\" style=\"text-align: center;height: 80px;\">\n<img src=\"http://topshare.corp.ponet/sites/cs1882-Compigne40/Doc%20Dasip/Node-RED/PES_Logo.png\" width=\"250\"><br/>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":96,"y":38,"wires":[[]]},{"id":"313757a8.b31a98","type":"function","z":"71962acd.f3cc04","name":"toWriteMsg","func":"var datatypeName = \"String\";\nvar v = context.get('v')|| null;\nvar name = context.get('name')|| null;\nvar nodeId = context.get('nodeId') || null;\nif (msg.topic == \"name\")\n{\n    name = msg.payload;\n    context.set(\"name\", name);\n}\nif (msg.topic == \"nodeid\")\n{\n    nodeId = msg.payload;\n    context.set(\"nodeId\", nodeId);\n}\nif (msg.topic ==\"scan\")\n{\n    v = msg.payload;\n}\nif (v !== null && name !== null && nodeId !== null)\n{\n    msg.nodetype = 'inject';\n    msg.injectType = 'write';\n    msg.addressSpaceItems = [{name, nodeId, datatypeName}];\n    msg.valuesToWrite = [v];\n    delete(msg.topic);\n    delete(msg.payload);\n    return msg;\n}","outputs":1,"noerr":0,"x":1090,"y":200,"wires":[["6d7a665.ba72c98"]]},{"id":"6d7a665.ba72c98","type":"OPCUA-IIoT-Write","z":"71962acd.f3cc04","connector":"517b3d6d.286404","name":"","justValue":false,"showStatusActivities":true,"showErrors":false,"x":1230,"y":200,"wires":[["f44f1f87.6b9c4"]]},{"id":"f44f1f87.6b9c4","type":"function","z":"71962acd.f3cc04","name":"toReadMsg","func":"msg.nodetype = 'inject';\nmsg.injectType = 'read';\ndelete msg['valuesToWrite'];\nmsg.payload = {};\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":200,"wires":[["5b05d753.df29a8"]]},{"id":"5b05d753.df29a8","type":"OPCUA-IIoT-Read","z":"71962acd.f3cc04","attributeId":"0","maxAge":1,"depth":1,"connector":"517b3d6d.286404","name":"","justValue":true,"showStatusActivities":false,"showErrors":false,"parseStrings":false,"historyDays":"","x":1510,"y":200,"wires":[["aeda5e03.72a86"]]},{"id":"aeda5e03.72a86","type":"split","z":"71962acd.f3cc04","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1630,"y":200,"wires":[["7d74be5.099994"]]},{"id":"7d74be5.099994","type":"change","z":"71962acd.f3cc04","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1780,"y":200,"wires":[["218b0911.eb05d6"]]},{"id":"218b0911.eb05d6","type":"ui_text","z":"71962acd.f3cc04","group":"49708f2e.5a58","order":16,"width":0,"height":0,"name":"StatusWS","label":"Mode of the Workstation:","format":"{{msg.payload}}","layout":"row-left","x":1020,"y":720,"wires":[]},{"id":"4f2f7ab5.08ea94","type":"function","z":"71962acd.f3cc04","name":"GetScanValue","func":"msg.topic = 'scan';\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":260,"wires":[["313757a8.b31a98"]]},{"id":"313a2096.08ed6","type":"ui_template","z":"71962acd.f3cc04","group":"49708f2e.5a58","name":"PES Link","order":14,"width":0,"height":0,"format":"<div style=\"text-align: center;\">\n    <a\n    target=\"_blank\"\n    href={{msg.link}} style=\"text-decoration:none;\">\n        <span style=\"display:block; text-align:center; font-weight:bold; font-size:26px; color:rgb(0,85,161);\"> \nPES screen of the Workstation\n        </span>\n    </a>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1040,"y":320,"wires":[[]]},{"id":"7333b61a.da72b8","type":"function","z":"71962acd.f3cc04","name":"GetNodeName","func":"msg.topic = 'name'\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":200,"wires":[["313757a8.b31a98","27dbf1e4.93890e"]]},{"id":"78ac2475.d27b9c","type":"ui_button","z":"71962acd.f3cc04","name":"Reset","group":"49708f2e.5a58","order":18,"width":0,"height":0,"passthru":true,"label":"Reset selections (disconnect)","tooltip":"Resets the different connections","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"reset","x":70,"y":440,"wires":[["c3251d36.4cacf","b5c0f9a6.d44de8","17ef8118.e2e12f","dd9de27.d08742","115700c6.b4eabf"]]},{"id":"208efc57.0248d4","type":"OPCUA-IIoT-Flex-Connector","z":"71962acd.f3cc04","name":"","showStatusActivities":false,"showErrors":false,"connector":"517b3d6d.286404","x":800,"y":380,"wires":[[]]},{"id":"c3251d36.4cacf","type":"ui_dropdown","z":"71962acd.f3cc04","name":"SelectServ","label":"Select server:","tooltip":"Used for selecting the OPC server","place":"Server Selector","group":"49708f2e.5a58","order":4,"width":0,"height":0,"passthru":true,"options":[{"label":"Pre Prod Com","value":"opc.tcp://SCOMWQ0301.ad.ponet:49320","type":"str"}],"payload":"","topic":"OPCServ","x":430,"y":380,"wires":[["a5a0d08c.70df4","1a2f3fb1.ce146"]]},{"id":"a5a0d08c.70df4","type":"function","z":"71962acd.f3cc04","name":"ConnectServ","func":"msg.injectType = 'inject';\nmsg.payloadType = 'json';\nreturn {payload: {\n    \"discoveryUrl\": null,\n    \"endpoint\": msg.payload,\n    \"keepSessionAlive\": true,\n    \"securityPolicy\": \"None\",\n    \"securityMode\": \"NONE\",\n    \"name\": \"\",\n    \"showErrors\": true,\n    \"publicCertificateFile\": null,\n    \"privateKeyFile\": null,\n    \"defaultSecureTokenLifetime\": 0,\n    \"endpointMustExist\": false,\n    \"autoSelectRightEndpoint\": false,\n    \"strategyMaxRetry\": 0,\n    \"strategyInitialDelay\": 0,\n    \"strategyMaxDelay\": 0,\n    \"strategyRandomisationFactor\": 0,\n    \"requestedSessionTimeout\": 0,\n    \"connectionStartDelay\": 0,\n    \"reconnectDelay\": 0\n}\n}","outputs":1,"noerr":0,"x":630,"y":380,"wires":[["208efc57.0248d4"]]},{"id":"b5c0f9a6.d44de8","type":"ui_dropdown","z":"71962acd.f3cc04","name":"SelectWS","label":"Select a Workstation:","tooltip":"Used for selecting the workstation needed","place":"Workstation Selector","group":"49708f2e.5a58","order":12,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"reset","x":440,"y":260,"wires":[["7333b61a.da72b8","1a2f3fb1.ce146"]]},{"id":"dc3db589.167e78","type":"status","z":"71962acd.f3cc04","name":"","scope":["208efc57.0248d4"],"x":420,"y":440,"wires":[["74ea1845.5f8298"]],"outputLabels":["msg.status.text"]},{"id":"17ef8118.e2e12f","type":"function","z":"71962acd.f3cc04","name":"ResetString","func":"if (msg.topic == 'reset')\n{\n    return {payload: ''};\n}","outputs":1,"noerr":0,"x":430,"y":720,"wires":[["218b0911.eb05d6"]]},{"id":"27dbf1e4.93890e","type":"function","z":"71962acd.f3cc04","name":"GetNodeID","func":"return {\n    payload: 'ns=2;s=' + msg.payload + '_SCAN1.Data.Scan',\n    topic: \"nodeid\"\n}","outputs":1,"noerr":0,"x":870,"y":140,"wires":[["313757a8.b31a98"]]},{"id":"efdca0cb.de8a6","type":"status","z":"71962acd.f3cc04","name":"","scope":["774499b5.f26a98"],"x":420,"y":640,"wires":[["cc2ea408.86f388"]],"outputLabels":["msg.status.text"]},{"id":"cc2ea408.86f388","type":"function","z":"71962acd.f3cc04","name":"WsState","func":"var string = context.get('string')|| null;\nif (msg.status.text == 'crawling')\n{\n    string = 'Connecting'\n    context.set(\"string\", string);\n    return {payload: string};\n}\nif (msg.status.text == 'active' && string == 'Connecting')\n{\n    string = 'Connected, please select a workstation'\n    return {payload: string};\n}","outputs":1,"noerr":0,"x":560,"y":640,"wires":[["8d569742.4f52a8"]]},{"id":"74ea1845.5f8298","type":"function","z":"71962acd.f3cc04","name":"ServState","func":"if (msg.status.text == 'active')\n{\n    return {payload: 'Connected, click the button below'};\n}","outputs":1,"noerr":0,"x":560,"y":440,"wires":[["ed36b704.2b5878"]]},{"id":"5952cd6e.d2b3f4","type":"inject","z":"71962acd.f3cc04","name":"SetStatus","topic":"","payload":"Waiting for connection","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":700,"y":540,"wires":[["93e07690.34ac88","7e6dc7c1.29d318"]]},{"id":"8d569742.4f52a8","type":"function","z":"71962acd.f3cc04","name":"SetLed","func":"if (msg.payload == 'Connecting')\n{\n    msg.color = \"#f4a142\";\n    return msg;\n}\nelse if (msg.payload == 'Connected, please select a workstation')\n{\n    msg.color = \"#00FF00\";\n    return msg;\n}","outputs":1,"noerr":0,"x":700,"y":640,"wires":[["93e07690.34ac88"]]},{"id":"93e07690.34ac88","type":"ui_template","z":"71962acd.f3cc04","group":"49708f2e.5a58","name":"LedWS","order":10,"width":"0","height":"0","format":"<style>\n.led {\n    float: left;\n    padding: 3px;\n    width: 10px;\n    height: 10px;\n    border-radius: 50%;\n    background-color: #FF0000;\n}\n</style>\n\n<div>\n    <span style=\"margin-left:15px;\">\n        Workstations status:\n    </span>\n    <span style=\"font-weight:bold;margin-left:10px;\">\n        {{msg.payload}}\n    </span>\n    <span class=\"led\" style=\"margin-top:5px;margin-left:15px;background-color: {{msg.color}}; box-shadow: black 0 -1px 1px 0px, inset black  0 -1px 4px, {{msg.color}} 0 3px 15px;\">\n    </span>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":880,"y":580,"wires":[[]]},{"id":"dd9de27.d08742","type":"function","z":"71962acd.f3cc04","name":"ResetLed","func":"if (msg.topic == 'reset')\n{\n    msg.payload = \"Waiting for connection\";\n    msg.color = \"#FF0000\";\n    return msg;\n}","outputs":1,"noerr":0,"x":420,"y":580,"wires":[["93e07690.34ac88"]]},{"id":"7e6dc7c1.29d318","type":"ui_template","z":"71962acd.f3cc04","group":"49708f2e.5a58","name":"LedServ","order":6,"width":"0","height":"0","format":"<style>\n.led {\n    float: left;\n    padding: 3px;\n    width: 10px;\n    height: 10px;\n    border-radius: 50%;\n    background-color: #FF0000;\n}\n</style>\n\n<div>\n    <span style=\"margin-left:15px;\">\n        Server status:\n    </span>\n    <span style=\"font-weight:bold;margin-left:10px;\">\n        {{msg.payload}}\n    </span>\n    <span class=\"led\" style=\"margin-top:5px;margin-left:15px;background: {{msg.color}};box-shadow: black 0 -1px 1px 0px, inset black  0 -1px 4px, {{msg.color}} 0 3px 15px;\">\n    </span>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":880,"y":500,"wires":[[]]},{"id":"115700c6.b4eabf","type":"function","z":"71962acd.f3cc04","name":"ResetLed","func":"if (msg.topic == 'reset')\n{\n    msg.payload = \"Waiting for connection\";\n    msg.color = \"#FF0000\";\n    return msg;\n}","outputs":1,"noerr":0,"x":420,"y":500,"wires":[["7e6dc7c1.29d318"]]},{"id":"ed36b704.2b5878","type":"function","z":"71962acd.f3cc04","name":"SetLed","func":"if (msg.payload == 'Connected, click the button below')\n{\n    msg.color = \"#00FF00\";\n    return msg;\n}","outputs":1,"noerr":0,"x":700,"y":440,"wires":[["7e6dc7c1.29d318"]]},{"id":"eaa9704f.b9cbf","type":"file","z":"d887781a.e09d98","name":"CSV MSR","filename":"D:\\Vincent Ciancio\\PoC\\PoC IoT\\6 - MSR Node-RED\\MSR - Status.csv","appendNewline":false,"createDir":true,"overwriteFile":"false","x":710,"y":60,"wires":[[]]},{"id":"be025dfe.c7acb","type":"csv","z":"d887781a.e09d98","name":"","sep":",","hdrin":"","hdrout":false,"multi":"one","ret":"\\r\\n","temp":"","skip":"0","x":530,"y":60,"wires":[["eaa9704f.b9cbf"]]},{"id":"13aa608f.89114f","type":"debug","z":"d887781a.e09d98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":690,"y":200,"wires":[]},{"id":"85342016.62cf","type":"function","z":"d887781a.e09d98","name":"Timestamp","func":"//msg.timestamp = new Date().toLocaleString();\n//msg.timestamp = new Date().getTime();\nvar now = new Date();\nmsg.timestamp = Date.UTC(now.getUTCFullYear(),now.getUTCMonth(), now.getUTCDate() , \n      now.getUTCHours(), now.getUTCMinutes(), now.getUTCSeconds(), now.getUTCMilliseconds());\ndelete(msg.topic);\nmsg.payload = [\n    {value: msg.payload,\n    time: msg.timestamp},\n    {\n        name: 'test',\n    }\n    ];\nmsg.measurement = 'OK';\nreturn msg; ","outputs":1,"noerr":0,"x":330,"y":60,"wires":[["13aa608f.89114f"]]},{"id":"191ca2fb.93541d","type":"file","z":"eae97cfd.dc1d9","name":"CSV MSR","filename":"D:\\Vincent Ciancio\\PoC\\PoC IoT\\6 - MSR Node-RED\\MSRTest - CurrentStatus.csv","appendNewline":false,"createDir":true,"overwriteFile":"false","x":1010,"y":720,"wires":[[]]},{"id":"98cc050f.6cb5e8","type":"csv","z":"eae97cfd.dc1d9","name":"","sep":",","hdrin":"","hdrout":false,"multi":"one","ret":"\\r\\n","temp":"","skip":"0","x":870,"y":720,"wires":[["191ca2fb.93541d"]]},{"id":"1965cecd.afb921","type":"function","z":"eae97cfd.dc1d9","name":"SetBoolean","func":"if (msg.payload === false)\n{\n    msg.payload = 0\n}\nelse if(msg.payload === true)\n{\n    msg.payload = 1\n}\ndelete(msg.parts);\nreturn msg;","outputs":1,"noerr":0,"x":90,"y":820,"wires":[["2bf3034.517a3fc","3bd4c240.e08dde"]]},{"id":"2bf3034.517a3fc","type":"function","z":"eae97cfd.dc1d9","name":"SetMeasurement","func":"if(msg.payload == 1)\n{\n    msg.payload = msg.topic\n    msg.measurement = 'Coex'\n    delete(msg.topic);\n    return msg;\n}","outputs":1,"noerr":0,"x":310,"y":780,"wires":[[]]},{"id":"3bd4c240.e08dde","type":"function","z":"eae97cfd.dc1d9","name":"SetMeasurement2","func":"var str = msg.topic\nmsg.payload = {value: msg.payload};\nstr = str.replace(\" \", \"_\")\nmsg.measurement = str;\ndelete(msg.topic);\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":860,"wires":[[]]},{"id":"452dfbc8.1bec94","type":"function","z":"885b552b.80c768","name":"TimestampStart","func":"start = new Date()//.toLocaleString();\nflow.set(\"start\",start)\nmsg.topic = 'start'\nmsg.start = start\ndelete(msg.timestamp)\nreturn msg; ","outputs":1,"noerr":0,"x":400,"y":120,"wires":[[]]},{"id":"b6478dbb.a21f6","type":"inject","z":"885b552b.80c768","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":160,"wires":[["99b3f812.578bc8"]]},{"id":"28a1cf93.9ff55","type":"debug","z":"885b552b.80c768","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":870,"y":200,"wires":[]},{"id":"2dfeb71d.875e68","type":"function","z":"885b552b.80c768","name":"TimestampEnd","func":"end = new Date()//.toLocaleString();\nflow.set(\"end\",end)\nmsg.topic = 'end'\nmsg.end = end\ndelete(msg.timestamp)\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":200,"wires":[["48a5811.4f0c88"]]},{"id":"48a5811.4f0c88","type":"function","z":"885b552b.80c768","name":"TimestampEnd","func":"if (msg.topic == \"end\")\n{\n    msg.payload = Math.floor((flow.get('end') - flow.get('start'))/1000)\n    delete(msg.topic)\n    msg.end = flow.get(\"end\").toLocaleString()\n    return msg; \n}\n","outputs":1,"noerr":0,"x":720,"y":200,"wires":[["28a1cf93.9ff55"]]},{"id":"77ad5628.bbf638","type":"delay","z":"885b552b.80c768","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":200,"wires":[["2dfeb71d.875e68"]]},{"id":"99b3f812.578bc8","type":"function","z":"885b552b.80c768","name":"Var","func":"var start = flow.get(\"start\")||null;\nvar end = flow.get(\"end\")||null;\nreturn msg; ","outputs":1,"noerr":0,"x":230,"y":160,"wires":[["452dfbc8.1bec94","77ad5628.bbf638"]]},{"id":"d12aa601.106708","type":"inject","z":"885b552b.80c768","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":380,"wires":[["cb41f35b.96e11"]]},{"id":"cb41f35b.96e11","type":"function","z":"885b552b.80c768","name":"TimestampStart","func":"start = new Date().toLocaleString();\nmsg.payload = start\nreturn msg; ","outputs":1,"noerr":0,"x":380,"y":380,"wires":[["a23396c7.a9e268"]]},{"id":"a23396c7.a9e268","type":"debug","z":"885b552b.80c768","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":590,"y":380,"wires":[]},{"id":"fcb8e006.73711","type":"function","z":"eae97cfd.dc1d9","name":"ManualStatus","func":"var status = 'OK';\nflow.set('status',status);\nreturn {payload: flow.get('status')}","outputs":1,"noerr":0,"x":260,"y":700,"wires":[[]]},{"id":"bb047284.724f9","type":"inject","z":"eae97cfd.dc1d9","name":"Inject","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":700,"wires":[["fcb8e006.73711"]]},{"id":"8dab4425.7aef48","type":"function","z":"eae97cfd.dc1d9","name":"SendStatus","func":"if (flow.get('count') === 0)\n{\n    start = new Date();\n    flow.set(\"start\",start);\n    flow.set('status',flow.get('detect'));\n    msg.payload = flow.get('status');\n    msg.start = start;\n    var count = flow.get('count') + 1;\n    flow.set('count',count);\n    return {payload: {\n        start: msg.start.toLocaleString(),\n        end: '',\n        duration: '',\n        status: msg.payload},\n        topic: 'new'\n        };\n}\nif (flow.get('detect') !== flow.get('status'))\n{\n    flow.set(\"status\", flow.get('detect'));\n    msg.payload = flow.get('status');\n    end = new Date();\n    flow.set('end',end);\n    duration = Math.floor((flow.get('end') - flow.get('start'))/60000);\n    flow.set('duration',duration);\n    msg.end = flow.get('end');\n    msg.duration = duration;\n    node.send({payload: {\n        start:flow.get('start').toLocaleString(),\n        end:msg.end.toLocaleString(),\n        duration:flow.get('duration'),\n        status:flow.get('status')\n    },\n    topic: 'finished'\n    });\n    flow.set('start',end);\n    return {payload: {\n        start: flow.get('start').toLocaleString(),\n        end: '',\n        duration: '',\n        status: msg.payload},\n        topic: 'new'\n    }\n}","outputs":1,"noerr":0,"x":530,"y":760,"wires":[["ae6ed9f5.f381d8"]]},{"id":"f9b8de0c.e03e5","type":"s7 in","z":"1468ae93.06f8a1","endpoint":"2996ceeb.129a52","mode":"all","variable":"","diff":false,"name":"","x":100,"y":80,"wires":[["1322ad4c.0a0cc3"]]},{"id":"e31780e1.8d964","type":"influxdb out","z":"1468ae93.06f8a1","influxdb":"a7b4c7aa.63b7d8","name":"","measurement":"","precision":"","retentionPolicy":"","x":940,"y":140,"wires":[]},{"id":"f1900226.8d9d6","type":"function","z":"1468ae93.06f8a1","name":"SetMeasurement3","func":"msg.measurement = 'MSR_COEX';\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":80,"wires":[["e31780e1.8d964"]]},{"id":"1322ad4c.0a0cc3","type":"split","z":"1468ae93.06f8a1","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":250,"y":80,"wires":[["2d176cac.2f2064"]]},{"id":"a872a3f9.301bb","type":"join","z":"1468ae93.06f8a1","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":530,"y":80,"wires":[["f1900226.8d9d6"]]},{"id":"6b501ba0.954104","type":"nbrowser","z":"1468ae93.06f8a1","name":"GetHTML","methods":[{"name":"gotoURL","func":"goto","params":[{"type":"msg","value":"payload","typeDefault":"str"}]},{"name":"wait","func":"wait","params":[{"type":"str","value":"5","typeDefault":"str"}]},{"name":"getHTML","func":"getHTML","params":[{"type":"str","value":"","typeDefault":"str"},{"type":"msg","value":"payload","typeDefault":"output"}]}],"prop":"nbrowser","propout":"payload","object":"msg","objectout":"msg","close":false,"show":false,"ssl":false,"outputs":1,"x":400,"y":200,"wires":[["b7db3dfb.ae6a"]]},{"id":"213821c5.14b7fe","type":"inject","z":"1468ae93.06f8a1","name":"","topic":"","payload":"http://SCOMWP0301/apriso/portal/kiosk/login.aspx?menuitemid=100000430&TabID=100000006&EquipmentLogin=true&EquipmentName=B_COEX1_BMM272&LoginName=B_COEX1_BMM272&Alias=IN_WorkstationScreen","payloadType":"str","repeat":"10","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":200,"wires":[["6b501ba0.954104"]]},{"id":"b7db3dfb.ae6a","type":"function","z":"1468ae93.06f8a1","name":"GetStatusPES","func":"var status;\nvar result = msg.payload.split('in-productionmode-desc\">')[1]\nvar result1 = result.split(\"</\")[0]\nvar result2 = result1.split(\" - \")[0]\nvar result3 = result1.split(\" - \")[1]\nif (result3 == \"Production\")\n{\n    status = result3\n}\nelse if (result3 == 'Changement de Production')\n{\n    status = 'Change Over'\n}\nelse if (result3 == \"Purge d'Arrêt / Arrêt Machine\")\n{\n    status = 'Purge Out'\n}\nelse if (result2 == 'Downtime')\n{\n    status = result2\n}\nelse\n{\n    status = 'Purge In'\n}\nvar msg1 = {payload: status, measurement: 'PES_STATUS'}\nreturn [msg,msg1];","outputs":2,"noerr":0,"x":700,"y":200,"wires":[["c328f2ab.d422a"],["e31780e1.8d964"]]},{"id":"c328f2ab.d422a","type":"nbrowser","z":"1468ae93.06f8a1","name":"CloseScreen","methods":[{"name":"wait","func":"wait","params":[{"type":"str","value":"0.1","typeDefault":"str"}]}],"prop":"nbrowser","propout":"payload","object":"msg","objectout":"msg","close":true,"show":false,"ssl":false,"outputs":0,"x":930,"y":260,"wires":[]},{"id":"2d176cac.2f2064","type":"function","z":"1468ae93.06f8a1","name":"SetBoolean","func":"if (msg.payload === false)\n{\n    msg.payload = 0;\n}\nelse if(msg.payload === true)\n{\n    if (msg.topic == 'Downtime' || msg.topic == 'Production' || msg.topic == 'Purge_In' || msg.topic == 'Purge_Out')\n    {\n        msg.payload = msg.topic;\n        msg.parts.key = 'Status'\n    }\n    else\n    {\n        msg.payload = 1;\n    }\n}\ndelete(msg.topic);\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":80,"wires":[["a872a3f9.301bb"]]},{"id":"ae6ed9f5.f381d8","type":"switch","z":"eae97cfd.dc1d9","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"new","vt":"str"},{"t":"eq","v":"finished","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":760,"wires":[["98cc050f.6cb5e8"],["cdb9daa4.0f72d8"]]},{"id":"cdb9daa4.0f72d8","type":"csv","z":"eae97cfd.dc1d9","name":"","sep":",","hdrin":"","hdrout":false,"multi":"one","ret":"\\r\\n","temp":"","skip":"0","x":870,"y":800,"wires":[["8fbe4a39.92bb78"]]},{"id":"8fbe4a39.92bb78","type":"file","z":"eae97cfd.dc1d9","name":"CSV MSR","filename":"D:\\Vincent Ciancio\\PoC\\PoC IoT\\6 - MSR Node-RED\\MSRTest - ArchiveStatus.csv","appendNewline":false,"createDir":true,"overwriteFile":"false","x":1010,"y":800,"wires":[[]]},{"id":"90e3f89e.9f73e8","type":"function","z":"eae97cfd.dc1d9","name":"Hoppers","func":"if (msg.HOPPER_A === true || msg.HOPPER_B === true || msg.HOPPER_C === true || msg.HOPPER_D === true || msg.HOPPER_E === true || msg.HOPPER_F === true)\n{\n    if (flow.get('hoppers') !== true)\n    {\n        flow.set('hoppers',true);\n    }\n}\nelse\n{\n    if (flow.get('hoppers') !== false)\n    {\n        flow.set('hoppers',false);\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":540,"wires":[[]]},{"id":"76e5b5e7.8186bc","type":"function","z":"eae97cfd.dc1d9","name":"ExtrudersOn","func":"if (msg.ExtrA_OFF === false || msg.ExtrB_OFF === false || msg.ExtrC_OFF === false || msg.ExtrD_OFF === false || msg.ExtrE_OFF === false || msg.ExtrF_OFF === false)\n{\n    if (flow.get('extrudersOn') !== true)\n    {\n        flow.set('extrudersOn',true);\n    }\n}\nelse\n{\n    if (flow.get('extrudersOn') !== false)\n    {\n        flow.set('extrudersOn',false);\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":540,"wires":[["90e3f89e.9f73e8"]]},{"id":"ca304cac.59f08","type":"function","z":"eae97cfd.dc1d9","name":"ExtrudersRun","func":"if (msg.ExtSpeedA === 0 || msg.ExtSpeedB === 0 || msg.ExtSpeedC === 0 || msg.ExtSpeedD === 0 || msg.ExtSpeedE === 0 || msg.ExtSpeedF === 0)\n{\n    if (flow.get('extrudersRun') !== false)\n    {\n        flow.set('extrudersRun',false);\n    }\n}\nelse\n{\n    if (flow.get('extrudersRun') !== true)\n    {\n        flow.set('extrudersRun',true);\n    }\n}\n        return msg;","outputs":1,"noerr":0,"x":100,"y":540,"wires":[["9c08ed8f.9a749"]]},{"id":"7e7b9b59.f47df4","type":"debug","z":"eae97cfd.dc1d9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":410,"y":640,"wires":[]},{"id":"1cc7dd6e.ac5a73","type":"function","z":"eae97cfd.dc1d9","name":"GetVarsValues","func":"return {payload :\n{status: flow.get('status'),\nstart: flow.get('start').toLocaleString(),\ndetect: flow.get('detect'),\nmold: flow.get('mold'),\nhoppers: flow.get('hoppers'),\nextrudersOn: flow.get('extrudersOn'),\nextrudersRun: flow.get('extrudersRun'),\nextrudersStop: flow.get('extrudersStop')}}","outputs":1,"noerr":0,"x":260,"y":640,"wires":[["7e7b9b59.f47df4"]]},{"id":"294d0df2.433182","type":"inject","z":"eae97cfd.dc1d9","name":"Inject","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":640,"wires":[["1cc7dd6e.ac5a73"]]},{"id":"9c08ed8f.9a749","type":"function","z":"eae97cfd.dc1d9","name":"ExtrudersStop","func":"if (msg.ExtSpeedA === 0 && msg.ExtSpeedB === 0 && msg.ExtSpeedC === 0 && msg.ExtSpeedD === 0 && msg.ExtSpeedE === 0 && msg.ExtSpeedF === 0)\n{\n    if (flow.get('extrudersStop') !== true)\n    {\n        flow.set('extrudersStop',true);\n    }\n}\nelse\n{\n    flow.set('extrudersStop',false)\n}\n        return msg;","outputs":1,"noerr":0,"x":280,"y":540,"wires":[["76e5b5e7.8186bc"]]},{"id":"1408e5c.d9c491a","type":"function","z":"eae97cfd.dc1d9","name":"Auto Purge In","func":"if ((msg.P_IN_A === true || msg.P_IN_B === true || msg.P_IN_C === true || msg.P_IN_D === true || msg.P_IN_E === true || msg.P_IN_F === true) && (msg.MODE_AUTO === false))\n{\n    flow.set('detect','Purge In');\n    return msg;\n}","outputs":1,"noerr":0,"x":720,"y":440,"wires":[["96796c3c.c3064"]]},{"id":"9a25c688.46f258","type":"function","z":"eae97cfd.dc1d9","name":"Production","func":"if (msg.MODE_AUTO === true && flow.get('hoppers') === true && flow.get('extrudersOn') === true && flow.get('extrudersRun') === true && msg.CONTROL_LOCK_OFF === true && msg.CONTROL_STOP_OFF === true)\n{\n    flow.set('detect','Production');\n    return msg;\n}","outputs":1,"noerr":0,"x":730,"y":280,"wires":[["96796c3c.c3064"]]},{"id":"10f7a118.14510f","type":"function","z":"eae97cfd.dc1d9","name":"Auto Purge Out","func":"if ((msg.P_OUT_A === true || msg.P_OUT_B === true || msg.P_OUT_C === true || msg.P_OUT_D === true || msg.P_OUT_E === true || msg.P_OUT_F === true) && (msg.MODE_AUTO === false && flow.get('extrudersStop') !== true))\n{\n    flow.set('detect','Purge Out');\n    return msg;\n}","outputs":1,"noerr":0,"x":720,"y":240,"wires":[["96796c3c.c3064"]]},{"id":"7e0ac1ea.33bb6","type":"function","z":"eae97cfd.dc1d9","name":"Change Over","func":"if (flow.get('mold') === null)\n{\n    flow.set('mold',msg.MoldNo);\n}\nif (msg.MoldNo !== flow.get('mold'))\n{\n    flow.set('mold',msg.MoldNo);\n    flow.set('detect','Change Over');\n    node.send(msg);\n}\nif (flow.get('hoppers') === false)\n{\n    flow.set('change_detect1',true);\n}\nelse\n{\n    flow.set('change_detect1',false);\n}\nif (flow.get('change_detect1') === true && msg.STOP_HOPPER_F === true)\n{\n    flow.set('change_detect2',true);\n}\nelse\n{\n    flow.set('change_detect2',false);\n}\nif (flow.get('change_detect2') === true && msg.MODE_AUTO === false)\n{\n    flow.set('detect','Change Over');\n    flow.set('change_detect1',false);\n    flow.set('change_detect2',false);\n    return msg;\n}","outputs":1,"noerr":0,"x":730,"y":360,"wires":[["96796c3c.c3064"]]},{"id":"eda06f06.ccd0c","type":"function","z":"eae97cfd.dc1d9","name":"Downtime","func":"if (msg.GATE_AUTO === true || msg.RELEASE_MISSING === true)\n{\n    flow.set('detect','Downtime');\n    return msg;\n}\nif (msg.MODE_AUTO === false && flow.get('extrudersStop') === true)\n{\n    flow.set('detect','Downtime');\n    return msg;\n}\nif (msg.TIME_EXCEEDED === true && flow.get('hoppers') === true)\n{\n    flow.set('detect','Downtime');\n    return msg;\n}\nif (flow.get('detect') === 'Purge In' && msg.MODE_AUTO === true && (msg.P_IN_A ===  false && msg.P_IN_B === false && msg.P_IN_C === false && msg.P_IN_D === false && msg.P_IN_E === false && msg.P_IN_F === false))\n{\n    flow.set('detect','Downtime');\n    return msg;\n}\nif (flow.get('detect') === 'Production' && msg.MODE_AUTO === false)\n{\n    flow.set('detect','Downtime');\n    return msg;\n}","outputs":1,"noerr":0,"x":720,"y":400,"wires":[["96796c3c.c3064"]]},{"id":"7e3b129.8ac89ec","type":"function","z":"eae97cfd.dc1d9","name":"CreateFlowVars","func":"var status = null;\nvar start = null;\n//var end = null;\n//var duration = null;\n//var count = 0;\nvar detect = null;\nvar mold = null;\nvar hoppers = null;\nvar extrudersOn = null;\nvar extrudersRun = null;\nvar extrudersStop = null;\nvar change_detect1 = null;\nvar change_detect2 = null;\nflow.set('status',status);\nflow.set('start',start);\n//flow.set('end',end);\n//flow.set('duration',duration);\n//flow.set('count',count);\nflow.set('detect',detect);\nflow.set('mold',mold);\nflow.set('hoppers',hoppers);\nflow.set('extrudersOn',extrudersOn);\nflow.set('extrudersRun',extrudersRun);\nflow.set('extrudersStop',extrudersStop);\nflow.set('change_detect1',change_detect1);\nflow.set('change_detect2',change_detect2);\nnode.status({fill:\"green\",shape:\"dot\",text: 'Initialized'});\n//return {count:count,status:status,detect:detect};","outputs":1,"noerr":0,"x":280,"y":440,"wires":[[]]},{"id":"e4b2a535.58e058","type":"inject","z":"eae97cfd.dc1d9","name":"Inject","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":440,"wires":[["7e3b129.8ac89ec"]]},{"id":"81a77f24.08aae","type":"function","z":"eae97cfd.dc1d9","name":"Manual Purge In","func":"if ((msg.HOPPER_A === true && msg.HOPPER_B === true && msg.HOPPER_C === true && msg.HOPPER_D === true && msg.HOPPER_E === true && msg.HOPPER_F === true && msg.ADD_HOPPER_A === true && msg.ADD_HOPPER_F === true && msg.MODE_AUTO === false && flow.get('detect') === 'Downtime'))\n{\n    flow.set('detect','Purge In');\n    return msg;\n}","outputs":1,"noerr":0,"x":720,"y":480,"wires":[["96796c3c.c3064"]]},{"id":"140888e3.26b827","type":"function","z":"eae97cfd.dc1d9","name":"Manual Purge Out","func":"if (((msg.MANUAL_P_OUT_A === true && msg.ADD_HOPPER_A === true) || (msg.MANUAL_P_OUT_F === true && msg.ADD_HOPPER_F === true)) && (msg.MODE_AUTO === false))\n{\n    flow.set('detect','Purge Out');\n    return msg;\n}","outputs":1,"noerr":0,"x":730,"y":200,"wires":[["96796c3c.c3064"]]},{"id":"4ba061bc.d418f","type":"function","z":"eae97cfd.dc1d9","name":"GetPayload","func":"return msg.payload;","outputs":1,"noerr":0,"x":270,"y":340,"wires":[["303c633c.98860c"]]},{"id":"654a1076.6063c","type":"file","z":"eae97cfd.dc1d9","name":"CSV MSR","filename":"D:\\Vincent Ciancio\\PoC\\PoC IoT\\6 - MSR Node-RED\\MSRTest.csv","appendNewline":false,"createDir":true,"overwriteFile":"false","x":1290,"y":340,"wires":[[]]},{"id":"ed1f8787.fea2b8","type":"csv","z":"eae97cfd.dc1d9","name":"","sep":",","hdrin":"","hdrout":false,"multi":"one","ret":"\\r\\n","temp":"","skip":"0","x":1150,"y":340,"wires":[["654a1076.6063c"]]},{"id":"96796c3c.c3064","type":"function","z":"eae97cfd.dc1d9","name":"SendStatus","func":"if (flow.get('detect') !== flow.get('status'))\n{\n    start = new Date();\n    flow.set('start',start);\n    flow.set('status',flow.get('detect'));\n    msg.payload = flow.get('status');\n    msg.start = start;\n    return {payload: {\n        start: msg.start.toLocaleString(),\n        status: msg.payload},\n        };\n}","outputs":1,"noerr":0,"x":990,"y":340,"wires":[[]]},{"id":"783a2e07.41b62","type":"function","z":"eae97cfd.dc1d9","name":"Startup","func":"if (msg.MODE_AUTO === true && flow.get('hoppers') === true && flow.get('extrudersOn') === true && flow.get('extrudersRun') === true && msg.CONTROL_LOCK_OFF === false && msg.CONTROL_STOP_OFF === false)\n{\n    flow.set('detect','Startup');\n    return msg;\n}","outputs":1,"noerr":0,"x":720,"y":320,"wires":[["96796c3c.c3064"]]},{"id":"d811b66c.ccf518","type":"function","z":"eae97cfd.dc1d9","name":"SetMeasurement","func":"msg.measurement = 'MSR_COEX';\nmsg.payload['status'] = flow.get('status');\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":60,"wires":[["a248a8e.eae3d58"]]},{"id":"7c9fd7b9.eba008","type":"split","z":"eae97cfd.dc1d9","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":450,"y":60,"wires":[["a7fcde60.db6c6"]]},{"id":"eb22f69f.6e6728","type":"join","z":"eae97cfd.dc1d9","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":750,"y":60,"wires":[["d811b66c.ccf518"]]},{"id":"a7fcde60.db6c6","type":"function","z":"eae97cfd.dc1d9","name":"SetStatus","func":"if(msg.payload === true)\n{\n    if (msg.topic == 'Downtime' || msg.topic == 'Production' || msg.topic == 'Purge_In' || msg.topic == 'Purge_Out')\n    {\n        msg.payload = msg.topic;\n        msg.parts.key = 'MSR_PLC_Status'\n    }\n}\ndelete(msg.topic);\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":60,"wires":[["eb22f69f.6e6728"]]},{"id":"a248a8e.eae3d58","type":"influxdb out","z":"eae97cfd.dc1d9","influxdb":"953da3fe.07a58","name":"","measurement":"","precision":"","retentionPolicy":"","x":1310,"y":60,"wires":[]},{"id":"303c633c.98860c","type":"function","z":"eae97cfd.dc1d9","name":"Extruders/Hoppers","func":"if (msg.ExtSpeedA === 0 || msg.ExtSpeedB === 0 || msg.ExtSpeedC === 0 || msg.ExtSpeedD === 0 || msg.ExtSpeedE === 0 || msg.ExtSpeedF === 0)\n{\n    if (flow.get('extrudersRun') !== false)\n    {\n        flow.set('extrudersRun',false);\n    }\n}\nelse\n{\n    if (flow.get('extrudersRun') !== true)\n    {\n        flow.set('extrudersRun',true);\n    }\n}\nif (msg.ExtSpeedA === 0 && msg.ExtSpeedB === 0 && msg.ExtSpeedC === 0 && msg.ExtSpeedD === 0 && msg.ExtSpeedE === 0 && msg.ExtSpeedF === 0)\n{\n    if (flow.get('extrudersStop') !== true)\n    {\n        flow.set('extrudersStop',true);\n    }\n}\nelse\n{\n    flow.set('extrudersStop',false)\n}\nif (msg.ExtrA_OFF === false || msg.ExtrB_OFF === false || msg.ExtrC_OFF === false || msg.ExtrD_OFF === false || msg.ExtrE_OFF === false || msg.ExtrF_OFF === false)\n{\n    if (flow.get('extrudersOn') !== true)\n    {\n        flow.set('extrudersOn',true);\n    }\n}\nelse\n{\n    if (flow.get('extrudersOn') !== false)\n    {\n        flow.set('extrudersOn',false);\n    }\n}\nif (msg.HOPPER_A === true || msg.HOPPER_B === true || msg.HOPPER_C === true || msg.HOPPER_D === true || msg.HOPPER_E === true || msg.HOPPER_F === true)\n{\n    if (flow.get('hoppers') !== true)\n    {\n        flow.set('hoppers',true);\n    }\n}\nelse\n{\n    if (flow.get('hoppers') !== false)\n    {\n        flow.set('hoppers',false);\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":340,"wires":[["783a2e07.41b62","9a25c688.46f258","10f7a118.14510f","140888e3.26b827","7e0ac1ea.33bb6","eda06f06.ccd0c","1408e5c.d9c491a","81a77f24.08aae"]]},{"id":"53d5156e.9bd70c","type":"s7 in","z":"eae97cfd.dc1d9","endpoint":"cd1426e3.ceee88","mode":"all","variable":"","diff":false,"name":"","x":90,"y":340,"wires":[["4ba061bc.d418f","7c9fd7b9.eba008"]]},{"id":"85a8eb83.a94df8","type":"influxdb in","z":"8a130cc2.fc507","influxdb":"f0810191.c71a7","name":"","query":"SELECT * FROM ValCur limit 100000","rawOutput":false,"precision":"","retentionPolicy":"","x":440,"y":160,"wires":[["4ec66936.a24678"]]},{"id":"20b87625.d62e7a","type":"debug","z":"8a130cc2.fc507","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1090,"y":60,"wires":[]},{"id":"a0d0400b.e04e1","type":"inject","z":"8a130cc2.fc507","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":160,"wires":[["85a8eb83.a94df8"]]},{"id":"ddce8ebb.70228","type":"csv","z":"8a130cc2.fc507","name":"","sep":",","hdrin":"","hdrout":false,"multi":"one","ret":"\\r\\n","temp":"","skip":"0","x":1010,"y":160,"wires":[["5832544b.01162c"]]},{"id":"5832544b.01162c","type":"file","z":"8a130cc2.fc507","name":"CSV MSR","filename":"D:\\Vincent Ciancio\\Test.csv","appendNewline":false,"createDir":true,"overwriteFile":"false","x":1150,"y":160,"wires":[[]]},{"id":"5e6825ed.b40b6c","type":"function","z":"8a130cc2.fc507","name":"","func":"return {payload:\n{time: msg.payload.time.toLocaleString(),\nvalue: msg.payload.value\n}\n};","outputs":1,"noerr":0,"x":890,"y":160,"wires":[["ddce8ebb.70228"]]},{"id":"4ec66936.a24678","type":"split","z":"8a130cc2.fc507","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":770,"y":160,"wires":[["5e6825ed.b40b6c"]]},{"id":"3b66a3f5.addddc","type":"debug","z":"71962acd.f3cc04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":630,"y":920,"wires":[]},{"id":"ea8b3567.0ecbc8","type":"template","z":"71962acd.f3cc04","name":"TemplatePESLink","field":"link","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"http://{{{server}}}/apriso/portal/kiosk/login.aspx?menuitemid=100000430&TabID=100000006&EquipmentLogin=true&EquipmentName={{{workstation}}}&LoginName={{{workstation}}}&Alias=IN_WorkstationScreen","output":"str","x":870,"y":320,"wires":[["313a2096.08ed6"]]},{"id":"1a2f3fb1.ce146","type":"function","z":"71962acd.f3cc04","name":"Serv&WSNames","func":"var OPCserv = context.get('OPCserv')|| null;\nif (msg.topic == \"OPCServ\")\n{\n    var string0 = msg.payload.split(\"//\")[1];\n    var string1 = string0.split(\".\")[0];\n    OPCserv = string1;\n    context.set(\"OPCserv\", OPCserv);\n}\nif (msg.topic == \"reset\" && OPCserv !== null)\n{\n    return {workstation: msg.payload, server: OPCserv};\n}","outputs":1,"noerr":0,"x":670,"y":320,"wires":[["ea8b3567.0ecbc8"]]},{"id":"16402294.0f8b8d","type":"split","z":"27fbf089.b60a","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":150,"y":60,"wires":[["4c8da32f.d371ac"]]},{"id":"4c8da32f.d371ac","type":"split","z":"27fbf089.b60a","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":270,"y":60,"wires":[["f8fb0ab.74a90f8"]]},{"id":"f8fb0ab.74a90f8","type":"function","z":"27fbf089.b60a","name":"GetScans","func":"var string0 = msg.payload.nodeId.split(';s=')[1];\nvar string1 = string0.split('_SCAN')[0];\nreturn {\n    payload: {\n        'nodeId': string1,\n        'browseName': msg.payload.browseName\n                    },\n    parts: msg.parts\n}","outputs":1,"noerr":0,"x":400,"y":60,"wires":[["42c9e604.54de18"]]},{"id":"42c9e604.54de18","type":"join","z":"27fbf089.b60a","name":"","mode":"custom","build":"array","property":"payload.nodeId","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"3","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":530,"y":60,"wires":[["40d1821b.ef127c"]]},{"id":"40d1821b.ef127c","type":"function","z":"27fbf089.b60a","name":"GetWSName","func":"return {payload: msg.payload.nodeId};","outputs":1,"noerr":0,"x":670,"y":60,"wires":[["3480726d.fbae5e"]]},{"id":"3480726d.fbae5e","type":"change","z":"27fbf089.b60a","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":837,"y":60,"wires":[[]]},{"id":"268f3ff9.ff0b4","type":"subflow:27fbf089.b60a","z":"71962acd.f3cc04","name":"","env":[],"x":570,"y":100,"wires":[["b5c0f9a6.d44de8"]]},{"id":"774499b5.f26a98","type":"OPCUA-IIoT-Crawler","z":"71962acd.f3cc04","connector":"517b3d6d.286404","name":"","justValue":true,"singleResult":false,"showStatusActivities":true,"showErrors":false,"activateUnsetFilter":false,"activateFilters":true,"negateFilter":true,"filters":[{"name":"nodeId","value":"SCAN1.Data.Scan;*"}],"delayPerMessage":"0.5","x":430,"y":100,"wires":[["268f3ff9.ff0b4"]]},{"id":"360936b8.a00c3a","type":"function","z":"71962acd.f3cc04","name":"InjectCrawler","func":"msg.topic = \"\"\nmsg.nodetype = \"inject\"\nmsg.injectType = \"inject\"\nmsg.addressSpaceItems = [\n    {\n            \"name\": \"\",\n            \"nodeId\": \"ns=0;i=85\",\n            \"datatypeName\": \"\"\n    }\n    ]\ndelete(msg.socketid)\nreturn msg;","outputs":1,"noerr":0,"x":277,"y":100,"wires":[["774499b5.f26a98"]]},{"id":"52e45e28.00beb","type":"ui_button","z":"71962acd.f3cc04","name":"BrowseWSList","group":"49708f2e.5a58","order":8,"width":0,"height":0,"passthru":false,"label":"Browse Workstations List","tooltip":"Used for browsing all the existing workstations","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":107,"y":100,"wires":[["360936b8.a00c3a"]]},{"id":"5061e7df.f54c48","type":"ui_template","z":"f05e95c9.a16858","group":"49708f2e.5a58","name":"Logo PES","order":2,"width":"0","height":"0","format":"<div height=\"200\" style=\"text-align: center;height: 80px;\">\n<img src=\"http://topshare.corp.ponet/sites/cs1882-Compigne40/Doc%20Dasip/Node-RED/PES_Logo.png\" width=\"250\"><br/>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":80,"y":40,"wires":[[]]},{"id":"c1d971bc.88ed7","type":"function","z":"f05e95c9.a16858","name":"toWrite","func":"var datatypeName = \"String\";\nvar scanvalue = context.get('scanvalue')|| null;\nvar WSname = context.get('WSname')|| null;\nvar nodeId = context.get('nodeId') || null;\nif (msg.topic == \"name\")\n{\n    WSname = msg.payload;\n    context.set(\"WSname\", WSname);\n}\nif (msg.topic == \"nodeid\")\n{\n    nodeId = msg.payload;\n    context.set(\"nodeId\", nodeId);\n}\nif (msg.topic ==\"scan\")\n{\n    scanvalue = msg.payload;\n}\nif (scanvalue !== null && WSname !== null && nodeId !== null)\n{\n    msg.nodetype = 'inject';\n    msg.injectType = 'write';\n    msg.addressSpaceItems = [{WSname, nodeId, datatypeName}];\n    msg.valuesToWrite = [scanvalue];\n    delete(msg.topic);\n    delete(msg.payload);\n    return msg;\n}","outputs":1,"noerr":0,"x":1220,"y":120,"wires":[["19e3a711.9d0f89"]]},{"id":"19e3a711.9d0f89","type":"OPCUA-IIoT-Write","z":"f05e95c9.a16858","connector":"517b3d6d.286404","name":"","justValue":false,"showStatusActivities":true,"showErrors":false,"x":1350,"y":120,"wires":[["7e77b94d.1b9038"]]},{"id":"7e77b94d.1b9038","type":"function","z":"f05e95c9.a16858","name":"toRead","func":"msg.nodetype = 'inject';\nmsg.injectType = 'read';\ndelete msg['valuesToWrite'];\nmsg.payload = {};\nreturn msg;","outputs":1,"noerr":0,"x":1480,"y":120,"wires":[["4f84c4d5.8d78fc"]]},{"id":"310402ad.ef5a3e","type":"OPCUA-IIoT-Read","z":"f05e95c9.a16858","attributeId":"0","maxAge":1,"depth":1,"connector":"517b3d6d.286404","name":"","justValue":true,"showStatusActivities":false,"showErrors":false,"parseStrings":false,"historyDays":"","x":610,"y":840,"wires":[["a6f765d3.62fb98"]]},{"id":"a6f765d3.62fb98","type":"split","z":"f05e95c9.a16858","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":730,"y":840,"wires":[["c5b7d38.4447b3"]]},{"id":"c5b7d38.4447b3","type":"change","z":"f05e95c9.a16858","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":840,"wires":[["83702654.356798"]]},{"id":"83702654.356798","type":"ui_text","z":"f05e95c9.a16858","group":"49708f2e.5a58","order":17,"width":0,"height":0,"name":"StatusWS","label":"Mode of the Workstation:","format":"{{msg.payload}}","layout":"row-left","x":1060,"y":800,"wires":[]},{"id":"24dfe13.e449e1e","type":"function","z":"f05e95c9.a16858","name":"SetScanValue","func":"msg.topic = 'scan';\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":160,"wires":[["c1d971bc.88ed7"]]},{"id":"d66194b8.ef11a8","type":"ui_template","z":"f05e95c9.a16858","group":"49708f2e.5a58","name":"PES Link","order":15,"width":0,"height":0,"format":"<div style=\"text-align: center;\">\n    <a\n    target=\"_blank\"\n    href={{msg.link}} style=\"text-decoration:none;\">\n        <span style=\"display:block; text-align:center; font-weight:bold; font-size:26px; color:rgb(0,85,161);\"> \nLink to PES screen\n        </span>\n    </a>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1280,"y":240,"wires":[[]]},{"id":"c79da227.9ba7b","type":"function","z":"f05e95c9.a16858","name":"SetWSName","func":"msg.topic = 'name'\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":120,"wires":[["c1d971bc.88ed7","561222d5.fe44fc"]]},{"id":"95f10508.8485a8","type":"ui_button","z":"f05e95c9.a16858","name":"Reset","group":"49708f2e.5a58","order":19,"width":0,"height":0,"passthru":true,"label":"Reset selections (disconnect)","tooltip":"Resets the different connections","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"reset","x":70,"y":560,"wires":[["2cc018f6.d3a698","84ae506a.218d4","d9f45594.70ff08","499e9644.640108","ed23e1f1.365a7","bb552a1c.f68e98"]]},{"id":"6fcff87b.d71c88","type":"OPCUA-IIoT-Flex-Connector","z":"f05e95c9.a16858","name":"","showStatusActivities":true,"showErrors":false,"connector":"517b3d6d.286404","x":1040,"y":360,"wires":[[]]},{"id":"a7f6bbf8.770d18","type":"function","z":"f05e95c9.a16858","name":"ConnectServ","func":"if (msg.topic == 'OPCServ')\n{\n    flow.set('connectclick','clicked');\n    node.status({fill:\"green\",shape:\"dot\",text: 'Connection'});\n    \n    msg.injectType = 'inject';\n    msg.payloadType = 'json';\n    return {payload: {\n    \"discoveryUrl\": null,\n    \"endpoint\": msg.payload,\n    \"keepSessionAlive\": true,\n    \"securityPolicy\": \"None\",\n    \"securityMode\": \"NONE\",\n    \"name\": \"\",\n    \"showErrors\": true,\n    \"publicCertificateFile\": null,\n    \"privateKeyFile\": null,\n    \"defaultSecureTokenLifetime\": 0,\n    \"endpointMustExist\": false,\n    \"autoSelectRightEndpoint\": false,\n    \"strategyMaxRetry\": 0,\n    \"strategyInitialDelay\": 0,\n    \"strategyMaxDelay\": 0,\n    \"strategyRandomisationFactor\": 0,\n    \"requestedSessionTimeout\": 0,\n    \"connectionStartDelay\": 0,\n    \"reconnectDelay\": 0\n    }\n    };\n}\nelse if (msg.topic == 'reset')\n{\n    node.status({fill:\"green\",shape:\"dot\",text: 'Waiting'});\n    \n    msg.injectType = 'inject';\n    msg.payloadType = 'json';\n    return {payload: {\n    \"discoveryUrl\": null,\n    \"endpoint\": 'opc.tcp://localhost:55388/',\n    \"keepSessionAlive\": true,\n    \"securityPolicy\": \"None\",\n    \"securityMode\": \"NONE\",\n    \"name\": \"\",\n    \"showErrors\": true,\n    \"publicCertificateFile\": null,\n    \"privateKeyFile\": null,\n    \"defaultSecureTokenLifetime\": 0,\n    \"endpointMustExist\": false,\n    \"autoSelectRightEndpoint\": false,\n    \"strategyMaxRetry\": 0,\n    \"strategyInitialDelay\": 0,\n    \"strategyMaxDelay\": 0,\n    \"strategyRandomisationFactor\": 0,\n    \"requestedSessionTimeout\": 0,\n    \"connectionStartDelay\": 0,\n    \"reconnectDelay\": 0\n    }\n    };\n}","outputs":1,"noerr":0,"x":870,"y":360,"wires":[["6fcff87b.d71c88"]]},{"id":"47b80fa9.a86bf","type":"ui_dropdown","z":"f05e95c9.a16858","name":"SelectWS","label":"Select a Workstation:","tooltip":"Used for selecting the workstation needed","place":"Workstation Selector","group":"49708f2e.5a58","order":13,"width":0,"height":0,"passthru":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"select","x":680,"y":180,"wires":[["c79da227.9ba7b","2b000470.63e41c"]]},{"id":"10780fe1.5d1ef","type":"status","z":"f05e95c9.a16858","name":"StateServ","scope":["6fcff87b.d71c88"],"x":260,"y":620,"wires":[["abc2336c.bac01"]],"outputLabels":["msg.status.text"]},{"id":"2cc018f6.d3a698","type":"function","z":"f05e95c9.a16858","name":"ResetString","func":"if (msg.topic == 'reset')\n{\n    return {payload: ''};\n}","outputs":1,"noerr":0,"x":270,"y":800,"wires":[["83702654.356798"]]},{"id":"561222d5.fe44fc","type":"function","z":"f05e95c9.a16858","name":"SetNodeID","func":"return {payload: 'ns=2;s=' + msg.payload + '_SCAN1.Data.Scan',topic: \"nodeid\"}","outputs":1,"noerr":0,"x":1050,"y":80,"wires":[["c1d971bc.88ed7"]]},{"id":"65418c3f.c1d534","type":"status","z":"f05e95c9.a16858","name":"StateCrawl","scope":["13f1fd47.af4803"],"x":260,"y":500,"wires":[["78b0f098.4ddea"]],"outputLabels":["msg.status.text"]},{"id":"78b0f098.4ddea","type":"function","z":"f05e95c9.a16858","name":"ReturnState","func":"var string = context.get('string')|| null;\nvar string2 = context.get('string2')|| null;\nvar crawlstatus = context.get('crawlstatus')|| null;\nvar connectstatus = context.get('connectstatus')|| null;\nif (msg.status.source.name == 'ConnectServ')\n{\n    connectstatus = msg.status.text;\n    context.set('connectstatus',connectstatus);\n}\nif (msg.status.source.type == 'OPCUA-IIoT-Crawler')\n{\n    crawlstatus = msg.status.text;\n    context.set('crawlstatus',crawlstatus);\n}\nif (context.get('crawlstatus') == 'crawling' && context.get('connectstatus') == 'Connection' && flow.get('crawlclick') == 'clicked')\n{\n    string = 'Searching for the workstations';\n    context.set(\"string\", string);\n    return {payload: string};\n}\nif (context.get('crawlstatus') == 'active' && flow.get('crawlclick') !== 'reset' && context.get('connectstatus') == 'Connection' && string == 'Searching for the workstations')\n{\n    string = '';\n    string2 = 'Done, please select a workstation:';\n    return {payload: string2};\n}","outputs":1,"noerr":0,"x":470,"y":500,"wires":[["d81009aa.b10948"]]},{"id":"abc2336c.bac01","type":"function","z":"f05e95c9.a16858","name":"ReturnState","func":"var string = context.get('string')|| null;\nvar string2 = context.get('string2')|| null;\nvar flexstatus = context.get('flexstatus')|| null;\nvar connectstatus = context.get('connectstatus')|| null;\nif (msg.status.source.name == 'ConnectServ')\n{\n    connectstatus = msg.status.text;\n    context.set('connectstatus',connectstatus);\n}\nif (msg.status.source.type == 'OPCUA-IIoT-Flex-Connector')\n{\n    flexstatus = msg.status.text;\n    context.set('flexstatus',flexstatus);\n}\nif (context.get('connectstatus') == 'Connection' && flow.get('connectclick') == 'clicked')\n{\n    string = 'Connecting';\n    context.set(\"string\", string);\n    flow.set('connectclick','');\n    return {payload: string};\n}\nif (context.get('flexstatus') == 'active' && flow.get('connectclick') !== 'reset' && string == 'Connecting')\n{\n    string = '';\n    string2 = 'You are now connected to ' + flow.get(\"OPCServName\") + ', please click the button below:';\n    flow.set('connectclick','reset');\n    return {payload: string2};\n}","outputs":1,"noerr":0,"x":470,"y":620,"wires":[["8fe07530.f54598"]]},{"id":"a696b0ec.219e5","type":"inject","z":"f05e95c9.a16858","name":"SetLedStatus","topic":"","payload":"Waiting for connection","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":600,"y":700,"wires":[["9903f6eb.e895d8"]]},{"id":"d81009aa.b10948","type":"function","z":"f05e95c9.a16858","name":"SetLed","func":"if (msg.payload == 'Searching for the workstations')\n{\n    msg.color = \"#f4a142\";\n    return msg;\n}\nelse if (msg.payload == 'Done, please select a workstation:')\n{\n    msg.color = \"#00FF00\";\n    return msg;\n}","outputs":1,"noerr":0,"x":620,"y":500,"wires":[["686d1c2e.6ec714"]]},{"id":"686d1c2e.6ec714","type":"ui_template","z":"f05e95c9.a16858","group":"49708f2e.5a58","name":"LedWS","order":11,"width":"0","height":"0","format":"<style>\n.led {\n    float: left;\n    padding: 3px;\n    width: 10px;\n    height: 10px;\n    border-radius: 50%;\n    background-color: #FF0000;\n}\n</style>\n\n<div>\n    <span style=\"margin-left:15px;\">\n        Workstations status:\n    </span>\n    <span style=\"font-weight:bold;margin-left:10px;\">\n        {{msg.payload}}\n    </span>\n    <span class=\"led\" style=\"margin-top:5px;margin-left:15px;background-color: {{msg.color}}; box-shadow: black 0 -1px 1px 0px, inset black  0 -1px 4px, {{msg.color}} 0 3px 15px;\">\n    </span>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":780,"y":460,"wires":[[]]},{"id":"84ae506a.218d4","type":"function","z":"f05e95c9.a16858","name":"ResetLed","func":"if (msg.topic == 'reset')\n{\n    msg.payload = \"Waiting for button click\";\n    msg.color = \"#FF0000\";\n    return msg;\n}","outputs":1,"noerr":0,"x":260,"y":460,"wires":[["686d1c2e.6ec714"]]},{"id":"9903f6eb.e895d8","type":"ui_template","z":"f05e95c9.a16858","group":"49708f2e.5a58","name":"LedServ","order":7,"width":"0","height":"0","format":"<style>\n.led {\n    float: left;\n    padding: 3px;\n    width: 10px;\n    height: 10px;\n    border-radius: 50%;\n    background-color: #FF0000;\n}\n</style>\n\n<div>\n    <span style=\"margin-left:15px;\">\n        OPC Server status:\n    </span>\n    <span style=\"font-weight:bold;margin-left:10px;\">\n        {{msg.payload}}\n    </span>\n    <span class=\"led\" style=\"margin-top:5px;margin-left:15px;background: {{msg.color}};box-shadow: black 0 -1px 1px 0px, inset black  0 -1px 4px, {{msg.color}} 0 3px 15px;\">\n    </span>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":780,"y":660,"wires":[[]]},{"id":"8fe07530.f54598","type":"function","z":"f05e95c9.a16858","name":"SetLed","func":"if (msg.payload == 'Connecting')\n{\n    msg.color = \"#f4a142\";\n    return msg;\n}\nelse if (msg.payload == 'You are now connected to ' + flow.get(\"OPCServName\") + ', please click the button below:')\n{\n    msg.color = \"#00FF00\";\n    return msg;\n}","outputs":1,"noerr":0,"x":620,"y":620,"wires":[["9903f6eb.e895d8"]]},{"id":"93b35d26.ba676","type":"template","z":"f05e95c9.a16858","name":"TemplatePESLink","field":"link","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"http://{{{server}}}/apriso/portal/kiosk/login.aspx?menuitemid=100000430&TabID=100000006&EquipmentLogin=true&EquipmentName={{{workstation}}}&LoginName={{{workstation}}}&Alias=IN_WorkstationScreen","output":"str","x":1090,"y":240,"wires":[["d66194b8.ef11a8"]]},{"id":"2b000470.63e41c","type":"function","z":"f05e95c9.a16858","name":"Serv&WSNames","func":"if (msg.topic == \"OPCServ\")\n{\n    var string0 = msg.payload.split(\"//\")[1];\n    var string1 = string0.split(\":\")[0];\n    flow.set('OPCServName',string1);\n}\nif (msg.topic == \"select\" && flow.get('OPCServName') !== null)\n{\n    return {workstation: msg.payload, server: flow.get('OPCServName')};\n}","outputs":1,"noerr":0,"x":890,"y":240,"wires":[["93b35d26.ba676"]]},{"id":"9b903c46.aae27","type":"subflow:27fbf089.b60a","z":"f05e95c9.a16858","name":"","env":[],"x":520,"y":180,"wires":[["47b80fa9.a86bf"]]},{"id":"13f1fd47.af4803","type":"OPCUA-IIoT-Crawler","z":"f05e95c9.a16858","connector":"517b3d6d.286404","name":"","justValue":true,"singleResult":true,"showStatusActivities":true,"showErrors":false,"activateUnsetFilter":false,"activateFilters":true,"negateFilter":true,"filters":[{"name":"nodeId","value":"SCAN1.Data.Scan;*"}],"delayPerMessage":"0.5","x":380,"y":180,"wires":[["9b903c46.aae27"]]},{"id":"7fa813f0.13859c","type":"function","z":"f05e95c9.a16858","name":"InjectCrawler","func":"msg.topic = \"\"\nmsg.nodetype = \"inject\"\nmsg.injectType = \"inject\"\nmsg.addressSpaceItems = [\n    {\n            \"name\": \"\",\n            \"nodeId\": \"ns=0;i=85\",\n            \"datatypeName\": \"\"\n    }\n]\nflow.set('crawlclick','clicked')\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":180,"wires":[["13f1fd47.af4803"]]},{"id":"b83bb7a9.0ca2a8","type":"ui_button","z":"f05e95c9.a16858","name":"WSList","group":"49708f2e.5a58","order":9,"width":0,"height":0,"passthru":false,"label":"Browse Workstation List","tooltip":"Used for browsing all the existing workstations","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":80,"y":180,"wires":[["7fa813f0.13859c"]]},{"id":"91799395.36708","type":"inject","z":"f05e95c9.a16858","name":"SetLedStatus","topic":"","payload":"Waiting for button click","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":600,"y":420,"wires":[["686d1c2e.6ec714"]]},{"id":"d9f45594.70ff08","type":"function","z":"f05e95c9.a16858","name":"ResetList","func":"flow.set('crawlclick','reset');\nflow.set('connectclick','reset');\nreturn {options: msg.payload};","outputs":1,"noerr":0,"x":260,"y":320,"wires":[["47b80fa9.a86bf"]]},{"id":"4f84c4d5.8d78fc","type":"link out","z":"f05e95c9.a16858","name":"","links":["3aede3af.8d009c"],"x":1575,"y":120,"wires":[]},{"id":"3aede3af.8d009c","type":"link in","z":"f05e95c9.a16858","name":"","links":["4f84c4d5.8d78fc"],"x":515,"y":840,"wires":[["310402ad.ef5a3e"]]},{"id":"21125ef2.d57882","type":"ui_button","z":"f05e95c9.a16858","name":"ServClick","group":"49708f2e.5a58","order":5,"width":0,"height":0,"passthru":false,"label":"Connect","tooltip":"Connection to the OPC Server","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"OPCServ","x":520,"y":300,"wires":[["3868e490.25e0dc"]]},{"id":"499e9644.640108","type":"function","z":"f05e95c9.a16858","name":"ResetLed","func":"if (msg.topic == 'reset')\n{\n    msg.payload = \"Waiting for connection\";\n    msg.color = \"#FF0000\";\n    return msg;\n}","outputs":1,"noerr":0,"x":260,"y":660,"wires":[["9903f6eb.e895d8"]]},{"id":"ed23e1f1.365a7","type":"function","z":"f05e95c9.a16858","name":"ResetServ","func":"return msg;","outputs":1,"noerr":0,"x":270,"y":360,"wires":[["a7f6bbf8.770d18"]]},{"id":"b7cd53e5.4fe0a","type":"status","z":"f05e95c9.a16858","name":"StateConnect","scope":["a7f6bbf8.770d18"],"x":270,"y":560,"wires":[["78b0f098.4ddea","abc2336c.bac01"]],"outputLabels":["msg.status.text"]},{"id":"1eecd11c.e10fbf","type":"function","z":"f05e95c9.a16858","name":"CreateFlowVars","func":"var crawlclick = null;\nvar connectclick = null;\nvar OPCServName = 'test';\nflow.set('crawlclick',crawlclick);\nflow.set('connectclick',connectclick);\nflow.set('OPCServName',OPCServName);\nnode.status({fill:\"green\",shape:\"dot\",text: 'Initialized'});","outputs":1,"noerr":0,"x":240,"y":100,"wires":[[]]},{"id":"3b71beec.a10182","type":"inject","z":"f05e95c9.a16858","name":"Inject","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":90,"y":100,"wires":[["1eecd11c.e10fbf"]]},{"id":"1e88afa3.ad87f","type":"comment","z":"f05e95c9.a16858","name":"Leds","info":"This part of the flow controls the LEDs that are\nvisible on the dashboard.\nTheir state changes when connecting to the OPC\nServer, fetching the workstation names and also\ndisconnecting.","x":870,"y":560,"wires":[]},{"id":"d5199743.4344e8","type":"comment","z":"f05e95c9.a16858","name":"Connector","info":"The Flexconnector allows connecting to the OPC\nServer, by giving the endpoint of the server as an\ninput (coming from OPCAddress node, and \"OPC Address.txt\" file).","x":1180,"y":400,"wires":[]},{"id":"6bb63f50.f74b6","type":"comment","z":"f05e95c9.a16858","name":"PES Link","info":"The link to the PES screen is dynamic, it will change\nwhen selecting a different workstation.","x":1400,"y":200,"wires":[]},{"id":"2bf35cec.cdc0a4","type":"comment","z":"f05e95c9.a16858","name":"Write to the OPC Server","info":"To write the new status scanned into the OPC Server,\nsome inputs are required: the address of the tag\ninside the OPC Server (ID), the name of the\nworkstation and the value scanned.","x":1370,"y":60,"wires":[]},{"id":"b4e38ba3.805cd8","type":"comment","z":"f05e95c9.a16858","name":"Crawler","info":"The crawler will search every tag within the OPC\nServer in order to find the manual scans for each\nworkstation.","x":390,"y":140,"wires":[]},{"id":"16e4ad66.a0c773","type":"comment","z":"f05e95c9.a16858","name":"Subflow","info":"The GetWS node is a subflow, its purpose is to make\nthe flow clearer to read.","x":530,"y":140,"wires":[]},{"id":"784819f.a164ce8","type":"comment","z":"f05e95c9.a16858","name":"Reset","info":"The Reset button will reset the connection and the\nselections made previously in the workstation list.","x":70,"y":620,"wires":[]},{"id":"eda00999.962b08","type":"comment","z":"f05e95c9.a16858","name":"Read the scan","info":"Once the value has been scanned, an additional\nchecking exists: the tag will be read inside the OPC\nServer in order to see if the correct status has been\nscanned.","x":690,"y":900,"wires":[]},{"id":"34887426.73c36c","type":"serial in","z":"71962acd.f3cc04","name":"LocalScan","serial":"18570601.a1199a","x":680,"y":260,"wires":[["4f2f7ab5.08ea94"]]},{"id":"884e960f.42c718","type":"serial in","z":"f05e95c9.a16858","name":"Scanner","serial":"18570601.a1199a","x":880,"y":160,"wires":[["24dfe13.e449e1e"]]},{"id":"50c053f0.e12f1c","type":"ui_button","z":"d62a1851.fee178","name":"","group":"7eb82d5b.75fba4","order":0,"width":0,"height":0,"passthru":true,"label":"button","tooltip":"","color":"","bgcolor":"{{background}}","icon":"","payload":"","payloadType":"str","topic":"","x":630,"y":160,"wires":[[]]},{"id":"99960fc5.c5012","type":"inject","z":"d62a1851.fee178","name":"RED","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":100,"wires":[["ef410cee.ec079"]]},{"id":"59b5f01e.dedbc","type":"inject","z":"d62a1851.fee178","name":"GREEN","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":220,"wires":[["e786c342.159e1"]]},{"id":"ef410cee.ec079","type":"function","z":"d62a1851.fee178","name":"","func":"msg.background = 'RED';\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":100,"wires":[["50c053f0.e12f1c","f8294300.249ce"]]},{"id":"e786c342.159e1","type":"function","z":"d62a1851.fee178","name":"","func":"msg.background = 'GREEN';\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":220,"wires":[["50c053f0.e12f1c"]]},{"id":"f8294300.249ce","type":"debug","z":"d62a1851.fee178","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":620,"y":60,"wires":[]},{"id":"3e14d144.9956be","type":"comment","z":"f05e95c9.a16858","name":"Logo","info":"For the moment, the logo is stored on Topshare,\nthe dashboard is fetching the link when connecting\nto it.","x":210,"y":40,"wires":[]},{"id":"b9b83aea.804848","type":"comment","z":"f05e95c9.a16858","name":"OPC Address","info":"The OPCAddress node will check the address written\nin the \"OPC Address.txt\" file, and make the connection\nto the server.","x":670,"y":260,"wires":[]},{"id":"4afe4185.68902","type":"comment","z":"f05e95c9.a16858","name":"Flow Vars","info":"Create flow variables that are accessible by all the\nnodes of the flow.\nThose variables are required to change the statuses\nof the leds within the dashboard, when clicking on the\ndifferent buttons.","x":380,"y":60,"wires":[]},{"id":"3868e490.25e0dc","type":"file in","z":"f05e95c9.a16858","name":"OPCAddress","filename":"\\OPC Address.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":670,"y":300,"wires":[["2b000470.63e41c","a7f6bbf8.770d18"]]},{"id":"135f7982.2ec556","type":"link in","z":"f05e95c9.a16858","name":"","links":["bb552a1c.f68e98"],"x":1015,"y":280,"wires":[["de4633a0.e5957"]]},{"id":"de4633a0.e5957","type":"function","z":"f05e95c9.a16858","name":"ResetLink","func":"return {workstation: '', server: ''};","outputs":1,"noerr":0,"x":1120,"y":280,"wires":[["d66194b8.ef11a8"]]},{"id":"bb552a1c.f68e98","type":"link out","z":"f05e95c9.a16858","name":"","links":["135f7982.2ec556"],"x":215,"y":760,"wires":[]},{"id":"14c1bcac.928933","type":"comment","z":"f05e95c9.a16858","name":"Reset PES Link","info":"This node is used to reset the link to the PES screen when\nclikcing on the Reset button.","x":1260,"y":320,"wires":[]},{"id":"d5c53f4e.5d214","type":"function","z":"957114c9.3a01e8","name":"ConnectServ","func":"    flow.set('connectclick','clicked');\n    node.status({fill:\"green\",shape:\"dot\",text: 'Connection'});\n    \n    msg.injectType = 'inject';\n    msg.payloadType = 'json';\n    return {payload: {\n    \"discoveryUrl\": null,\n    \"endpoint\": msg.payload,\n    \"keepSessionAlive\": true,\n    \"securityPolicy\": \"None\",\n    \"securityMode\": \"NONE\",\n    \"name\": \"\",\n    \"showErrors\": true,\n    \"publicCertificateFile\": null,\n    \"privateKeyFile\": null,\n    \"defaultSecureTokenLifetime\": 0,\n    \"endpointMustExist\": false,\n    \"autoSelectRightEndpoint\": false,\n    \"strategyMaxRetry\": 0,\n    \"strategyInitialDelay\": 0,\n    \"strategyMaxDelay\": 0,\n    \"strategyRandomisationFactor\": 0,\n    \"requestedSessionTimeout\": 0,\n    \"connectionStartDelay\": 0,\n    \"reconnectDelay\": 0\n    }\n    };","outputs":1,"noerr":0,"x":470,"y":280,"wires":[["c82ec9b9.578fe8"]]},{"id":"c82ec9b9.578fe8","type":"OPCUA-IIoT-Flex-Connector","z":"957114c9.3a01e8","name":"","showStatusActivities":true,"showErrors":false,"connector":"517b3d6d.286404","x":640,"y":280,"wires":[[]]},{"id":"8873012b.a97f3","type":"OPCUA-IIoT-Crawler","z":"957114c9.3a01e8","connector":"517b3d6d.286404","name":"","justValue":true,"singleResult":false,"showStatusActivities":true,"showErrors":false,"activateUnsetFilter":false,"activateFilters":true,"negateFilter":true,"filters":[{"name":"nodeId","value":"SCAN1.Data.Scan;*"}],"delayPerMessage":"0.2","x":440,"y":100,"wires":[["5d9498c1.9a1f08"]]},{"id":"e666894c.905d18","type":"function","z":"957114c9.3a01e8","name":"InjectCrawler","func":"msg.topic = \"\";\nmsg.nodetype = \"inject\";\nmsg.injectType = \"inject\";\nmsg.addressSpaceItems = [\n    {\n            \"name\": \"\",\n            \"nodeId\": \"ns=0;i=85\",\n            \"datatypeName\": \"\"\n    }\n];\nflow.set('crawlclick','clicked');\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":100,"wires":[["8873012b.a97f3"]]},{"id":"7737a54d.e861cc","type":"inject","z":"957114c9.3a01e8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":100,"wires":[["e666894c.905d18"]]},{"id":"92377a83.cfee08","type":"file in","z":"957114c9.3a01e8","name":"OPCAddress","filename":"D:\\Personal\\vincent.ciancio\\Desktop\\OPC Address.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":310,"y":280,"wires":[["d5c53f4e.5d214"]]},{"id":"51c49a04.aea294","type":"inject","z":"957114c9.3a01e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":280,"wires":[["92377a83.cfee08"]]},{"id":"3685473e.06b558","type":"debug","z":"957114c9.3a01e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":750,"y":160,"wires":[]},{"id":"5d9498c1.9a1f08","type":"split","z":"957114c9.3a01e8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":570,"y":100,"wires":[["383cc573.c8b89a"]]},{"id":"383cc573.c8b89a","type":"split","z":"957114c9.3a01e8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":690,"y":100,"wires":[["22ff26d.ec862da"]]},{"id":"22ff26d.ec862da","type":"function","z":"957114c9.3a01e8","name":"GetScans","func":"var string0 = msg.payload.nodeId.split(';s=')[1];\nvar string1 = string0.split('_SCAN')[0];\nreturn {\n    payload: {\n        'nodeId': string1,\n        'browseName': msg.payload.browseName\n                    },\n    parts: msg.parts\n}","outputs":1,"noerr":0,"x":820,"y":100,"wires":[["ccf7b167.3a2e7"]]},{"id":"ccf7b167.3a2e7","type":"join","z":"957114c9.3a01e8","name":"","mode":"custom","build":"array","property":"payload.nodeId","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"3","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":950,"y":100,"wires":[["3685473e.06b558"]]},{"id":"16b7ca54.1c13a6","type":"inject","z":"d887781a.e09d98","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":60,"wires":[["85342016.62cf"]]},{"id":"84f8e38a.7fab7","type":"nbrowser","z":"b3f0be9f.faf86","name":"GetHTML","methods":[{"name":"wait","func":"wait","params":[{"type":"str","value":"5","typeDefault":"str"}]},{"name":"getHTML","func":"getHTML","params":[{"type":"str","value":".node-red-latest-version","typeDefault":"str"},{"type":"msg","value":"payload","typeDefault":"output"}]}],"prop":"nbrowser","propout":"payload","object":"msg","objectout":"msg","close":false,"show":false,"ssl":false,"outputs":1,"x":500,"y":60,"wires":[["eaf67eea.db45d"]]},{"id":"347921f.76393de","type":"inject","z":"b3f0be9f.faf86","name":"","topic":"inject","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"0.1","x":110,"y":140,"wires":[["ea1b44ec.016fe8"]]},{"id":"c5a55805.0c2d38","type":"influxdb out","z":"b3f0be9f.faf86","influxdb":"8883b7e4.8ba168","name":"","measurement":"","precision":"","retentionPolicy":"","x":870,"y":60,"wires":[]},{"id":"dbb0a1b5.63c28","type":"nbrowser","z":"b3f0be9f.faf86","name":"OpenBrowser","methods":[{"name":"gotoURL","func":"goto","params":[{"type":"msg","value":"payload","typeDefault":"str"}]}],"prop":"nbrowser","propout":"payload","object":"msg","objectout":"msg","close":false,"show":false,"ssl":false,"outputs":1,"x":680,"y":140,"wires":[["34299c5b.8af294"]]},{"id":"91afd11f.e29f5","type":"inject","z":"b3f0be9f.faf86","name":"","topic":"","payload":"","payloadType":"date","repeat":"20","crontab":"","once":true,"onceDelay":"20","x":130,"y":60,"wires":[["b9f8367e.c15478"]]},{"id":"ab9a51c3.5e6e3","type":"inject","z":"b3f0be9f.faf86","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.1","x":130,"y":340,"wires":[["b2ec4f12.00b9a"]]},{"id":"b2ec4f12.00b9a","type":"function","z":"b3f0be9f.faf86","name":"Create Vars","func":"var html = null;\nvar nb = null;\nvar status = null;\nvar resetnb = 0;\nflow.set('html',html);\nflow.set('nb',nb);\nflow.set('status',status);\nflow.set('resetnb',resetnb);\nnode.status({fill:\"green\",shape:\"dot\",text: 'Initialized'});\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":340,"wires":[[]]},{"id":"34299c5b.8af294","type":"function","z":"b3f0be9f.faf86","name":"Set Vars","func":"flow.set('html',msg.payload);\nflow.set('nb',msg.nbrowser);\nmsg.topic = 'Set';\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":140,"wires":[["739763cf.b19fcc"]]},{"id":"b9f8367e.c15478","type":"function","z":"b3f0be9f.faf86","name":"SendInstance","func":"if (flow.get('html') !== null)\n{\nreturn {payload: flow.get('html'),nbrowser: flow.get('nb')}\n}","outputs":1,"noerr":0,"x":320,"y":60,"wires":[["84f8e38a.7fab7"]]},{"id":"f0157afb.9916b8","type":"nbrowser","z":"b3f0be9f.faf86","name":"CloseInstance","methods":[{"name":"wait","func":"wait","params":[{"type":"str","value":"0.1","typeDefault":"str"}]}],"prop":"nbrowser","propout":"payload","object":"msg","objectout":"msg","close":true,"show":false,"ssl":false,"outputs":0,"x":880,"y":260,"wires":[]},{"id":"82f2484.7c6a6b8","type":"inject","z":"b3f0be9f.faf86","name":"","topic":"Reset","payload":"","payloadType":"date","repeat":"86400","crontab":"","once":false,"onceDelay":"0.1","x":150,"y":260,"wires":[["7518b051.77fa8"]]},{"id":"739763cf.b19fcc","type":"function","z":"b3f0be9f.faf86","name":"SendInstance","func":"if (msg.topic == 'Reset')\n{\nnode.status({fill:\"green\",shape:\"dot\",text: 'Reset'});\nreturn {payload: flow.get('html'),nbrowser: flow.get('nb')};\n}\nif (msg.topic == 'Set')\n{\n    node.status({fill:\"green\",shape:\"dot\",text: 'Set'});\n}","outputs":1,"noerr":0,"x":700,"y":260,"wires":[["f0157afb.9916b8"]]},{"id":"da80471c.f0c4b8","type":"status","z":"b3f0be9f.faf86","name":"","scope":["739763cf.b19fcc"],"x":100,"y":180,"wires":[["ea1b44ec.016fe8"]],"outputLabels":["msg.status.text"]},{"id":"bf701a2d.0f6468","type":"delay","z":"b3f0be9f.faf86","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":520,"y":140,"wires":[["dbb0a1b5.63c28"]]},{"id":"ab6e1d9d.9176d","type":"inject","z":"b3f0be9f.faf86","name":"","topic":"Kill","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"0.1","x":130,"y":460,"wires":[["9e40f315.1fbc1","b7e38804.b08d68"]]},{"id":"9e40f315.1fbc1","type":"function","z":"b3f0be9f.faf86","name":"SendInstance","func":"return {payload: flow.get('html'),nbrowser: flow.get('nb')};","outputs":1,"noerr":0,"x":320,"y":500,"wires":[["4897a8fc.2a21d8"]]},{"id":"4897a8fc.2a21d8","type":"nbrowser","z":"b3f0be9f.faf86","name":"Kill Instance","methods":[{"name":"wait","func":"wait","params":[{"type":"str","value":"0.1","typeDefault":"str"}]}],"prop":"nbrowser","propout":"payload","object":"msg","objectout":"msg","close":true,"show":false,"ssl":false,"outputs":0,"x":490,"y":500,"wires":[]},{"id":"fd404257.31a54","type":"function","z":"b3f0be9f.faf86","name":"ResetVars","func":"flow.set('html',null);\nflow.set('nb',null);","outputs":1,"noerr":0,"x":490,"y":420,"wires":[[]]},{"id":"b7e38804.b08d68","type":"delay","z":"b3f0be9f.faf86","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":420,"wires":[["fd404257.31a54"]]},{"id":"7518b051.77fa8","type":"function","z":"b3f0be9f.faf86","name":"NbOfReset","func":"var number = flow.get('resetnb') + 1;\nflow.set('resetnb',number);\nnode.status({text:'Number of reset: ' + flow.get('resetnb')});\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":260,"wires":[["16de9a2d.506226"]]},{"id":"eaf67eea.db45d","type":"debug","z":"b3f0be9f.faf86","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":60,"wires":[]},{"id":"ea1b44ec.016fe8","type":"function","z":"b3f0be9f.faf86","name":"Serv&WS","func":"if (msg.topic == 'inject' || msg.status.text == 'Reset')\n{\n    return {payload:'https://nodered.org/'};\n}\n","outputs":1,"noerr":0,"x":340,"y":140,"wires":[["bf701a2d.0f6468"]]},{"id":"16de9a2d.506226","type":"function","z":"b3f0be9f.faf86","name":"LastReset","func":"var date = new Date().toLocaleString();\nnode.status({text:'Last reset: ' + date});\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":260,"wires":[["739763cf.b19fcc"]]},{"id":"e8d548.3e50dab8","type":"worldmap","z":"953de68e.0ae618","name":"","lat":"49.4158","lon":"2.8090","zoom":"18","layer":"OSM grey","cluster":"","maxage":"","hiderightclick":"false","coords":"deg","path":"","x":670,"y":140,"wires":[]},{"id":"23271aa1.246bc6","type":"inject","z":"953de68e.0ae618","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":220,"y":140,"wires":[["51ef6ae4.ef7a64","3d5f666a.b5b37a"]]},{"id":"51ef6ae4.ef7a64","type":"function","z":"953de68e.0ae618","name":"Usine Venette","func":"var thing = {\n    name:\"Usine de Venette\", \n    lat:49.4160, \n    lon:2.8089,\n    icon:\"industry\",\n    iconColor:\"darkblue\",\n    weblink: \"http://localhost:1880/usine_venette/\"\n};\nmsg.payload = thing;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":140,"wires":[["e8d548.3e50dab8"]]},{"id":"36c70cf.5084af4","type":"debug","z":"953de68e.0ae618","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":220,"wires":[]},{"id":"3d5f666a.b5b37a","type":"function","z":"953de68e.0ae618","name":"Alphatech","func":"var thing = {\n    name:\"Alphatech\", \n    lat:49.4140, \n    lon:2.7747,\n    icon:\"industry\",\n    iconColor:\"darkred\",\n};\nmsg.payload = thing;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":200,"wires":[["e8d548.3e50dab8"]]},{"id":"66f29269.e61a9c","type":"worldmap","z":"953de68e.0ae618","name":"","lat":"49.4158","lon":"2.8090","zoom":"18","layer":"Esri Satellite","cluster":"","maxage":"","zoomlock":"true","hiderightclick":"true","coords":"deg","path":"usine_venette","x":680,"y":340,"wires":[]},{"id":"ac1fbc00.31ecf8","type":"function","z":"953de68e.0ae618","name":"Usine Venette","func":"var thing = {\n    name:\"Usine de Venette\", \n    lat:49.4160, \n    lon:2.8089,\n    icon:\"industry\",\n    iconColor:\"darkblue\",\n    weblink: \"http://localhost:1880/usine_venette/\"\n};\nmsg.payload = thing;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":320,"wires":[[]]},{"id":"df699dff.c85ed","type":"function","z":"953de68e.0ae618","name":"Alphatech","func":"var thing = {\n    name:\"Alphatech\", \n    lat:49.4140, \n    lon:2.7747,\n    icon:\"industry\",\n    iconColor:\"darkred\",\n};\nmsg.payload = thing;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":380,"wires":[[]]},{"id":"545e6e46.7376c","type":"worldmap","z":"57956bd6.0f4a24","name":"","lat":"","lon":"","zoom":"","layer":"OSM","cluster":"","maxage":"","usermenu":"hide","panit":"true","hiderightclick":"false","coords":"none","path":"","x":710,"y":260,"wires":[]},{"id":"7ee02a77.d72d54","type":"inject","z":"57956bd6.0f4a24","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":230,"y":200,"wires":[["5a7424e2.3a76fc"]]},{"id":"5a7424e2.3a76fc","type":"function","z":"57956bd6.0f4a24","name":"","func":"// create random position\nvar lat = 51 + Math.random() * 0.2;\nvar lon = -1.45 + Math.random() * 0.2;\nmsg.payload={\n    lat:lat, \n    lon:lon, \n    name:\"Mike\", \n    icon:\"male\", \n    color:\"#000\"};\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":260,"wires":[["545e6e46.7376c","77b1aa9a.a42e64"]]},{"id":"ec7ed991.e90bd8","type":"inject","z":"57956bd6.0f4a24","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":"","x":210,"y":320,"wires":[["add839d8.546538"]]},{"id":"ada7de37.ad491","type":"ui_template","z":"57956bd6.0f4a24","group":"67a8dfc1.0dd0f","name":"","order":0,"width":"6","height":"6","format":"<div ng-bind-html=\"msg.payload | trusted\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":580,"y":320,"wires":[[]]},{"id":"add839d8.546538","type":"template","z":"57956bd6.0f4a24","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<iframe src=\"../worldmap\" height=400px width=600px ></iframe>","x":410,"y":320,"wires":[["ada7de37.ad491"]]},{"id":"7ba6b8f8.371758","type":"ui_button","z":"57956bd6.0f4a24","name":"","group":"67a8dfc1.0dd0f","order":0,"width":0,"height":0,"passthru":false,"label":"Move Mike","tooltip":"","color":"","bgcolor":"","icon":"fa-male","payload":"","payloadType":"str","topic":"","x":230,"y":260,"wires":[["5a7424e2.3a76fc"]]},{"id":"411aff2f.870f4","type":"comment","z":"57956bd6.0f4a24","name":"How to embed Map in Dashboard","info":"This example shows how to embed the Worldmap \ninto a template node within the `node-red-dashboard`\n\nThe first flow creates a dashboard button that \ngenerates a randon position, with the required \nicon, and passes that to the worldmap. The\nmap is configured to automatically pan to the\nposition of any point that arrives.\n\nThe second flow initialise the dashboard template\nwith the initial map and sets it to a more square shape\nby adjusting the height.","x":280,"y":140,"wires":[]},{"id":"77b1aa9a.a42e64","type":"worldmap-tracks","z":"57956bd6.0f4a24","name":"","depth":"8","layer":"combined","x":550,"y":220,"wires":[["545e6e46.7376c"]]},{"id":"a861463c.ca5988","type":"influxdb out","z":"d887781a.e09d98","influxdb":"4a7142b2.a2524c","name":"","measurement":"","precision":"","retentionPolicy":"","x":570,"y":320,"wires":[]},{"id":"b4bc102b.52584","type":"open-web","z":"d6ca310e.2ba36","name":"","browser":"chrome","weburl":" http://SCOMWQ0301/apriso/portal/kiosk/login.aspx?menuitemid=100000430&TabID=100000006&EquipmentLogin=true&EquipmentName=B_COEX1_PMC12&LoginName=B_COEX1_PMC12&Alias=IN_WorkstationScreen","width":1024,"height":768,"webtitle":"Google","timeout":3000,"maximized":true,"server":"b59b8101.6f469","x":270,"y":40,"wires":[["71f6c73d.4235e8"]]},{"id":"5260c5b4.8326dc","type":"inject","z":"d6ca310e.2ba36","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"0.2","x":120,"y":40,"wires":[["b4bc102b.52584"]]},{"id":"f4b98122.3938d","type":"inject","z":"d6ca310e.2ba36","name":"Get status","topic":"","payload":"driver","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":"15","x":120,"y":160,"wires":[["503d649d.ceb72c"]]},{"id":"7d2d1e07.50013","type":"debug","z":"d6ca310e.2ba36","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":60,"wires":[]},{"id":"deeaff26.b3461","type":"get-text","z":"d6ca310e.2ba36","name":"","expected":"","selector":"xpath","target":"//*[@id='panel_SUB_HEADER']/div/div/div/div[2]/span[1]","timeout":1000,"waitfor":500,"savetofile":false,"x":440,"y":160,"wires":[["94d58ff3.21206"]]},{"id":"71f6c73d.4235e8","type":"function","z":"d6ca310e.2ba36","name":"SetFlowVars","func":"flow.set('driver',msg.driver);\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":40,"wires":[[]]},{"id":"c5c7b9a2.ff3de8","type":"function","z":"d6ca310e.2ba36","name":"CreateFlowVars","func":"var driver = null;\nflow.set('driver',driver);\nnode.status({fill:\"green\",shape:\"dot\",text: 'Initialized'});","outputs":1,"noerr":0,"x":260,"y":400,"wires":[[]]},{"id":"d0cc0810.f79068","type":"inject","z":"d6ca310e.2ba36","name":"Inject","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":400,"wires":[["c5c7b9a2.ff3de8"]]},{"id":"503d649d.ceb72c","type":"change","z":"d6ca310e.2ba36","name":"","rules":[{"t":"set","p":"driver","pt":"msg","to":"payload","tot":"msg"},{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":160,"wires":[["deeaff26.b3461"]]},{"id":"94d58ff3.21206","type":"change","z":"d6ca310e.2ba36","name":"","rules":[{"t":"delete","p":"element","pt":"msg"},{"t":"delete","p":"driver","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":160,"wires":[["4ee608ae.af6cb8"]]},{"id":"26c64cab.64fab4","type":"close-web","z":"d6ca310e.2ba36","name":"","waitfor":500,"x":430,"y":280,"wires":[[]]},{"id":"4b3a460.e96fabc","type":"inject","z":"d6ca310e.2ba36","name":"Get status","topic":"","payload":"elem","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":"10","x":120,"y":280,"wires":[["4e8ff5c3.750cac"]]},{"id":"4e8ff5c3.750cac","type":"function","z":"d6ca310e.2ba36","name":"PassInstance","func":"return {driver:flow.get('driver')};","outputs":1,"noerr":0,"x":280,"y":280,"wires":[["26c64cab.64fab4"]]},{"id":"4ee608ae.af6cb8","type":"function","z":"d6ca310e.2ba36","name":"GetStatus","func":"var detect;\nif (msg.payload == \"Running - Production\")\n{\n    detect = \"Production\";\n}\nelse\n{\n    detect = \"Downtime\";\n}\nnode.status({text: 'Status: ' + detect});\nreturn {payload: detect, measurement: 'PES_STATUS'};","outputs":1,"noerr":0,"x":760,"y":160,"wires":[["7d2d1e07.50013","3ce941a7.2336be"]]},{"id":"3ce941a7.2336be","type":"influxdb out","z":"d6ca310e.2ba36","influxdb":"a4d3a20d.9cafd","name":"","measurement":"","precision":"","retentionPolicy":"","x":920,"y":160,"wires":[]},{"id":"62ad155a.dfe83c","type":"inject","z":"84b1ff0a.5d03","name":"start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":120,"wires":[["423f7b44.17efb4"]]},{"id":"f3cd6639.b2c1d8","type":"inject","z":"84b1ff0a.5d03","name":"start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":240,"wires":[["8db34351.d1ddd"]]},{"id":"602ba1e3.37087","type":"inject","z":"84b1ff0a.5d03","name":"start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":480,"wires":[["b2ea89fc.e124d8","db7c339c.dc7fc"]]},{"id":"6927026c.67dacc","type":"debug","z":"84b1ff0a.5d03","name":"print","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":640,"y":120,"wires":[]},{"id":"55f7bccb.96ff94","type":"debug","z":"84b1ff0a.5d03","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":840,"y":280,"wires":[]},{"id":"bcbc1b01.1cbb98","type":"debug","z":"84b1ff0a.5d03","name":"print","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":820,"y":200,"wires":[]},{"id":"8c7855cc.513e48","type":"debug","z":"84b1ff0a.5d03","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":860,"y":520,"wires":[]},{"id":"6d985c75.ca8aa4","type":"debug","z":"84b1ff0a.5d03","name":"print","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":860,"y":400,"wires":[]},{"id":"f6dadd94.a48ad","type":"mqtt out","z":"84b1ff0a.5d03","name":"","topic":"predictions","qos":"","retain":"","broker":"6723e206.b8e93c","x":800,"y":580,"wires":[]},{"id":"de2416f4.054788","type":"debug","z":"84b1ff0a.5d03","name":"error","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":780,"y":660,"wires":[]},{"id":"a4f81118.68a45","type":"mqtt in","z":"84b1ff0a.5d03","name":"","topic":"classification","qos":"2","datatype":"auto","broker":"6723e206.b8e93c","x":210,"y":620,"wires":[["510f2d62.8d9934"]]},{"id":"423f7b44.17efb4","type":"create dataset","z":"84b1ff0a.5d03","name":"","path":"test/iris.data","saveFolder":"test/datasets","saveName":"iris","input":"0,1,2,3","output":"4","trainingPartition":"","shuffle":true,"seed":"","x":410,"y":120,"wires":[["6927026c.67dacc"]]},{"id":"eb6de511.57b168","type":"decision tree classifier","z":"84b1ff0a.5d03","name":"decision tree classifier trainer","savePath":"test/models","saveName":"dtc.b","maxDepth":"","criterion":"gini","splitter":"best","x":600,"y":220,"wires":[["bcbc1b01.1cbb98"],["55f7bccb.96ff94"]]},{"id":"8db34351.d1ddd","type":"load dataset","z":"84b1ff0a.5d03","name":"","datasetFolder":"test/datasets","datasetName":"iris","partition":"train.csv","input":true,"output":true,"x":360,"y":240,"wires":[["eb6de511.57b168"],["55f7bccb.96ff94"]]},{"id":"b2ea89fc.e124d8","type":"load dataset","z":"84b1ff0a.5d03","name":"","datasetFolder":"test/datasets","datasetName":"iris","partition":"test.csv","input":false,"output":true,"x":360,"y":400,"wires":[["a7cd4d27.fa178"],["8c7855cc.513e48"]]},{"id":"db7c339c.dc7fc","type":"load dataset","z":"84b1ff0a.5d03","name":"","datasetFolder":"test/datasets","datasetName":"iris","partition":"test.csv","input":true,"output":false,"x":360,"y":520,"wires":[["df70406c.97b61"],["8c7855cc.513e48"]]},{"id":"df70406c.97b61","type":"predictor","z":"84b1ff0a.5d03","name":"decision tree classifier predictor","modelPath":"test/models","modelName":"dtc.b","x":620,"y":460,"wires":[["a7cd4d27.fa178"],["8c7855cc.513e48"]]},{"id":"510f2d62.8d9934","type":"predictor","z":"84b1ff0a.5d03","name":"decision tree classifier predictor","modelPath":"test/models","modelName":"dtc.b","x":520,"y":620,"wires":[["f6dadd94.a48ad"],["de2416f4.054788"]]},{"id":"a7cd4d27.fa178","type":"assessment","z":"84b1ff0a.5d03","name":"","score":"accuracy_score","x":660,"y":400,"wires":[["6d985c75.ca8aa4"],["8c7855cc.513e48"]]},{"id":"a626e2c2.73616","type":"neuralnet","z":"cc411446.d3c568","name":"neuralnet","learningRate":0.3,"errorThresh":0.005,"iterations":"1500","log":false,"logPeriod":10,"nntype":"3","x":600,"y":240,"wires":[["78a856c2.a1c848"]]},{"id":"7de64a80.864104","type":"inject","z":"cc411446.d3c568","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":240,"wires":[["82976feb.2b7c6"]]},{"id":"82976feb.2b7c6","type":"function","z":"cc411446.d3c568","name":"","func":"msg.trainData = [\n  'Jane saw Doug.',\n  'Doug saw Jane.',\n  'Spot saw Doug and Jane looking at each other.',\n  'It was love at first sight, and Spot had a frontrow seat. It was a very special moment for all.'\n];\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":240,"wires":[["a626e2c2.73616"]]},{"id":"78a856c2.a1c848","type":"debug","z":"cc411446.d3c568","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":100,"wires":[]},{"id":"7aa31ce0.6a6e04","type":"function","z":"cc411446.d3c568","name":"","func":"msg.runData = 'It';\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":340,"wires":[["a626e2c2.73616","a03b471f.061f08"]]},{"id":"9b6696d1.176f18","type":"inject","z":"cc411446.d3c568","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":240,"y":340,"wires":[["7aa31ce0.6a6e04"]]},{"id":"a03b471f.061f08","type":"debug","z":"cc411446.d3c568","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":590,"y":440,"wires":[]},{"id":"9ff16fbe.f9564","type":"support vector classifier","z":"84b1ff0a.5d03","name":"","savePath":"","saveName":"","c":"","kernel":"rbf","x":-120,"y":280,"wires":[[],[]]},{"id":"1119498e.1ba2a6","type":"support vector classifier","z":"84b1ff0a.5d03","name":"","savePath":"","saveName":"","c":"","kernel":"rbf","x":-120,"y":280,"wires":[[],[]]},{"id":"de1926a2.047698","type":"support vector classifier","z":"84b1ff0a.5d03","name":"","savePath":"","saveName":"","c":"","kernel":"rbf","x":-120,"y":280,"wires":[[],[]]},{"id":"8ebed083.eef16","type":"support vector classifier","z":"84b1ff0a.5d03","name":"","savePath":"","saveName":"","c":"","kernel":"rbf","x":-120,"y":280,"wires":[[],[]]},{"id":"d7038f0f.719f2","type":"random forest classifier","z":"84b1ff0a.5d03","name":"","savePath":"","saveName":"","criterion":"gini","numTrees":"","maxDepth":"","x":-120,"y":220,"wires":[[],[]]},{"id":"8db16016.7f4b2","type":"support vector classifier","z":"84b1ff0a.5d03","name":"","savePath":"","saveName":"","c":"","kernel":"rbf","x":-120,"y":580,"wires":[[],[]]},{"id":"a5e066f4.259538","type":"elliptic envelope classifier","z":"84b1ff0a.5d03","name":"","savePath":"","saveName":"","contamination":"","centered":"","fraction":"","seed":"","x":-120,"y":660,"wires":[[],[]]},{"id":"fadb63a5.1a072","type":"decision tree classifier","z":"84b1ff0a.5d03","name":"","savePath":"","saveName":"","maxDepth":"","criterion":"gini","splitter":"best","x":-120,"y":620,"wires":[[],[]]},{"id":"72ece6b8.0484e8","type":"support vector classifier","z":"84b1ff0a.5d03","name":"","savePath":"","saveName":"","c":"","kernel":"rbf","x":-120,"y":380,"wires":[[],[]]},{"id":"f133d4cb.5a59d8","type":"join","z":"cc411446.d3c568","name":"","mode":"auto","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":770,"y":700,"wires":[["89e51f3d.6470b"]]},{"id":"71874ce4.345654","type":"inject","z":"cc411446.d3c568","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":620,"wires":[["99807c63.e7ca9","ca0e4c79.f57fe"]]},{"id":"89e51f3d.6470b","type":"debug","z":"cc411446.d3c568","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1050,"y":660,"wires":[]},{"id":"99807c63.e7ca9","type":"function","z":"cc411446.d3c568","name":"","func":"return {payload:{okk:'test',ok:'test2'}};","outputs":1,"noerr":0,"x":390,"y":620,"wires":[["c9a1ac94.f6d34"]]},{"id":"ca0e4c79.f57fe","type":"function","z":"cc411446.d3c568","name":"","func":"return {payload:{okkk:'test',okkkk:'test2'}};","outputs":1,"noerr":0,"x":390,"y":700,"wires":[["c9a1ac94.f6d34"]]},{"id":"c9a1ac94.f6d34","type":"batch","z":"cc411446.d3c568","name":"","mode":"count","count":"2","overlap":0,"interval":10,"allowEmptySequence":false,"topics":[],"x":590,"y":700,"wires":[["f133d4cb.5a59d8"]]},{"id":"bcb416a4.9da9b8","type":"function","z":"195d85d6.a69faa","name":"PODF PRE PROD","func":"var test = context.global.get('nodeimpala');\nconst client = test.createClient();\nclient.connect({\n  host: 'sdctlt0035.ad.ponet',\n  port: 21000,\n  resultType: 'json-array'\n})\n.then(node.send({\"message\":\"ok !\"}));\nclient.query(\"SELECT tsn,nracq FROM db_industry_ces_fra_com_dasip_lake.extrudershead_actual LIMIT 10\")\n    .then(result => {msg.payload = result;\n    node.send(msg)})\n    .done(() => client.close());","outputs":1,"noerr":0,"x":620,"y":160,"wires":[["9fa82c49.1dc39"]]},{"id":"d0bd9dcb.34b3f","type":"inject","z":"195d85d6.a69faa","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":440,"y":160,"wires":[["bcb416a4.9da9b8"]]},{"id":"9fa82c49.1dc39","type":"debug","z":"195d85d6.a69faa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":160,"wires":[]},{"id":"5b5007a1.85ebf8","type":"function","z":"195d85d6.a69faa","name":"PODF PROD","func":"var test = context.global.get('nodeimpala');\nconst client = test.createClient();\nclient.connect({\n  host: 'podf-portal.corp.ponet',\n  port: 21000,\n  resultType: 'boolean'\n})\n.then(node.send({\"message\":\"ok !\"}));\nclient.query(\"SELECT users FROM pes_dasip_etl.com_pes_event_last LIMIT 100;\")\n    .then(result => {msg.payload = result;\n    node.send(msg)})\n    .done(() => client.close());","outputs":1,"noerr":0,"x":590,"y":300,"wires":[["8f06a851.531078"]]},{"id":"fc27f7e6.a48f98","type":"inject","z":"195d85d6.a69faa","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":430,"y":300,"wires":[["5b5007a1.85ebf8"]]},{"id":"8f06a851.531078","type":"debug","z":"195d85d6.a69faa","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":780,"y":300,"wires":[]},{"id":"8bdca538.d91968","type":"debug","z":"ff6c4823.1fac98","name":"","active":true,"console":"false","complete":"true","x":730,"y":120,"wires":[]},{"id":"1b8814f2.90b31b","type":"OPCUA-IIoT-Event","z":"ff6c4823.1fac98","eventType":"BaseEventType","eventTypeLabel":"BaseEventType (i=2041)","resultType":"basic","queueSize":"1000","usingListener":true,"name":"Base Events","showStatusActivities":false,"showErrors":false,"x":420,"y":120,"wires":[["a8d34cfb.54d95"]]},{"id":"ce25e4bd.1414c8","type":"OPCUA-IIoT-Inject","z":"ff6c4823.1fac98","injectType":"listen","payload":"200","payloadType":"num","topic":"","repeat":"","crontab":"","once":true,"startDelay":"","name":"listen with 200 ms","addressSpaceItems":[{"name":"Tanks","nodeId":"ns=1;i=1000","datatypeName":""},{"name":"Server","nodeId":"ns=0;i=2253","datatypeName":""}],"x":230,"y":120,"wires":[["1b8814f2.90b31b"]]},{"id":"a8d34cfb.54d95","type":"OPCUA-IIoT-Listener","z":"ff6c4823.1fac98","connector":"e8829dda.8750f","action":"events","queueSize":"100","name":"","topic":"","justValue":true,"useGroupItems":false,"showStatusActivities":false,"showErrors":true,"x":580,"y":120,"wires":[["8bdca538.d91968"]]},{"id":"877d20de.a4d0e","type":"function","z":"ad97b721.b46208","name":"ConnectServ","func":"msg.injectType = 'inject';\nmsg.payloadType = 'json';\nreturn {payload: {\n    \"discoveryUrl\": null,\n    \"endpoint\": 'opc.tcp://SCOMWQ0301.ad.ponet:49320',\n    \"keepSessionAlive\": true,\n    \"securityPolicy\": \"None\",\n    \"securityMode\": \"NONE\",\n    \"name\": \"\",\n    \"showErrors\": true,\n    \"publicCertificateFile\": null,\n    \"privateKeyFile\": null,\n    \"defaultSecureTokenLifetime\": 0,\n    \"endpointMustExist\": false,\n    \"autoSelectRightEndpoint\": false,\n    \"strategyMaxRetry\": 0,\n    \"strategyInitialDelay\": 0,\n    \"strategyMaxDelay\": 0,\n    \"strategyRandomisationFactor\": 0,\n    \"requestedSessionTimeout\": 0,\n    \"connectionStartDelay\": 0,\n    \"reconnectDelay\": 0\n}\n}","outputs":1,"noerr":0,"x":390,"y":100,"wires":[["d80823d4.e8458"]]},{"id":"d80823d4.e8458","type":"OPCUA-IIoT-Flex-Connector","z":"ad97b721.b46208","name":"","showStatusActivities":false,"showErrors":false,"connector":"517b3d6d.286404","x":560,"y":100,"wires":[[]]},{"id":"3712a68d.560c3a","type":"inject","z":"ad97b721.b46208","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":100,"wires":[["877d20de.a4d0e"]]},{"id":"39555f95.274a5","type":"debug","z":"ad97b721.b46208","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1030,"y":120,"wires":[]},{"id":"b80c75cc.549178","type":"OPCUA-IIoT-Event","z":"ad97b721.b46208","eventType":"BaseEventType","eventTypeLabel":"BaseEventType (i=2041)","resultType":"basic","queueSize":"1000","usingListener":true,"name":"Base Events","showStatusActivities":false,"showErrors":false,"x":430,"y":220,"wires":[["78073d76.e86e54"]]},{"id":"7b3b13f5.49b73c","type":"OPCUA-IIoT-Inject","z":"ad97b721.b46208","injectType":"listen","payload":"1000","payloadType":"num","topic":"","repeat":"","crontab":"","once":true,"startDelay":"","name":"listen with 200 ms","addressSpaceItems":[{"name":"TSN_PLC","nodeId":"ns=2;s=PLC_TCMF1CO.Data.B_COEX1_PMC12_PLC.TSN_PLC","datatypeName":""},{"name":"DefCRootCause","nodeId":"ns=2;s=PLC_TCMF1CO.Data.B_COEX1_PMC12_PLC.DefCRootCause","datatypeName":""},{"name":"DefCOP","nodeId":"ns=2;s=PLC_TCMF1CO.Data.B_COEX1_PMC12_PLC.DefCOp","datatypeName":""},{"name":"EndCycle","nodeId":"ns=2;s=PLC_TCMF1CO.Data.B_COEX1_PMC12_PLC.EndCycle","datatypeName":""}],"x":250,"y":220,"wires":[["b80c75cc.549178"]]},{"id":"78073d76.e86e54","type":"OPCUA-IIoT-Listener","z":"ad97b721.b46208","connector":"517b3d6d.286404","action":"subscribe","queueSize":"100","name":"","topic":"","justValue":true,"useGroupItems":true,"showStatusActivities":false,"showErrors":true,"x":580,"y":220,"wires":[["963b43cc.0a07f"]]},{"id":"963b43cc.0a07f","type":"function","z":"ad97b721.b46208","name":"","func":"msg.name = msg.addressSpaceItems[0].nodeId.split(\".\").slice(-1)[0];\nif (msg.name == 'TSN_PLC')\n{\n    flow.set('TSN_PLC',msg.payload.value.value);\n}\nif (msg.name == 'DefCRootCause')\n{\n    flow.set('DefCRootCause',msg.payload.value.value);\n}\nif (msg.name == 'DefCOP')\n{\n    flow.set('DefCOP',msg.payload.value.value);\n}\nif (msg.name == 'EndCycle')\n{\n    flow.set('EndCycle',msg.payload.value.value);\n}\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":220,"wires":[["9ed30962.834968"]]},{"id":"2b3da021.f29a9","type":"function","z":"ad97b721.b46208","name":"CreateFlowVars","func":"var TSN_PLC = null;\nvar DefCOP = 310;\nvar DefCRootCause = null;\nvar EndCycle = null;\nflow.set('TSN_PLC',TSN_PLC);\nflow.set('DefCOP',DefCOP);\nflow.set('DefCRootCause',DefCRootCause);\nflow.set('EndCycle',EndCycle);\nnode.status({fill:\"green\",shape:\"dot\",text: 'Initialized'});","outputs":1,"noerr":0,"x":360,"y":500,"wires":[[]]},{"id":"f9bac6.34713538","type":"inject","z":"ad97b721.b46208","name":"Inject","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":210,"y":500,"wires":[["2b3da021.f29a9"]]},{"id":"9ed30962.834968","type":"function","z":"ad97b721.b46208","name":"","func":"var now = new Date();\nif ((flow.get('DefCRootCause') == 5 || flow.get('DefCRootCause') == 104 || flow.get('DefCRootCause') == 204) && flow.get('EndCycle') === true && typeof msg.payload.value.value !== 'undefined')\n{\n    msg.timestamp = Date.UTC(now.getUTCFullYear(),now.getUTCMonth(), now.getUTCDate() , now.getUTCHours(), now.getUTCMinutes(), now.getUTCSeconds(), now.getUTCMilliseconds())*1000000;\n    return {payload:[{TSN:flow.get('TSN_PLC'),N_OP:'OP' + flow.get('DefCOP'),Cause:'Temperature during operation default',time:msg.timestamp},\n    {\n        OP: 'OP' + flow.get('DefCOP')\n    }],\n    measurement: 'Scrap',\n    timestamp: msg.timestamp\n    }\n}","outputs":1,"noerr":0,"x":830,"y":220,"wires":[["39555f95.274a5","2cf454ca.53df8c"]]},{"id":"2cf454ca.53df8c","type":"influxdb out","z":"ad97b721.b46208","influxdb":"58717b99.d45754","name":"CU_Collect","measurement":"","precision":"","retentionPolicy":"","x":1050,"y":220,"wires":[]},{"id":"fbf88a78.5ab538","type":"influxdb in","z":"e9958ee9.bd824","influxdb":"dff354a1.a467b8","name":"test","query":"SELECT last(\"value\")/10 AS \"lastvalue\",\"OP\" FROM \"cu_collect\".\"autogen\".\"Heater\" WHERE \"OP\" = 'OP310'","rawOutput":false,"precision":"","retentionPolicy":"","x":570,"y":400,"wires":[[]]},{"id":"2e8399a6.f38106","type":"inject","z":"e9958ee9.bd824","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":300,"y":160,"wires":[["9a134278.82e48","72c4b12f.01b63"]]},{"id":"a4ce52e0.65656","type":"debug","z":"e9958ee9.bd824","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload[0]","targetType":"msg","x":880,"y":280,"wires":[]},{"id":"7e894212.cba08c","type":"influxdb in","z":"e9958ee9.bd824","influxdb":"dff354a1.a467b8","name":"test3","query":"SELECT difference(last(\"value\"))/10 AS \"diff_value\" FROM \"cu_collect\".\"autogen\".\"Heater\" WHERE \"OP\" = msg.OP AND time > now() - 1s GROUP BY time(1s)","rawOutput":false,"precision":"","retentionPolicy":"","x":670,"y":160,"wires":[["a4ce52e0.65656"]]},{"id":"9a134278.82e48","type":"function","z":"e9958ee9.bd824","name":"query","func":"msg.query = 'SELECT difference(last(\"value\"))/10 AS \"diff_value\" FROM \"cu_collect\".\"autogen\".\"Heater\" WHERE \"OP\" = ' + msg.OP + \" AND time > now() - 1s GROUP BY time(1s)\";\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":160,"wires":[["7e894212.cba08c"]]},{"id":"72c4b12f.01b63","type":"function","z":"e9958ee9.bd824","name":"","func":"msg.OP = \"'OP319'\";\nmsg.query = 'SELECT difference(last(\"value\"))/10 AS \"diff_value\" FROM \"cu_collect\".\"autogen\".\"Heater\" WHERE \"OP\" = ' + msg.OP + \" AND time > now() - 1s GROUP BY time(1s)\";\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":240,"wires":[["7e894212.cba08c"]]},{"id":"d4435082.6c3c4","type":"sendsms","z":"d36b2d09.f69b1","creds":"f70205f1.3cbe38","to":"+33762334094","fr":"Grafana","text":"Hello","unicode":false,"x":350,"y":200,"wires":[["ac86bb2a.7b2008"]]},{"id":"e8a1d87.6633328","type":"inject","z":"d36b2d09.f69b1","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":200,"wires":[["d4435082.6c3c4"]]},{"id":"ac86bb2a.7b2008","type":"debug","z":"d36b2d09.f69b1","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":200,"wires":[]},{"id":"5672d06.ba7d03","type":"influxdb out","z":"6eaf8cc.a896874","influxdb":"","name":"FC_Collect","measurement":"","precision":"","retentionPolicy":"","x":970,"y":100,"wires":[]},{"id":"8f74f9a0.f61608","type":"s7 in","z":"6eaf8cc.a896874","endpoint":"","mode":"all","variable":"","diff":false,"name":"PLC_FC","x":140,"y":100,"wires":[["70d41e7a.fa36e"]]},{"id":"70d41e7a.fa36e","type":"split","z":"6eaf8cc.a896874","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":270,"y":100,"wires":[["d3cb7617.108628"]]},{"id":"d3cb7617.108628","type":"function","z":"6eaf8cc.a896874","name":"TagPayload","func":"delete(msg.parts);\nmsg.payload = [\n    {value: msg.payload,time:msg.timestamp},\n    {\n        name: msg.topic,\n        OP: 'OP' + msg.topic.split('OP')[1]\n    }\n    ];\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":100,"wires":[["1661489e.530c77"]]},{"id":"3a5fb374.f956cc","type":"function","z":"6eaf8cc.a896874","name":"Opentime","func":"delete(msg.topic);\nmsg.measurement = 'Opentime';\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":160,"wires":[["5672d06.ba7d03"]]},{"id":"1661489e.530c77","type":"switch","z":"6eaf8cc.a896874","name":"","property":"topic","propertyType":"msg","rules":[{"t":"cont","v":"Regul","vt":"str"},{"t":"cont","v":"Heater","vt":"str"},{"t":"cont","v":"Opentime","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":550,"y":100,"wires":[["9d3e0404.73d318"],["5afae444.b470bc"],["3a5fb374.f956cc"]]},{"id":"9d3e0404.73d318","type":"function","z":"6eaf8cc.a896874","name":"Regul","func":"delete(msg.topic);\nmsg.measurement = 'Regul';\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":40,"wires":[["5672d06.ba7d03"]]},{"id":"5afae444.b470bc","type":"function","z":"6eaf8cc.a896874","name":"Heater","func":"delete(msg.topic);\nmsg.measurement = 'Heater';\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":100,"wires":[["5672d06.ba7d03"]]},{"id":"a89ae8a2.80b798","type":"s7 in","z":"dac55fd6.2d62c","endpoint":"9872534d.a4c1a","mode":"all-split","variable":"","diff":false,"name":"PLC_Vibration_Bench_Read","x":220,"y":100,"wires":[["36f2609.48875a"]]},{"id":"a15acc3b.5b1d","type":"ui_switch","z":"dac55fd6.2d62c","name":"","label":"Drive On/Off","tooltip":"Enable/Disable the control of the drive","group":"c292f239.a96cf","order":1,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":230,"y":440,"wires":[["990a2cfc.89f79"]]},{"id":"4a801383.42eb5c","type":"ui_text_input","z":"dac55fd6.2d62c","name":"","label":"Drive speed","tooltip":"Modifies the actual speed of the drive (max. 3000rpm)","group":"c292f239.a96cf","order":6,"width":"2","height":"3","passthru":true,"mode":"number","delay":"0","topic":"","x":230,"y":760,"wires":[["8fe6b81e.f16be8"]]},{"id":"206fd6e7.8e47da","type":"ui_gauge","z":"dac55fd6.2d62c","name":"","group":"c292f239.a96cf","order":7,"width":"4","height":"3","gtype":"gage","title":"Actual speed","label":"RPM","format":"{{value | number:1}}","min":"0","max":"3000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":40,"wires":[]},{"id":"36f2609.48875a","type":"switch","z":"dac55fd6.2d62c","name":"Route parameters","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Actual_speed","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":100,"wires":[["206fd6e7.8e47da"],["985f0265.8a2c1"]]},{"id":"a6fa8546.f2fa18","type":"function","z":"dac55fd6.2d62c","name":"Vibration Data","func":"msg.measurement = 'Vibration'\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":220,"wires":[[]]},{"id":"98bd16f.c94d8e8","type":"influxdb out","z":"dac55fd6.2d62c","influxdb":"1c18b565.70497b","name":"","measurement":"","precision":"","retentionPolicy":"","x":860,"y":220,"wires":[]},{"id":"bbde3c7c.ce626","type":"ui_chart","z":"dac55fd6.2d62c","name":"","group":"c292f239.a96cf","order":8,"width":0,"height":0,"label":"Vibration values","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":860,"y":160,"wires":[[]]},{"id":"985f0265.8a2c1","type":"function","z":"dac55fd6.2d62c","name":"Plot measures","func":"if(msg.topic =='vRMS' || msg.topic == 'aRMS' || msg.topic == 'DKW' || msg.topic == 'Peak')\n{\nreturn msg;\n}","outputs":1,"noerr":0,"x":660,"y":160,"wires":[["bbde3c7c.ce626"]]},{"id":"16316757.8d1c99","type":"debug","z":"dac55fd6.2d62c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":470,"y":260,"wires":[]},{"id":"c72e4d6.a889eb","type":"s7 out","z":"dac55fd6.2d62c","endpoint":"d582785.75d8e88","variable":"","name":"Drive On/Off","x":750,"y":440,"wires":[]},{"id":"a60d6b67.fda6e8","type":"s7 out","z":"dac55fd6.2d62c","endpoint":"d582785.75d8e88","variable":"","name":"Drive Speed","x":750,"y":760,"wires":[]},{"id":"990a2cfc.89f79","type":"function","z":"dac55fd6.2d62c","name":"","func":"return {payload:[msg.payload,msg.payload,msg.payload,msg.payload,msg.payload,msg.payload,msg.payload,msg.payload,msg.payload],\nvariable:['Drive_On_Off','Drive_On_Off','Drive_On_Off','Drive_On_Off','Drive_On_Off','Drive_On_Off','Drive_On_Off','Drive_On_Off','Drive_On_Off']};","outputs":1,"noerr":0,"x":470,"y":440,"wires":[["c72e4d6.a889eb","cff21839.409758"]]},{"id":"8fe6b81e.f16be8","type":"function","z":"dac55fd6.2d62c","name":"","func":"return {payload:[msg.payload,msg.payload,msg.payload,msg.payload,msg.payload,msg.payload,msg.payload,msg.payload,msg.payload],\nvariable:['Drive_speed','Drive_speed','Drive_speed','Drive_speed','Drive_speed','Drive_speed','Drive_speed','Drive_speed','Drive_speed']};","outputs":1,"noerr":0,"x":470,"y":760,"wires":[["a60d6b67.fda6e8"]]},{"id":"d6ce4ef8.b86ba","type":"ui_template","z":"dac55fd6.2d62c","group":"c292f239.a96cf","name":"Led_Drive","order":2,"width":"3","height":"1","format":"<style>\n.led {\n    float: left;\n    padding: 5px;\n    width: 10px;\n    height: 10px;\n    border-radius: 50%;\n    background-color: #FF0000;\n}\n</style>\n\n<div>\n    <span style=\"display:inline-block;margin-left:20px;margin-top:18px\">\n        Drive status:\n    </span>\n    <span style=\"display:inline-block;font-weight:bold;margin-left:15px;margin-top:18px\">\n        {{msg.payload}}\n    </span>\n    <span class=\"led\" style=\"margin-top:18px;margin-left:30px;background-color: {{msg.color}}; box-shadow: black 0 -1px 1px 0px, inset black  0 -1px 4px, {{msg.color}} 0 3px 15px;\">\n    </span>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":830,"y":340,"wires":[[]]},{"id":"cff21839.409758","type":"function","z":"dac55fd6.2d62c","name":"SetLed","func":"if (msg.payload[0] === false)\n{\n    msg.color = \"#FF0000\";\n    msg.payload = 'Off';\n    return msg;\n}\nelse if (msg.payload[0] === true)\n{\n    msg.color = \"#00FF00\";\n    msg.payload = 'On';\n    return msg;\n}","outputs":1,"noerr":0,"x":680,"y":340,"wires":[["d6ce4ef8.b86ba"]]},{"id":"5370287b.6e93c8","type":"s7 out","z":"dac55fd6.2d62c","endpoint":"d582785.75d8e88","variable":"","name":"Measure On/Off","x":760,"y":660,"wires":[]},{"id":"b35f5536.e11938","type":"function","z":"dac55fd6.2d62c","name":"","func":"return {payload:[msg.payload,msg.payload,msg.payload,msg.payload,msg.payload,msg.payload,msg.payload,msg.payload,msg.payload],\nvariable:['Measure_On_Off','Measure_On_Off','Measure_On_Off','Measure_On_Off','Measure_On_Off','Measure_On_Off','Measure_On_Off','Measure_On_Off','Measure_On_Off']};","outputs":1,"noerr":0,"x":470,"y":660,"wires":[["7d27812c.27888","5370287b.6e93c8"]]},{"id":"1656c536.950f7b","type":"ui_switch","z":"dac55fd6.2d62c","name":"","label":"Measurement On/Off","tooltip":"Enable/Disable the data collect","group":"c292f239.a96cf","order":3,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":260,"y":660,"wires":[["b35f5536.e11938"]]},{"id":"f150a603.421628","type":"ui_template","z":"dac55fd6.2d62c","group":"c292f239.a96cf","name":"Led_Measures","order":4,"width":"3","height":"1","format":"<style>\n.led {\n    float: left;\n    padding: 5px;\n    width: 10px;\n    height: 10px;\n    border-radius: 50%;\n    background-color: #FF0000;\n}\n</style>\n\n<div>\n    <span style=\"display:inline-block;margin-left:20px;margin-top:18px\">\n        Measurement status:\n    </span>\n    <span style=\"display:inline-block;font-weight:bold;margin-left:15px;margin-top:18px\">\n        {{msg.payload}}\n    </span>\n    <span class=\"led\" style=\"margin-top:18px;margin-left:30px;background-color: {{msg.color}}; box-shadow: black 0 -1px 1px 0px, inset black  0 -1px 4px, {{msg.color}} 0 3px 15px;\">\n    </span>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":840,"y":540,"wires":[[]]},{"id":"7d27812c.27888","type":"function","z":"dac55fd6.2d62c","name":"SetLed","func":"if (msg.payload[0] === false)\n{\n    msg.color = \"#FF0000\";\n    msg.payload = 'Off';\n    return msg;\n}\nelse if (msg.payload[0] === true)\n{\n    msg.color = \"#00FF00\";\n    msg.payload = 'On';\n    return msg;\n}","outputs":1,"noerr":0,"x":680,"y":540,"wires":[["f150a603.421628"]]},{"id":"24c47e00.05afb2","type":"Memory","z":"dd19a5c6.ebf728","name":"","x":360,"y":120,"wires":[["f5686544.c73088"]]},{"id":"f58aa02d.b4c37","type":"debug","z":"dd19a5c6.ebf728","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":120,"wires":[]},{"id":"f3e45877.899d28","type":"inject","z":"dd19a5c6.ebf728","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":120,"wires":[["24c47e00.05afb2"]]},{"id":"f5686544.c73088","type":"function","z":"dd19a5c6.ebf728","name":"","func":"return {used:msg.payload.memusage/10 + 'Go',available:msg.payload.freemem/1000000000 + 'Go'}","outputs":1,"noerr":0,"x":530,"y":120,"wires":[["f58aa02d.b4c37"]]},{"id":"8daf153e.193c28","type":"function","z":"7c15ca5.5345f34","name":"","func":"var SMSAPI = global.get('smsapi');\nvar smsapii = new SMSAPI();\n\nsmsapii.authentication\n    .loginHashed('viktor.muransky@plasticomnium.com', '60b755faa0a23aafaf7dc968728b730c')\n    .then(sendMessage);\n    //.then(displayResult);\n    //.catch(displayError);\n\nfunction sendMessage(){\n    return smsapii.message\n        .sms()\n        .from('Vibrations')\n        .to(['33762334094','33770409689'])\n        .message('Test Sender')\n        .execute(); // return Promise\n}\n\n/*function displayResult(result){\n    return {payload:result};\n}\n\nfunction displayError(err){\n    return {payload:err};\n}*/","outputs":1,"noerr":0,"x":350,"y":160,"wires":[["69bfdbb.489bd24"]]},{"id":"69f0f7b1.329418","type":"inject","z":"7c15ca5.5345f34","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":160,"wires":[["8daf153e.193c28"]]},{"id":"69bfdbb.489bd24","type":"debug","z":"7c15ca5.5345f34","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":540,"y":160,"wires":[]},{"id":"ed035dd3.b7c4c","type":"inject","z":"1692573b.8243c9","name":"","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":100,"wires":[["680d511a.f52a3"]]},{"id":"680d511a.f52a3","type":"Memory","z":"1692573b.8243c9","name":"","x":300,"y":100,"wires":[["9f053fe2.26c44"]]},{"id":"f31466f3.5b6428","type":"function","z":"1692573b.8243c9","name":"Memory_Usage","func":"msg.measurement = 'MemoryUsage';\ndelete(msg.parts);\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":60,"wires":[[]]},{"id":"9f053fe2.26c44","type":"split","z":"1692573b.8243c9","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":450,"y":100,"wires":[["40edd351.05bc8c"]]},{"id":"40edd351.05bc8c","type":"switch","z":"1692573b.8243c9","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"memusage","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":100,"wires":[["f31466f3.5b6428"],["601c2d84.7fe994"]]},{"id":"601c2d84.7fe994","type":"function","z":"1692573b.8243c9","name":"Memory_Used","func":"if (msg.topic == 'totalmem')\n{\n    context.set('totalmem',msg.payload);\n}\nif (msg.topic == 'freemem')\n{\n    context.set('freemem',msg.payload);\n}\nmsg.payload = (context.get('totalmem') - context.get('freemem'))/1000000000;\nmsg.measurement = 'MemoryUsed';\ndelete(msg.parts);\nif (context.get('MemoryUsed') !== msg.payload)\n{\n    context.set('MemoryUsed',msg.payload);\n    return msg;\n}","outputs":1,"noerr":0,"x":780,"y":140,"wires":[[]]}]