flows_LTCC2448.json
[{"id":"71962acd.f3cc04","type":"tab","label":"PES Backup Chrome","disabled":true,"info":""},{"id":"d887781a.e09d98","type":"tab","label":"CSV - Timestamp","disabled":true,"info":""},{"id":"885b552b.80c768","type":"tab","label":"DateDifference","disabled":true,"info":""},{"id":"a36ffe41.99058","type":"tab","label":"Test PLC 1200","disabled":true,"info":""},{"id":"1468ae93.06f8a1","type":"tab","label":"MSR Grafana VM","disabled":true,"info":""},{"id":"eae97cfd.dc1d9","type":"tab","label":"Test MSR - Node-RED","disabled":true,"info":""},{"id":"8a130cc2.fc507","type":"tab","label":"Export Influx","disabled":true,"info":""},{"id":"d513304b.ea7e9","type":"tab","label":"PES Status","disabled":true,"info":""},{"id":"49708f2e.5a58","type":"ui_group","z":"","name":"PES Backup","tab":"b75717fd.3eb8e8","order":1,"disp":false,"width":"10","collapse":false},{"id":"517b3d6d.286404","type":"OPCUA-IIoT-Connector","z":"","discoveryUrl":"","endpoint":"opc.tcp://localhost:55388/","keepSessionAlive":true,"loginEnabled":false,"securityPolicy":"None","securityMode":"NONE","name":"Flex Connector","showErrors":true,"individualCerts":false,"publicCertificateFile":"","privateKeyFile":"","defaultSecureTokenLifetime":"","endpointMustExist":false,"autoSelectRightEndpoint":false,"strategyMaxRetry":"","strategyInitialDelay":"","strategyMaxDelay":"","strategyRandomisationFactor":"","requestedSessionTimeout":"","connectionStartDelay":"","reconnectDelay":"","maxBadSessionRequests":"10"},{"id":"18570601.a1199a","type":"serial-port","z":"","serialport":"COM1","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"500","bin":"false","out":"interbyte","addchar":false,"responsetimeout":"10000"},{"id":"b75717fd.3eb8e8","type":"ui_tab","z":"","name":"PES Backup","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"76a3bcaf.91c594","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0055a1","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0055a1","edited":true},"page-titlebar-backgroundColor":{"value":"#0055a1","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#007ded","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0055a1","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":100,"sy":65,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2996ceeb.129a52","type":"s7 endpoint","z":"1468ae93.06f8a1","address":"192.168.50.13","port":"102","rack":"0","slot":"2","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","cycletime":"10000","timeout":"15000","verbose":"default","name":"MSR_Grafana2","vartable":[{"addr":"DB1393,X21.2","name":"ExtrA_OFF"},{"addr":"DB1393,X21.3","name":"ExtrB_OFF"},{"addr":"DB1393,X21.4","name":"ExtrC_OFF"},{"addr":"DB1393,X21.5","name":"ExtrD_OFF"},{"addr":"DB1393,X21.6","name":"ExtrE_OFF"},{"addr":"DB1393,X21.7","name":"ExtrF_OFF"},{"addr":"DB1394,X4.2","name":"RELEASE_MISSING"},{"addr":"DB1394,X7.0","name":"GATE_AUTO"},{"addr":"DB1199,X0.1","name":"HOPPER_A"},{"addr":"DB1199,X0.2","name":"HOPPER_B"},{"addr":"DB1199,X0.3","name":"HOPPER_C"},{"addr":"DB1199,X0.4","name":"HOPPER_D"},{"addr":"DB1199,X0.5","name":"HOPPER_E"},{"addr":"DB1199,X0.6","name":"HOPPER_F"},{"addr":"DB1199,X1.2","name":"ADD_HOPPER_A"},{"addr":"DB1199,X1.3","name":"ADD_HOPPER_F"},{"addr":"DB1001,X0.0","name":"P_IN_A"},{"addr":"DB1001,X198.0","name":"P_IN_B"},{"addr":"DB1001,X396.0","name":"P_IN_C"},{"addr":"DB1001,X594.0","name":"P_IN_D"},{"addr":"DB1001,X792.0","name":"P_IN_E"},{"addr":"DB1001,X1180.0","name":"P_IN_F"},{"addr":"DB1394,X2.3","name":"CONTROL_PROCESS_DATA_OFF"},{"addr":"DB1394,X2.4","name":"CONTROL_STOP_OFF"},{"addr":"DB1394,X2.5","name":"CONTROL_LOCK_OFF"},{"addr":"DB1002,X0.0","name":"P_OUT_A"},{"addr":"DB1002,X218.0","name":"P_OUT_B"},{"addr":"DB1002,X436.0","name":"P_OUT_C"},{"addr":"DB1002,X654.0","name":"P_OUT_D"},{"addr":"DB1002,X872.0","name":"P_OUT_E"},{"addr":"DB1002,X1090.0","name":"P_OUT_F"},{"addr":"DB1199,X1.0","name":"MANUAL_P_OUT_A"},{"addr":"DB1199,X1.1","name":"MANUAL_P_OUT_F"},{"addr":"DB1393,X3.4","name":"STOP_HOPPER_F"},{"addr":"DB1392,X69.2","name":"TIME_EXCEEDED"},{"addr":"DB1390,X77.0","name":"MODE_AUTO"},{"addr":"DB47,i72","name":"ExtSpeedA"},{"addr":"DB47,i74","name":"ExtSpeedB"},{"addr":"DB47,i76","name":"ExtSpeedC"},{"addr":"DB47,i78","name":"ExtSpeedD"},{"addr":"DB47,i80","name":"ExtSpeedE"},{"addr":"DB47,i82","name":"ExtSpeedF"},{"addr":"DB4501,X34.0","name":"Production"},{"addr":"DB4501,X34.1","name":"Downtime"},{"addr":"DB4501,X34.2","name":"Purge_In"},{"addr":"DB4501,X34.3","name":"Purge_Out"}]},{"id":"1c84982.f311768","type":"s7 endpoint","z":"eae97cfd.dc1d9","address":"192.168.50.13","port":"102","rack":"0","slot":"2","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","cycletime":"10000","timeout":"15000","verbose":"off","name":"COEX MSR","vartable":[{"addr":"DB1393,X21.2","name":"ExtrA_OFF"},{"addr":"DB1393,X21.3","name":"ExtrB_OFF"},{"addr":"DB1393,X21.4","name":"ExtrC_OFF"},{"addr":"DB1393,X21.5","name":"ExtrD_OFF"},{"addr":"DB1393,X21.6","name":"ExtrE_OFF"},{"addr":"DB1393,X21.7","name":"ExtrF_OFF"},{"addr":"DB1394,X4.2","name":"RELEASE_MISSING"},{"addr":"DB1394,X7.0","name":"GATE_AUTO"},{"addr":"DB1199,X0.1","name":"HOPPER_A"},{"addr":"DB1199,X0.2","name":"HOPPER_B"},{"addr":"DB1199,X0.3","name":"HOPPER_C"},{"addr":"DB1199,X0.4","name":"HOPPER_D"},{"addr":"DB1199,X0.5","name":"HOPPER_E"},{"addr":"DB1199,X0.6","name":"HOPPER_F"},{"addr":"DB1199,X1.2","name":"ADD_HOPPER_A"},{"addr":"DB1199,X1.3","name":"ADD_HOPPER_F"},{"addr":"DB1001,X0.0","name":"P_IN_A"},{"addr":"DB1001,X198.0","name":"P_IN_B"},{"addr":"DB1001,X396.0","name":"P_IN_C"},{"addr":"DB1001,X594.0","name":"P_IN_D"},{"addr":"DB1001,X792.0","name":"P_IN_E"},{"addr":"DB1001,X1180.0","name":"P_IN_F"},{"addr":"DB1394,X2.3","name":"CONTROL_PROCESS_DATA_OFF"},{"addr":"DB1394,X2.4","name":"CONTROL_STOP_OFF"},{"addr":"DB1394,X2.5","name":"CONTROL_LOCK_OFF"},{"addr":"DB1002,X0.0","name":"P_OUT_A"},{"addr":"DB1002,X218.0","name":"P_OUT_B"},{"addr":"DB1002,X436.0","name":"P_OUT_C"},{"addr":"DB1002,X654.0","name":"P_OUT_D"},{"addr":"DB1002,X872.0","name":"P_OUT_E"},{"addr":"DB1002,X1090.0","name":"P_OUT_F"},{"addr":"DB1199,X1.0","name":"MANUAL_P_OUT_A"},{"addr":"DB1199,X1.1","name":"MANUAL_P_OUT_F"},{"addr":"DB1393,X3.4","name":"STOP_HOPPER_F"},{"addr":"DB1392,X69.2","name":"TIME_EXCEEDED"},{"addr":"DB1390,X77.0","name":"MODE_AUTO"},{"addr":"DB47,i72","name":"ExtSpeedA"},{"addr":"DB47,i74","name":"ExtSpeedB"},{"addr":"DB47,i76","name":"ExtSpeedC"},{"addr":"DB47,i78","name":"ExtSpeedD"},{"addr":"DB47,i80","name":"ExtSpeedE"},{"addr":"DB47,i82","name":"ExtSpeedF"},{"addr":"DB4544,i4","name":"MoldNo"},{"addr":"DB4501,X34.0","name":"Production"},{"addr":"DB4501,X34.1","name":"Downtime"},{"addr":"DB4501,X34.2","name":"Purge_In"},{"addr":"DB4501,X34.3","name":"Purge_Out"}]},{"id":"80253140.7f28a","type":"s7 endpoint","z":"a36ffe41.99058","address":"192.168.50.113","port":"102","rack":"0","slot":"1","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","cycletime":"50","timeout":"15000","verbose":"default","name":"1200_LAB","vartable":[{"addr":"DB100,R0","name":"Random"},{"addr":"DB100,I4","name":"Wave10_1"},{"addr":"DB100,I6","name":"Wave10_2"},{"addr":"DB100,I24","name":"Wave5_1"},{"addr":"DB100,I26","name":"Wave5_2"},{"addr":"M100.0","name":"M100.0"},{"addr":"M100.1","name":"M100.1"},{"addr":"M100.2","name":"M100.2"},{"addr":"M100.3","name":"M100.3"},{"addr":"M100.4","name":"M100.4"},{"addr":"M100.5","name":"M100.5"},{"addr":"Q0.0","name":"Q0.0"},{"addr":"Q0.1","name":"Q0.1"},{"addr":"M100.6","name":"M100.6"}]},{"id":"a7b4c7aa.63b7d8","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"coex_grafana","name":"coex_grafana","usetls":false,"tls":""},{"id":"cd1426e3.ceee88","type":"s7 endpoint","z":"eae97cfd.dc1d9","address":"192.168.50.13","port":"102","rack":"0","slot":"2","localtsaphi":"01","localtsaplo":"00","remotetsaphi":"01","remotetsaplo":"00","connmode":"rack-slot","cycletime":"10000","timeout":"15000","verbose":"default","name":"COEX_MSR","vartable":[{"addr":"DB1393,X21.2","name":"ExtrA_OFF"},{"addr":"DB1393,X21.3","name":"ExtrB_OFF"},{"addr":"DB1393,X21.4","name":"ExtrC_OFF"},{"addr":"DB1393,X21.5","name":"ExtrD_OFF"},{"addr":"DB1393,X21.6","name":"ExtrE_OFF"},{"addr":"DB1393,X21.7","name":"ExtrF_OFF"},{"addr":"DB1394,X4.2","name":"RELEASE_MISSING"},{"addr":"DB1394,X7.0","name":"GATE_AUTO"},{"addr":"DB1199,X0.1","name":"HOPPER_A"},{"addr":"DB1199,X0.2","name":"HOPPER_B"},{"addr":"DB1199,X0.3","name":"HOPPER_C"},{"addr":"DB1199,X0.4","name":"HOPPER_D"},{"addr":"DB1199,X0.5","name":"HOPPER_E"},{"addr":"DB1199,X0.6","name":"HOPPER_F"},{"addr":"DB1199,X1.2","name":"ADD_HOPPER_A"},{"addr":"DB1199,X1.3","name":"ADD_HOPPER_F"},{"addr":"DB1001,X0.0","name":"P_IN_A"},{"addr":"DB1001,X198.0","name":"P_IN_B"},{"addr":"DB1001,X396.0","name":"P_IN_C"},{"addr":"DB1001,X594.0","name":"P_IN_D"},{"addr":"DB1001,X792.0","name":"P_IN_E"},{"addr":"DB1001,X1180.0","name":"P_IN_F"},{"addr":"DB1394,X2.3","name":"CONTROL_PROCESS_DATA_OFF"},{"addr":"DB1394,X2.4","name":"CONTROL_STOP_OFF"},{"addr":"DB1394,X2.5","name":"CONTROL_LOCK_OFF"},{"addr":"DB1002,X0.0","name":"P_OUT_A"},{"addr":"DB1002,X218.0","name":"P_OUT_B"},{"addr":"DB1002,X436.0","name":"P_OUT_C"},{"addr":"DB1002,X654.0","name":"P_OUT_D"},{"addr":"DB1002,X872.0","name":"P_OUT_E"},{"addr":"DB1002,X1090.0","name":"P_OUT_F"},{"addr":"DB1199,X1.0","name":"MANUAL_P_OUT_A"},{"addr":"DB1199,X1.1","name":"MANUAL_P_OUT_F"},{"addr":"DB1393,X3.4","name":"STOP_HOPPER_F"},{"addr":"DB1392,X69.2","name":"TIME_EXCEEDED"},{"addr":"DB1390,X77.0","name":"MODE_AUTO"},{"addr":"DB47,i72","name":"ExtSpeedA"},{"addr":"DB47,i74","name":"ExtSpeedB"},{"addr":"DB47,i76","name":"ExtSpeedC"},{"addr":"DB47,i78","name":"ExtSpeedD"},{"addr":"DB47,i80","name":"ExtSpeedE"},{"addr":"DB47,i82","name":"ExtSpeedF"},{"addr":"DB4544,i4","name":"MoldNo"},{"addr":"DB4501,X34.0","name":"Production"},{"addr":"DB4501,X34.1","name":"Downtime"},{"addr":"DB4501,X34.2","name":"Purge_In"},{"addr":"DB4501,X34.3","name":"Purge_Out"}]},{"id":"953da3fe.07a58","type":"influxdb","z":"","hostname":"localhost","port":"8086","protocol":"http","database":"MSR","name":"MSR_COEX","usetls":false,"tls":""},{"id":"f0810191.c71a7","type":"influxdb","z":"","hostname":"192.168.50.112","port":"8086","protocol":"http","database":"smart_grinder","name":"","usetls":false,"tls":""},{"id":"63dc38b7.120388","type":"influxdb","z":"","hostname":"192.168.50.112","port":"8086","protocol":"http","database":"MSR","name":"MSR_COEX","usetls":false,"tls":""},{"id":"e7454090.a2c84","type":"ui_button","z":"71962acd.f3cc04","name":"BrowseWSList","group":"49708f2e.5a58","order":4,"width":0,"height":0,"passthru":false,"label":"Browse Workstations List","tooltip":"Used for browsing all the existing workstations","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":117,"y":80,"wires":[["ade027b9.86f8f8"]]},{"id":"5804eac.1ee3914","type":"ui_template","z":"71962acd.f3cc04","group":"49708f2e.5a58","name":"Logo PES","order":1,"width":"0","height":"0","format":"<div height=\"200\" style=\"text-align: center;height: 80px;\">\n<img src=\"http://topshare.corp.ponet/sites/cs1882-Compigne40/Doc%20Dasip/Node-RED/PES_Logo.png\" width=\"250\"><br/>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":96,"y":38,"wires":[[]]},{"id":"313757a8.b31a98","type":"function","z":"71962acd.f3cc04","name":"toWriteMsg","func":"var datatypeName = \"String\";\nvar v = context.get('v')|| null;\nvar name = context.get('name')|| null;\nvar nodeId = context.get('nodeId') || null;\nif (msg.topic == \"value\")\n{\n    v = msg.payload;\n    context.set(\"v\", v);\n}\nif (msg.topic == \"name\")\n{\n    name = msg.payload;\n    context.set(\"name\", name);\n}\nif (msg.topic == \"nodeid\")\n{\n    nodeId = msg.payload;\n    context.set(\"nodeId\", nodeId);\n}\nif (msg.topic ==\"scan\")\n{\n    v = msg.payload;\n}\nif (v !== null && name !== null && nodeId !== null)\n{\n    msg.nodetype = 'inject';\n    msg.injectType = 'write';\n    msg.addressSpaceItems = [{name, nodeId, datatypeName}];\n    msg.valuesToWrite = [v];\n    delete(msg.topic);\n    delete(msg.payload);\n    return msg;\n}","outputs":1,"noerr":0,"x":990,"y":229,"wires":[["6d7a665.ba72c98"]]},{"id":"6d7a665.ba72c98","type":"OPCUA-IIoT-Write","z":"71962acd.f3cc04","connector":"517b3d6d.286404","name":"","justValue":false,"showStatusActivities":false,"showErrors":true,"x":1130,"y":229,"wires":[["f44f1f87.6b9c4"]]},{"id":"f44f1f87.6b9c4","type":"function","z":"71962acd.f3cc04","name":"toReadMsg","func":"msg.nodetype = 'inject';\nmsg.injectType = 'read';\ndelete msg['valuesToWrite'];\nmsg.payload = {};\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":320,"wires":[["5b05d753.df29a8"]]},{"id":"5b05d753.df29a8","type":"OPCUA-IIoT-Read","z":"71962acd.f3cc04","attributeId":"0","maxAge":1,"depth":1,"connector":"517b3d6d.286404","name":"","justValue":true,"showStatusActivities":false,"showErrors":true,"parseStrings":false,"historyDays":"","x":1150,"y":320,"wires":[["aeda5e03.72a86"]]},{"id":"aeda5e03.72a86","type":"split","z":"71962acd.f3cc04","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":990,"y":400,"wires":[["7d74be5.099994"]]},{"id":"7d74be5.099994","type":"change","z":"71962acd.f3cc04","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.value","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":400,"wires":[["218b0911.eb05d6"]]},{"id":"218b0911.eb05d6","type":"ui_text","z":"71962acd.f3cc04","group":"49708f2e.5a58","order":11,"width":0,"height":0,"name":"WsMode","label":"Mode of the Workstation:","format":"{{msg.payload}}","layout":"row-left","x":1120,"y":720,"wires":[]},{"id":"34887426.73c36c","type":"serial in","z":"71962acd.f3cc04","name":"LocalScan","serial":"18570601.a1199a","x":660,"y":280,"wires":[["4f2f7ab5.08ea94"]]},{"id":"4f2f7ab5.08ea94","type":"function","z":"71962acd.f3cc04","name":"ScanFct","func":"msg.topic = 'scan';\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":280,"wires":[["313757a8.b31a98"]]},{"id":"313a2096.08ed6","type":"ui_template","z":"71962acd.f3cc04","group":"49708f2e.5a58","name":"Link workstation","order":10,"width":0,"height":0,"format":"<div style=\"text-align: center;\">\n    <a\n    target=\"_blank\"\n    href={{msg.payload}} style=\"text-decoration:none;\">\n        <span style=\"display:block; text-align:center; font-weight:bold; font-size:26px; color:rgb(0,85,161);\"> \nPES screen of the Workstation\n        </span>\n    </a>\n</div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":480,"y":260,"wires":[[]]},{"id":"7333b61a.da72b8","type":"function","z":"71962acd.f3cc04","name":"GetNodeName","func":"msg.topic = 'name'\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":180,"wires":[["313757a8.b31a98","27dbf1e4.93890e"]]},{"id":"78ac2475.d27b9c","type":"ui_button","z":"71962acd.f3cc04","name":"Reset","group":"49708f2e.5a58","order":12,"width":0,"height":0,"passthru":true,"label":"Reset selections (disconnect)","tooltip":"Resets the different connections","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"reset","x":70,"y":440,"wires":[["c3251d36.4cacf","b5c0f9a6.d44de8","17ef8118.e2e12f","dd9de27.d08742","115700c6.b4eabf"]]},{"id":"208efc57.0248d4","type":"OPCUA-IIoT-Flex-Connector","z":"71962acd.f3cc04","name":"","showStatusActivities":false,"showErrors":false,"connector":"517b3d6d.286404","x":680,"y":380,"wires":[[]]},{"id":"c3251d36.4cacf","type":"ui_dropdown","z":"71962acd.f3cc04","name":"SelectServ","label":"Select server:","tooltip":"Used for selecting the OPC server","place":"Server Selector","group":"49708f2e.5a58","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"Pre Prod Com","value":"opc.tcp://SCOMWQ0301.ad.ponet:49320","type":"str"},{"label":"Prod Com","value":"opc.tcp://SCOMWP0301.ad.ponet:49320","type":"str"}],"payload":"","topic":"OPCServ","x":310,"y":380,"wires":[["a5a0d08c.70df4","9aaea173.1eba5"]]},{"id":"a5a0d08c.70df4","type":"function","z":"71962acd.f3cc04","name":"ConnectFct","func":"msg.injectType = 'inject';\nmsg.payloadType = 'json';\nreturn {payload: {\n    \"discoveryUrl\": null,\n    \"endpoint\": msg.payload,\n    \"keepSessionAlive\": true,\n    \"securityPolicy\": \"None\",\n    \"securityMode\": \"NONE\",\n    \"name\": \"\",\n    \"showErrors\": true,\n    \"publicCertificateFile\": null,\n    \"privateKeyFile\": null,\n    \"defaultSecureTokenLifetime\": 0,\n    \"endpointMustExist\": false,\n    \"autoSelectRightEndpoint\": false,\n    \"strategyMaxRetry\": 0,\n    \"strategyInitialDelay\": 0,\n    \"strategyMaxDelay\": 0,\n    \"strategyRandomisationFactor\": 0,\n    \"requestedSessionTimeout\": 0,\n    \"connectionStartDelay\": 0,\n    \"reconnectDelay\": 0\n}\n}","outputs":1,"noerr":0,"x":510,"y":380,"wires":[["208efc57.0248d4"]]},{"id":"b5c0f9a6.d44de8","type":"ui_dropdown","z":"71962acd.f3cc04","name":"SelectWS","label":"Select a Workstation:","tooltip":"Used for selecting the workstation needed","place":"Workstation Selector","group":"49708f2e.5a58","order":7,"width":0,"height":0,"passthru":true,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"reset","x":120,"y":220,"wires":[["9aaea173.1eba5","7333b61a.da72b8"]]},{"id":"dc3db589.167e78","type":"status","z":"71962acd.f3cc04","name":"","scope":["6d7a665.ba72c98"],"x":300,"y":440,"wires":[["74ea1845.5f8298"]],"outputLabels":["msg.status.text"]},{"id":"17ef8118.e2e12f","type":"function","z":"71962acd.f3cc04","name":"ResetString","func":"if (msg.topic == 'reset')\n{\n    return {payload: ''};\n}","outputs":1,"noerr":0,"x":310,"y":720,"wires":[["218b0911.eb05d6"]]},{"id":"3a7c0be4.223914","type":"OPCUA-IIoT-Crawler","z":"71962acd.f3cc04","connector":"517b3d6d.286404","name":"","justValue":true,"singleResult":false,"showStatusActivities":true,"showErrors":true,"activateUnsetFilter":false,"activateFilters":true,"negateFilter":true,"filters":[{"name":"nodeId","value":"SCAN1.Data.Scan;*"}],"delayPerMessage":"0.5","x":400,"y":80,"wires":[["921be37f.7ee2b"]]},{"id":"921be37f.7ee2b","type":"split","z":"71962acd.f3cc04","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":530,"y":80,"wires":[["bd3832f3.66303"]]},{"id":"56b207fe.54c4d8","type":"function","z":"71962acd.f3cc04","name":"GetScans","func":"var string0 = msg.payload.nodeId.split(';s=')[1];\nvar string1 = string0.split('_SCAN')[0];\nreturn {\n    payload: {\n        'nodeId': string1,\n        'browseName': msg.payload.browseName\n                    },\n    socketid: msg.socketid,\n    justValue: msg.justValue,\n    compressed: msg.compressed,\n    parts: msg.parts\n}","outputs":1,"noerr":0,"x":780,"y":80,"wires":[["892330c5.c9bd1"]]},{"id":"bd3832f3.66303","type":"split","z":"71962acd.f3cc04","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":650,"y":80,"wires":[["56b207fe.54c4d8"]]},{"id":"892330c5.c9bd1","type":"join","z":"71962acd.f3cc04","name":"","mode":"custom","build":"array","property":"payload.nodeId","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"3","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":910,"y":80,"wires":[["a9c7c7e.042c438"]]},{"id":"a9c7c7e.042c438","type":"function","z":"71962acd.f3cc04","name":"GetNodes","func":"return {payload: msg.payload.nodeId}","outputs":1,"noerr":0,"x":1040,"y":80,"wires":[["7be60ff1.361f1"]]},{"id":"7be60ff1.361f1","type":"change","z":"71962acd.f3cc04","name":"","rules":[{"t":"set","p":"options","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":120,"y":140,"wires":[["b5c0f9a6.d44de8"]]},{"id":"ade027b9.86f8f8","type":"function","z":"71962acd.f3cc04","name":"Inject","func":"msg.topic = \"\"\nmsg.nodetype = \"inject\"\nmsg.injectType = \"inject\"\nmsg.addressSpaceItems = [\n    {\n            \"name\": \"\",\n            \"nodeId\": \"ns=0;i=85\",\n            \"datatypeName\": \"\"\n    }\n    ]\ndelete(msg.socketid)\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":80,"wires":[["3a7c0be4.223914"]]},{"id":"27dbf1e4.93890e","type":"function","z":"71962acd.f3cc04","name":"GetNodeID","func":"return {\n    payload: 'ns=2;s=' + msg.payload + '_SCAN1.Data.Scan',\n    topic: \"nodeid\"\n}","outputs":1,"noerr":0,"x":790,"y":180,"wires":[["313757a8.b31a98"]]},{"id":"efdca0cb.de8a6","type":"status","z":"71962acd.f3cc04","name":"","scope":["3a7c0be4.223914"],"x":300,"y":640,"wires":[["cc2ea408.86f388"]],"outputLabels":["msg.status.text"]},{"id":"cc2ea408.86f388","type":"function","z":"71962acd.f3cc04","name":"WsState","func":"var string = context.get('string')|| null;\nif (msg.status.text == 'active' && string == 'Connecting')\n{\n    string = 'Connected, please select a workstation'\n    return {payload: string};\n}\nif (msg.status.text == 'crawling')\n{\n    string = 'Connecting'\n    context.set(\"string\", string);\n    return {payload: string};\n}","outputs":1,"noerr":0,"x":440,"y":640,"wires":[["8d569742.4f52a8"]]},{"id":"9aaea173.1eba5","type":"function","z":"71962acd.f3cc04","name":"GetUrlsPES","func":"String.prototype.format = function() {\n    var formatted = this;\n    for (var i = 0; i < arguments.length; i++) {\n        var regexp = new RegExp('\\\\{'+i+'\\\\}', 'gi');\n        formatted = formatted.replace(regexp, arguments[i]);\n    }\n    return formatted;\n};\nvar OPCserv = context.get('OPCserv')|| null;\nif (msg.topic == \"OPCServ\")\n{\n    var string0 = msg.payload.split(\"//\")[1];\n    var string1 = string0.split(\".\")[0];\n    OPCserv = string1;\n    context.set(\"OPCserv\", OPCserv);\n}\nif (msg.topic == \"reset\" && OPCserv !== null)\n{\n    msg.payload = \"http://{1}/apriso/portal/kiosk/login.aspx?menuitemid=100000430&TabID=100000006&EquipmentLogin=true&EquipmentName={0}&LoginName={0}&Alias=IN_WorkstationScreen\".format(msg.payload,OPCserv);\n    return {payload: msg.payload, test: OPCserv};\n}","outputs":1,"noerr":0,"x":310,"y":260,"wires":[["313a2096.08ed6","ef3fe197.6b9e9"]]},{"id":"74ea1845.5f8298","type":"function","z":"71962acd.f3cc04","name":"ServState","func":"if (msg.status.text == 'active')\n{\n    return {payload: 'Connected, click the button below'};\n}\n","outputs":1,"noerr":0,"x":440,"y":440,"wires":[["ed36b704.2b5878"]]},{"id":"5952cd6e.d2b3f4","type":"inject","z":"71962acd.f3cc04","name":"SetStatus","topic":"","payload":"Waiting for connection","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":580,"y":540,"wires":[["93e07690.34ac88","7e6dc7c1.29d318"]]},{"id":"8d569742.4f52a8","type":"function","z":"71962acd.f3cc04","name":"SetLed","func":"if (msg.payload == 'Connecting'){\n    msg.color = \"#f4a142\";\n    return msg;\n}else if (msg.payload == 'Connected, please select a workstation'){\n    msg.color = \"#00FF00\";\n    return msg;\n}","outputs":1,"noerr":0,"x":580,"y":640,"wires":[["93e07690.34ac88"]]},{"id":"93e07690.34ac88","type":"ui_template","z":"71962acd.f3cc04","group":"49708f2e.5a58","name":"LedWS","order":6,"width":"0","height":"0","format":"<style>\n.led {\n    float: left;\n    padding: 3px;\n    width: 10px;\n    height: 10px;\n    border-radius: 50%;\n    background-color: #FF0000;\n}\n</style>\n\n<div>\n    <span style=\"margin-left:15px;\">\n        Workstations status:\n    </span>\n    <span style=\"font-weight:bold;margin-left:10px;\">\n        {{msg.payload}}\n    </span>\n    <span class=\"led\" style=\"margin-top:5px;margin-left:15px;background-color: {{msg.color}}; box-shadow: black 0 -1px 1px 0px, inset black  0 -1px 4px, {{msg.color}} 0 3px 15px;\">\n    </span>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":760,"y":580,"wires":[[]]},{"id":"dd9de27.d08742","type":"function","z":"71962acd.f3cc04","name":"ResetLed","func":"if (msg.topic == 'reset')\n{\n    msg.payload = \"Waiting for connection\";\n    msg.color = \"#FF0000\";\n    return msg;\n}","outputs":1,"noerr":0,"x":300,"y":580,"wires":[["93e07690.34ac88"]]},{"id":"7e6dc7c1.29d318","type":"ui_template","z":"71962acd.f3cc04","group":"49708f2e.5a58","name":"LedServ","order":3,"width":"0","height":"0","format":"<style>\n.led {\n    float: left;\n    padding: 3px;\n    width: 10px;\n    height: 10px;\n    border-radius: 50%;\n    background-color: #FF0000;\n}\n</style>\n\n<div>\n    <span style=\"margin-left:15px;\">\n        Server status:\n    </span>\n    <span style=\"font-weight:bold;margin-left:10px;\">\n        {{msg.payload}}\n    </span>\n    <span class=\"led\" style=\"margin-top:5px;margin-left:15px;background: {{msg.color}};box-shadow: black 0 -1px 1px 0px, inset black  0 -1px 4px, {{msg.color}} 0 3px 15px;\">\n    </span>\n</div>\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":760,"y":500,"wires":[[]]},{"id":"115700c6.b4eabf","type":"function","z":"71962acd.f3cc04","name":"ResetLed","func":"if (msg.topic == 'reset')\n{\n    msg.payload = \"Waiting for connection\";\n    msg.color = \"#FF0000\";\n    return msg;\n}","outputs":1,"noerr":0,"x":300,"y":500,"wires":[["7e6dc7c1.29d318"]]},{"id":"ed36b704.2b5878","type":"function","z":"71962acd.f3cc04","name":"SetLed","func":"if (msg.payload == 'Connected, click the button below'){\n    msg.color = \"#00FF00\";\n    return msg;\n}","outputs":1,"noerr":0,"x":580,"y":440,"wires":[["7e6dc7c1.29d318"]]},{"id":"eaa9704f.b9cbf","type":"file","z":"d887781a.e09d98","name":"CSV MSR","filename":"D:\\Vincent Ciancio\\PoC\\PoC IoT\\6 - MSR Node-RED\\MSR - Status.csv","appendNewline":false,"createDir":true,"overwriteFile":"false","x":710,"y":60,"wires":[[]]},{"id":"be025dfe.c7acb","type":"csv","z":"d887781a.e09d98","name":"","sep":",","hdrin":"","hdrout":false,"multi":"one","ret":"\\r\\n","temp":"","skip":"0","x":530,"y":60,"wires":[["eaa9704f.b9cbf"]]},{"id":"13aa608f.89114f","type":"debug","z":"d887781a.e09d98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":690,"y":200,"wires":[]},{"id":"85342016.62cf","type":"function","z":"d887781a.e09d98","name":"Timestamp","func":"msg.timestamp = new Date().toLocaleString();\ndelete(msg.topic);\nmsg.payload[\"timestamp\"] = msg.timestamp\ndelete(msg.timestamp)\nreturn msg; ","outputs":1,"noerr":0,"x":330,"y":60,"wires":[["be025dfe.c7acb","13aa608f.89114f"]]},{"id":"191ca2fb.93541d","type":"file","z":"eae97cfd.dc1d9","name":"CSV MSR","filename":"D:\\Vincent Ciancio\\PoC\\PoC IoT\\6 - MSR Node-RED\\MSRTest - CurrentStatus.csv","appendNewline":false,"createDir":true,"overwriteFile":"false","x":1010,"y":720,"wires":[[]]},{"id":"98cc050f.6cb5e8","type":"csv","z":"eae97cfd.dc1d9","name":"","sep":",","hdrin":"","hdrout":false,"multi":"one","ret":"\\r\\n","temp":"","skip":"0","x":870,"y":720,"wires":[["191ca2fb.93541d"]]},{"id":"1965cecd.afb921","type":"function","z":"eae97cfd.dc1d9","name":"SetBoolean","func":"if (msg.payload === false)\n{\n    msg.payload = 0\n}\nelse if(msg.payload === true)\n{\n    msg.payload = 1\n}\ndelete(msg.parts);\nreturn msg;","outputs":1,"noerr":0,"x":90,"y":820,"wires":[["2bf3034.517a3fc","3bd4c240.e08dde"]]},{"id":"2bf3034.517a3fc","type":"function","z":"eae97cfd.dc1d9","name":"SetMeasurement","func":"if(msg.payload == 1)\n{\n    msg.payload = msg.topic\n    msg.measurement = 'Coex'\n    delete(msg.topic);\n    return msg;\n}","outputs":1,"noerr":0,"x":310,"y":780,"wires":[[]]},{"id":"3bd4c240.e08dde","type":"function","z":"eae97cfd.dc1d9","name":"SetMeasurement2","func":"var str = msg.topic\nmsg.payload = {value: msg.payload};\nstr = str.replace(\" \", \"_\")\nmsg.measurement = str;\ndelete(msg.topic);\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":860,"wires":[[]]},{"id":"452dfbc8.1bec94","type":"function","z":"885b552b.80c768","name":"TimestampStart","func":"start = new Date()//.toLocaleString();\nflow.set(\"start\",start)\nmsg.topic = 'start'\nmsg.start = start\ndelete(msg.timestamp)\nreturn msg; ","outputs":1,"noerr":0,"x":400,"y":120,"wires":[[]]},{"id":"b6478dbb.a21f6","type":"inject","z":"885b552b.80c768","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":160,"wires":[["99b3f812.578bc8"]]},{"id":"28a1cf93.9ff55","type":"debug","z":"885b552b.80c768","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":870,"y":200,"wires":[]},{"id":"2dfeb71d.875e68","type":"function","z":"885b552b.80c768","name":"TimestampEnd","func":"end = new Date()//.toLocaleString();\nflow.set(\"end\",end)\nmsg.topic = 'end'\nmsg.end = end\ndelete(msg.timestamp)\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":200,"wires":[["48a5811.4f0c88"]]},{"id":"48a5811.4f0c88","type":"function","z":"885b552b.80c768","name":"TimestampEnd","func":"if (msg.topic == \"end\")\n{\n    msg.payload = Math.floor((flow.get('end') - flow.get('start'))/60000)\n    delete(msg.topic)\n    msg.end = flow.get(\"end\").toLocaleString()\n    return msg; \n}\n","outputs":1,"noerr":0,"x":720,"y":200,"wires":[["28a1cf93.9ff55"]]},{"id":"77ad5628.bbf638","type":"delay","z":"885b552b.80c768","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":200,"wires":[["2dfeb71d.875e68"]]},{"id":"99b3f812.578bc8","type":"function","z":"885b552b.80c768","name":"Var","func":"var start = flow.get(\"start\")||null;\nvar end = flow.get(\"end\")||null;\nreturn msg; ","outputs":1,"noerr":0,"x":230,"y":160,"wires":[["452dfbc8.1bec94","77ad5628.bbf638"]]},{"id":"d12aa601.106708","type":"inject","z":"885b552b.80c768","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":380,"wires":[["cb41f35b.96e11"]]},{"id":"cb41f35b.96e11","type":"function","z":"885b552b.80c768","name":"TimestampStart","func":"start = new Date().toLocaleString();\nmsg.payload = start\nreturn msg; ","outputs":1,"noerr":0,"x":380,"y":380,"wires":[["a23396c7.a9e268"]]},{"id":"a23396c7.a9e268","type":"debug","z":"885b552b.80c768","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":590,"y":380,"wires":[]},{"id":"fcb8e006.73711","type":"function","z":"eae97cfd.dc1d9","name":"ManualStatus","func":"var status = 'OK';\nflow.set('status',status);\nreturn {payload: flow.get('status')}","outputs":1,"noerr":0,"x":260,"y":700,"wires":[[]]},{"id":"bb047284.724f9","type":"inject","z":"eae97cfd.dc1d9","name":"Inject","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":700,"wires":[["fcb8e006.73711"]]},{"id":"8dab4425.7aef48","type":"function","z":"eae97cfd.dc1d9","name":"SendStatus","func":"if (flow.get('count') === 0)\n{\n    start = new Date();\n    flow.set(\"start\",start);\n    flow.set('status',flow.get('detect'));\n    msg.payload = flow.get('status');\n    msg.start = start;\n    var count = flow.get('count') + 1;\n    flow.set('count',count);\n    return {payload: {\n        start: msg.start.toLocaleString(),\n        end: '',\n        duration: '',\n        status: msg.payload},\n        topic: 'new'\n        };\n}\nif (flow.get('detect') !== flow.get('status'))\n{\n    flow.set(\"status\", flow.get('detect'));\n    msg.payload = flow.get('status');\n    end = new Date();\n    flow.set('end',end);\n    duration = Math.floor((flow.get('end') - flow.get('start'))/60000);\n    flow.set('duration',duration);\n    msg.end = flow.get('end');\n    msg.duration = duration;\n    node.send({payload: {\n        start:flow.get('start').toLocaleString(),\n        end:msg.end.toLocaleString(),\n        duration:flow.get('duration'),\n        status:flow.get('status')\n    },\n    topic: 'finished'\n    });\n    flow.set('start',end);\n    return {payload: {\n        start: flow.get('start').toLocaleString(),\n        end: '',\n        duration: '',\n        status: msg.payload},\n        topic: 'new'\n    }\n}","outputs":1,"noerr":0,"x":530,"y":760,"wires":[["ae6ed9f5.f381d8"]]},{"id":"f9b8de0c.e03e5","type":"s7 in","z":"1468ae93.06f8a1","endpoint":"2996ceeb.129a52","mode":"all","variable":"","diff":false,"name":"","x":100,"y":80,"wires":[["1322ad4c.0a0cc3"]]},{"id":"e31780e1.8d964","type":"influxdb out","z":"1468ae93.06f8a1","influxdb":"a7b4c7aa.63b7d8","name":"","measurement":"","precision":"","retentionPolicy":"","x":940,"y":140,"wires":[]},{"id":"f1900226.8d9d6","type":"function","z":"1468ae93.06f8a1","name":"SetMeasurement3","func":"msg.measurement = 'MSR_COEX';\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":80,"wires":[["e31780e1.8d964"]]},{"id":"1322ad4c.0a0cc3","type":"split","z":"1468ae93.06f8a1","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":250,"y":80,"wires":[["2d176cac.2f2064"]]},{"id":"a872a3f9.301bb","type":"join","z":"1468ae93.06f8a1","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":530,"y":80,"wires":[["f1900226.8d9d6"]]},{"id":"6b501ba0.954104","type":"nbrowser","z":"1468ae93.06f8a1","name":"GetHTML","methods":[{"name":"gotoURL","func":"goto","params":[{"type":"msg","value":"payload","typeDefault":"str"}]},{"name":"wait","func":"wait","params":[{"type":"str","value":"5","typeDefault":"str"}]},{"name":"getHTML","func":"getHTML","params":[{"type":"str","value":"","typeDefault":"str"},{"type":"msg","value":"payload","typeDefault":"output"}]}],"prop":"nbrowser","propout":"payload","object":"msg","objectout":"msg","close":false,"show":false,"ssl":false,"outputs":1,"x":400,"y":200,"wires":[["b7db3dfb.ae6a"]]},{"id":"213821c5.14b7fe","type":"inject","z":"1468ae93.06f8a1","name":"","topic":"","payload":"http://SCOMWP0301/apriso/portal/kiosk/login.aspx?menuitemid=100000430&TabID=100000006&EquipmentLogin=true&EquipmentName=B_COEX1_BMM272&LoginName=B_COEX1_BMM272&Alias=IN_WorkstationScreen","payloadType":"str","repeat":"10","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":200,"wires":[["6b501ba0.954104"]]},{"id":"b7db3dfb.ae6a","type":"function","z":"1468ae93.06f8a1","name":"GetStatusPES","func":"var status;\nvar result = msg.payload.split('in-productionmode-desc\">')[1]\nvar result1 = result.split(\"</\")[0]\nvar result2 = result1.split(\" - \")[0]\nvar result3 = result1.split(\" - \")[1]\nif (result3 == \"Production\")\n{\n    status = result3\n}\nelse if (result3 == 'Changement de Production')\n{\n    status = 'Change Over'\n}\nelse if (result3 == \"Purge d'Arrêt / Arrêt Machine\")\n{\n    status = 'Purge Out'\n}\nelse if (result2 == 'Downtime')\n{\n    status = result2\n}\nelse\n{\n    status = 'Purge In'\n}\nvar msg1 = {payload: status, measurement: 'PES_STATUS'}\nreturn [msg,msg1];","outputs":2,"noerr":0,"x":700,"y":200,"wires":[["c328f2ab.d422a"],["e31780e1.8d964"]]},{"id":"c328f2ab.d422a","type":"nbrowser","z":"1468ae93.06f8a1","name":"CloseScreen","methods":[{"name":"wait","func":"wait","params":[{"type":"str","value":"0.1","typeDefault":"str"}]}],"prop":"nbrowser","propout":"payload","object":"msg","objectout":"msg","close":true,"show":false,"ssl":false,"outputs":0,"x":930,"y":260,"wires":[]},{"id":"2d176cac.2f2064","type":"function","z":"1468ae93.06f8a1","name":"SetBoolean","func":"if (msg.payload === false)\n{\n    msg.payload = 0;\n}\nelse if(msg.payload === true)\n{\n    if (msg.topic == 'Downtime' || msg.topic == 'Production' || msg.topic == 'Purge_In' || msg.topic == 'Purge_Out')\n    {\n        msg.payload = msg.topic;\n        msg.parts.key = 'Status'\n    }\n    else\n    {\n        msg.payload = 1;\n    }\n}\ndelete(msg.topic);\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":80,"wires":[["a872a3f9.301bb"]]},{"id":"ae6ed9f5.f381d8","type":"switch","z":"eae97cfd.dc1d9","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"new","vt":"str"},{"t":"eq","v":"finished","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":760,"wires":[["98cc050f.6cb5e8"],["cdb9daa4.0f72d8"]]},{"id":"cdb9daa4.0f72d8","type":"csv","z":"eae97cfd.dc1d9","name":"","sep":",","hdrin":"","hdrout":false,"multi":"one","ret":"\\r\\n","temp":"","skip":"0","x":870,"y":800,"wires":[["8fbe4a39.92bb78"]]},{"id":"8fbe4a39.92bb78","type":"file","z":"eae97cfd.dc1d9","name":"CSV MSR","filename":"D:\\Vincent Ciancio\\PoC\\PoC IoT\\6 - MSR Node-RED\\MSRTest - ArchiveStatus.csv","appendNewline":false,"createDir":true,"overwriteFile":"false","x":1010,"y":800,"wires":[[]]},{"id":"bb96ac53.6d98d","type":"s7 in","z":"a36ffe41.99058","endpoint":"80253140.7f28a","mode":"all","variable":"","diff":false,"name":"1200_LAB","x":420,"y":60,"wires":[["34371a3b.0d7c76"]]},{"id":"34371a3b.0d7c76","type":"debug","z":"a36ffe41.99058","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":580,"y":60,"wires":[]},{"id":"90e3f89e.9f73e8","type":"function","z":"eae97cfd.dc1d9","name":"Hoppers","func":"if (msg.HOPPER_A === true || msg.HOPPER_B === true || msg.HOPPER_C === true || msg.HOPPER_D === true || msg.HOPPER_E === true || msg.HOPPER_F === true)\n{\n    if (flow.get('hoppers') !== true)\n    {\n        flow.set('hoppers',true);\n    }\n}\nelse\n{\n    if (flow.get('hoppers') !== false)\n    {\n        flow.set('hoppers',false);\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":540,"wires":[[]]},{"id":"76e5b5e7.8186bc","type":"function","z":"eae97cfd.dc1d9","name":"ExtrudersOn","func":"if (msg.ExtrA_OFF === false || msg.ExtrB_OFF === false || msg.ExtrC_OFF === false || msg.ExtrD_OFF === false || msg.ExtrE_OFF === false || msg.ExtrF_OFF === false)\n{\n    if (flow.get('extrudersOn') !== true)\n    {\n        flow.set('extrudersOn',true);\n    }\n}\nelse\n{\n    if (flow.get('extrudersOn') !== false)\n    {\n        flow.set('extrudersOn',false);\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":540,"wires":[["90e3f89e.9f73e8"]]},{"id":"ca304cac.59f08","type":"function","z":"eae97cfd.dc1d9","name":"ExtrudersRun","func":"if (msg.ExtSpeedA === 0 || msg.ExtSpeedB === 0 || msg.ExtSpeedC === 0 || msg.ExtSpeedD === 0 || msg.ExtSpeedE === 0 || msg.ExtSpeedF === 0)\n{\n    if (flow.get('extrudersRun') !== false)\n    {\n        flow.set('extrudersRun',false);\n    }\n}\nelse\n{\n    if (flow.get('extrudersRun') !== true)\n    {\n        flow.set('extrudersRun',true);\n    }\n}\n        return msg;","outputs":1,"noerr":0,"x":100,"y":540,"wires":[["9c08ed8f.9a749"]]},{"id":"7e7b9b59.f47df4","type":"debug","z":"eae97cfd.dc1d9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":410,"y":640,"wires":[]},{"id":"1cc7dd6e.ac5a73","type":"function","z":"eae97cfd.dc1d9","name":"GetVarsValues","func":"return {payload :\n{status: flow.get('status'),\nstart: flow.get('start').toLocaleString(),\ndetect: flow.get('detect'),\nmold: flow.get('mold'),\nhoppers: flow.get('hoppers'),\nextrudersOn: flow.get('extrudersOn'),\nextrudersRun: flow.get('extrudersRun'),\nextrudersStop: flow.get('extrudersStop')}}","outputs":1,"noerr":0,"x":260,"y":640,"wires":[["7e7b9b59.f47df4"]]},{"id":"294d0df2.433182","type":"inject","z":"eae97cfd.dc1d9","name":"Inject","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":640,"wires":[["1cc7dd6e.ac5a73"]]},{"id":"9c08ed8f.9a749","type":"function","z":"eae97cfd.dc1d9","name":"ExtrudersStop","func":"if (msg.ExtSpeedA === 0 && msg.ExtSpeedB === 0 && msg.ExtSpeedC === 0 && msg.ExtSpeedD === 0 && msg.ExtSpeedE === 0 && msg.ExtSpeedF === 0)\n{\n    if (flow.get('extrudersStop') !== true)\n    {\n        flow.set('extrudersStop',true);\n    }\n}\nelse\n{\n    flow.set('extrudersStop',false)\n}\n        return msg;","outputs":1,"noerr":0,"x":280,"y":540,"wires":[["76e5b5e7.8186bc"]]},{"id":"1408e5c.d9c491a","type":"function","z":"eae97cfd.dc1d9","name":"Auto Purge In","func":"if ((msg.P_IN_A === true || msg.P_IN_B === true || msg.P_IN_C === true || msg.P_IN_D === true || msg.P_IN_E === true || msg.P_IN_F === true) && (msg.MODE_AUTO === false))\n{\n    flow.set('detect','Purge In');\n    return msg;\n}","outputs":1,"noerr":0,"x":720,"y":440,"wires":[["96796c3c.c3064"]]},{"id":"9a25c688.46f258","type":"function","z":"eae97cfd.dc1d9","name":"Production","func":"if (msg.MODE_AUTO === true && flow.get('hoppers') === true && flow.get('extrudersOn') === true && flow.get('extrudersRun') === true && msg.CONTROL_LOCK_OFF === true && msg.CONTROL_STOP_OFF === true)\n{\n    flow.set('detect','Production');\n    return msg;\n}","outputs":1,"noerr":0,"x":730,"y":280,"wires":[["96796c3c.c3064"]]},{"id":"10f7a118.14510f","type":"function","z":"eae97cfd.dc1d9","name":"Auto Purge Out","func":"if ((msg.P_OUT_A === true || msg.P_OUT_B === true || msg.P_OUT_C === true || msg.P_OUT_D === true || msg.P_OUT_E === true || msg.P_OUT_F === true) && (msg.MODE_AUTO === false && flow.get('extrudersStop') !== true))\n{\n    flow.set('detect','Purge Out');\n    return msg;\n}","outputs":1,"noerr":0,"x":720,"y":240,"wires":[["96796c3c.c3064"]]},{"id":"7e0ac1ea.33bb6","type":"function","z":"eae97cfd.dc1d9","name":"Change Over","func":"if (flow.get('mold') === null)\n{\n    flow.set('mold',msg.MoldNo);\n}\nif (msg.MoldNo !== flow.get('mold'))\n{\n    flow.set('mold',msg.MoldNo);\n    flow.set('detect','Change Over');\n    node.send(msg);\n}\nif (flow.get('hoppers') === false)\n{\n    flow.set('change_detect1',true);\n}\nelse\n{\n    flow.set('change_detect1',false);\n}\nif (flow.get('change_detect1') === true && msg.STOP_HOPPER_F === true)\n{\n    flow.set('change_detect2',true);\n}\nelse\n{\n    flow.set('change_detect2',false);\n}\nif (flow.get('change_detect2') === true && msg.MODE_AUTO === false)\n{\n    flow.set('detect','Change Over');\n    flow.set('change_detect1',false);\n    flow.set('change_detect2',false);\n    return msg;\n}","outputs":1,"noerr":0,"x":730,"y":360,"wires":[["96796c3c.c3064"]]},{"id":"eda06f06.ccd0c","type":"function","z":"eae97cfd.dc1d9","name":"Downtime","func":"if (msg.GATE_AUTO === true || msg.RELEASE_MISSING === true)\n{\n    flow.set('detect','Downtime');\n    return msg;\n}\nif (msg.MODE_AUTO === false && flow.get('extrudersStop') === true)\n{\n    flow.set('detect','Downtime');\n    return msg;\n}\nif (msg.TIME_EXCEEDED === true && flow.get('hoppers') === true)\n{\n    flow.set('detect','Downtime');\n    return msg;\n}\nif (flow.get('detect') === 'Purge In' && msg.MODE_AUTO === true && (msg.P_IN_A ===  false && msg.P_IN_B === false && msg.P_IN_C === false && msg.P_IN_D === false && msg.P_IN_E === false && msg.P_IN_F === false))\n{\n    flow.set('detect','Downtime');\n    return msg;\n}\nif (flow.get('detect') === 'Production' && msg.MODE_AUTO === false)\n{\n    flow.set('detect','Downtime');\n    return msg;\n}","outputs":1,"noerr":0,"x":720,"y":400,"wires":[["96796c3c.c3064"]]},{"id":"7e3b129.8ac89ec","type":"function","z":"eae97cfd.dc1d9","name":"CreateFlowVars","func":"var status = null;\nvar start = null;\n//var end = null;\n//var duration = null;\n//var count = 0;\nvar detect = null;\nvar mold = null;\nvar hoppers = null;\nvar extrudersOn = null;\nvar extrudersRun = null;\nvar extrudersStop = null;\nvar change_detect1 = null;\nvar change_detect2 = null;\nflow.set('status',status);\nflow.set('start',start);\n//flow.set('end',end);\n//flow.set('duration',duration);\n//flow.set('count',count);\nflow.set('detect',detect);\nflow.set('mold',mold);\nflow.set('hoppers',hoppers);\nflow.set('extrudersOn',extrudersOn);\nflow.set('extrudersRun',extrudersRun);\nflow.set('extrudersStop',extrudersStop);\nflow.set('change_detect1',change_detect1);\nflow.set('change_detect2',change_detect2);\nnode.status({fill:\"green\",shape:\"dot\",text: 'Initialized'});\n//return {count:count,status:status,detect:detect};","outputs":1,"noerr":0,"x":280,"y":440,"wires":[[]]},{"id":"e4b2a535.58e058","type":"inject","z":"eae97cfd.dc1d9","name":"Inject","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":440,"wires":[["7e3b129.8ac89ec"]]},{"id":"81a77f24.08aae","type":"function","z":"eae97cfd.dc1d9","name":"Manual Purge In","func":"if ((msg.HOPPER_A === true && msg.HOPPER_B === true && msg.HOPPER_C === true && msg.HOPPER_D === true && msg.HOPPER_E === true && msg.HOPPER_F === true && msg.ADD_HOPPER_A === true && msg.ADD_HOPPER_F === true && msg.MODE_AUTO === false && flow.get('detect') === 'Downtime'))\n{\n    flow.set('detect','Purge In');\n    return msg;\n}","outputs":1,"noerr":0,"x":720,"y":480,"wires":[["96796c3c.c3064"]]},{"id":"140888e3.26b827","type":"function","z":"eae97cfd.dc1d9","name":"Manual Purge Out","func":"if (((msg.MANUAL_P_OUT_A === true && msg.ADD_HOPPER_A === true) || (msg.MANUAL_P_OUT_F === true && msg.ADD_HOPPER_F === true)) && (msg.MODE_AUTO === false))\n{\n    flow.set('detect','Purge Out');\n    return msg;\n}","outputs":1,"noerr":0,"x":730,"y":200,"wires":[["96796c3c.c3064"]]},{"id":"4ba061bc.d418f","type":"function","z":"eae97cfd.dc1d9","name":"GetPayload","func":"return msg.payload;","outputs":1,"noerr":0,"x":270,"y":340,"wires":[["303c633c.98860c"]]},{"id":"654a1076.6063c","type":"file","z":"eae97cfd.dc1d9","name":"CSV MSR","filename":"D:\\Vincent Ciancio\\PoC\\PoC IoT\\6 - MSR Node-RED\\MSRTest.csv","appendNewline":false,"createDir":true,"overwriteFile":"false","x":1290,"y":340,"wires":[[]]},{"id":"ed1f8787.fea2b8","type":"csv","z":"eae97cfd.dc1d9","name":"","sep":",","hdrin":"","hdrout":false,"multi":"one","ret":"\\r\\n","temp":"","skip":"0","x":1150,"y":340,"wires":[["654a1076.6063c"]]},{"id":"96796c3c.c3064","type":"function","z":"eae97cfd.dc1d9","name":"SendStatus","func":"if (flow.get('detect') !== flow.get('status'))\n{\n    start = new Date();\n    flow.set('start',start);\n    flow.set('status',flow.get('detect'));\n    msg.payload = flow.get('status');\n    msg.start = start;\n    return {payload: {\n        start: msg.start.toLocaleString(),\n        status: msg.payload},\n        };\n}","outputs":1,"noerr":0,"x":990,"y":340,"wires":[[]]},{"id":"783a2e07.41b62","type":"function","z":"eae97cfd.dc1d9","name":"Startup","func":"if (msg.MODE_AUTO === true && flow.get('hoppers') === true && flow.get('extrudersOn') === true && flow.get('extrudersRun') === true && msg.CONTROL_LOCK_OFF === false && msg.CONTROL_STOP_OFF === false)\n{\n    flow.set('detect','Startup');\n    return msg;\n}","outputs":1,"noerr":0,"x":720,"y":320,"wires":[["96796c3c.c3064"]]},{"id":"d811b66c.ccf518","type":"function","z":"eae97cfd.dc1d9","name":"SetMeasurement","func":"msg.measurement = 'MSR_COEX';\nmsg.payload['status'] = flow.get('status');\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":60,"wires":[["a248a8e.eae3d58"]]},{"id":"7c9fd7b9.eba008","type":"split","z":"eae97cfd.dc1d9","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"topic","x":450,"y":60,"wires":[["a7fcde60.db6c6"]]},{"id":"eb22f69f.6e6728","type":"join","z":"eae97cfd.dc1d9","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":750,"y":60,"wires":[["d811b66c.ccf518"]]},{"id":"a7fcde60.db6c6","type":"function","z":"eae97cfd.dc1d9","name":"SetStatus","func":"if(msg.payload === true)\n{\n    if (msg.topic == 'Downtime' || msg.topic == 'Production' || msg.topic == 'Purge_In' || msg.topic == 'Purge_Out')\n    {\n        msg.payload = msg.topic;\n        msg.parts.key = 'MSR_PLC_Status'\n    }\n}\ndelete(msg.topic);\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":60,"wires":[["eb22f69f.6e6728"]]},{"id":"a248a8e.eae3d58","type":"influxdb out","z":"eae97cfd.dc1d9","influxdb":"953da3fe.07a58","name":"","measurement":"","precision":"","retentionPolicy":"","x":1310,"y":60,"wires":[]},{"id":"303c633c.98860c","type":"function","z":"eae97cfd.dc1d9","name":"Extruders/Hoppers","func":"if (msg.ExtSpeedA === 0 || msg.ExtSpeedB === 0 || msg.ExtSpeedC === 0 || msg.ExtSpeedD === 0 || msg.ExtSpeedE === 0 || msg.ExtSpeedF === 0)\n{\n    if (flow.get('extrudersRun') !== false)\n    {\n        flow.set('extrudersRun',false);\n    }\n}\nelse\n{\n    if (flow.get('extrudersRun') !== true)\n    {\n        flow.set('extrudersRun',true);\n    }\n}\nif (msg.ExtSpeedA === 0 && msg.ExtSpeedB === 0 && msg.ExtSpeedC === 0 && msg.ExtSpeedD === 0 && msg.ExtSpeedE === 0 && msg.ExtSpeedF === 0)\n{\n    if (flow.get('extrudersStop') !== true)\n    {\n        flow.set('extrudersStop',true);\n    }\n}\nelse\n{\n    flow.set('extrudersStop',false)\n}\nif (msg.ExtrA_OFF === false || msg.ExtrB_OFF === false || msg.ExtrC_OFF === false || msg.ExtrD_OFF === false || msg.ExtrE_OFF === false || msg.ExtrF_OFF === false)\n{\n    if (flow.get('extrudersOn') !== true)\n    {\n        flow.set('extrudersOn',true);\n    }\n}\nelse\n{\n    if (flow.get('extrudersOn') !== false)\n    {\n        flow.set('extrudersOn',false);\n    }\n}\nif (msg.HOPPER_A === true || msg.HOPPER_B === true || msg.HOPPER_C === true || msg.HOPPER_D === true || msg.HOPPER_E === true || msg.HOPPER_F === true)\n{\n    if (flow.get('hoppers') !== true)\n    {\n        flow.set('hoppers',true);\n    }\n}\nelse\n{\n    if (flow.get('hoppers') !== false)\n    {\n        flow.set('hoppers',false);\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":340,"wires":[["783a2e07.41b62","9a25c688.46f258","10f7a118.14510f","140888e3.26b827","7e0ac1ea.33bb6","eda06f06.ccd0c","1408e5c.d9c491a","81a77f24.08aae"]]},{"id":"53d5156e.9bd70c","type":"s7 in","z":"eae97cfd.dc1d9","endpoint":"cd1426e3.ceee88","mode":"all","variable":"","diff":false,"name":"","x":90,"y":340,"wires":[["4ba061bc.d418f","7c9fd7b9.eba008"]]},{"id":"85a8eb83.a94df8","type":"influxdb in","z":"8a130cc2.fc507","influxdb":"f0810191.c71a7","name":"","query":"SELECT * FROM ValCur limit 100000","rawOutput":false,"precision":"","retentionPolicy":"","x":440,"y":160,"wires":[["4ec66936.a24678"]]},{"id":"20b87625.d62e7a","type":"debug","z":"8a130cc2.fc507","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1090,"y":60,"wires":[]},{"id":"a0d0400b.e04e1","type":"inject","z":"8a130cc2.fc507","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":160,"wires":[["85a8eb83.a94df8"]]},{"id":"ddce8ebb.70228","type":"csv","z":"8a130cc2.fc507","name":"","sep":",","hdrin":"","hdrout":false,"multi":"one","ret":"\\r\\n","temp":"","skip":"0","x":1010,"y":160,"wires":[["5832544b.01162c"]]},{"id":"5832544b.01162c","type":"file","z":"8a130cc2.fc507","name":"CSV MSR","filename":"D:\\Vincent Ciancio\\Test.csv","appendNewline":false,"createDir":true,"overwriteFile":"false","x":1150,"y":160,"wires":[[]]},{"id":"5e6825ed.b40b6c","type":"function","z":"8a130cc2.fc507","name":"","func":"return {payload:\n{time: msg.payload.time.toLocaleString(),\nvalue: msg.payload.value\n}\n};","outputs":1,"noerr":0,"x":890,"y":160,"wires":[["ddce8ebb.70228"]]},{"id":"4ec66936.a24678","type":"split","z":"8a130cc2.fc507","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":770,"y":160,"wires":[["5e6825ed.b40b6c"]]},{"id":"8ab55a09.af0868","type":"nbrowser","z":"d513304b.ea7e9","name":"GetHTML","methods":[{"name":"wait","func":"wait","params":[{"type":"str","value":"5","typeDefault":"str"}]},{"name":"getHTML","func":"getHTML","params":[{"type":"str","value":"","typeDefault":"str"},{"type":"msg","value":"payload","typeDefault":"output"}]}],"prop":"nbrowser","propout":"payload","object":"msg","objectout":"msg","close":false,"show":false,"ssl":false,"outputs":1,"x":480,"y":80,"wires":[["ec757b2b.464238"]]},{"id":"f3594634.6d46e8","type":"inject","z":"d513304b.ea7e9","name":"","topic":"","payload":"http://SCOMWQ0301/apriso/portal/kiosk/login.aspx?menuitemid=100000430&TabID=100000006&EquipmentLogin=true&EquipmentName=B_COEX1_BMM272&LoginName=B_COEX1_BMM272&Alias=IN_WorkstationScreen","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":160,"wires":[["58fee20.b2cfd2"]]},{"id":"ec757b2b.464238","type":"function","z":"d513304b.ea7e9","name":"GetStatusPES","func":"var status;\nvar result = msg.payload.split('in-productionmode-desc\">')[1];\nvar result1 = result.split(\"</\")[0];\nvar result2 = result1.split(\" - \")[0];\nvar result3 = result1.split(\" - \")[1];\nif (result3 == \"Production\")\n{\n    status = result3;\n}\nelse if (result3 == 'Changement de Production')\n{\n    status = 'Change Over';\n}\nelse if (result3 == \"Purge d'Arrêt / Arrêt Machine\")\n{\n    status = 'Purge Out';\n}\nelse if (result2 == 'Downtime')\n{\n    status = result2;\n}\nelse\n{\n    status = 'Purge In';\n}\nvar msg1 = {payload: status, measurement: 'PES_STATUS'};\nreturn [msg,msg1];","outputs":2,"noerr":0,"x":640,"y":80,"wires":[[],["675bba8d.d45714"]]},{"id":"7f63c99b.e73ec8","type":"influxdb out","z":"d513304b.ea7e9","influxdb":"63dc38b7.120388","name":"","measurement":"","precision":"","retentionPolicy":"","x":870,"y":40,"wires":[]},{"id":"675bba8d.d45714","type":"debug","z":"d513304b.ea7e9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":790,"y":160,"wires":[]},{"id":"58fee20.b2cfd2","type":"nbrowser","z":"d513304b.ea7e9","name":"GetHTML","methods":[{"name":"gotoURL","func":"goto","params":[{"type":"msg","value":"payload","typeDefault":"str"}]},{"name":"getURL","func":"url","params":[{"type":"flow","value":"test","typeDefault":"output"}]}],"prop":"nbrowser","propout":"payload","object":"msg","objectout":"msg","close":false,"show":true,"ssl":false,"outputs":1,"x":280,"y":160,"wires":[["34d8efbf.93b81"]]},{"id":"8644a833.031838","type":"inject","z":"d513304b.ea7e9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"15","x":160,"y":80,"wires":[["3c228509.8854ea"]]},{"id":"7fb395df.1f828c","type":"inject","z":"d513304b.ea7e9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"0.1","x":170,"y":240,"wires":[["242b2e27.422c02"]]},{"id":"242b2e27.422c02","type":"function","z":"d513304b.ea7e9","name":"Create Vars","func":"var html = null;\nvar nb = null;\nflow.set('html',html);\nflow.set('nb',nb);\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":240,"wires":[[]]},{"id":"34d8efbf.93b81","type":"function","z":"d513304b.ea7e9","name":"Set Vars","func":"flow.set('html',msg.payload);\nflow.set('nb',msg.nbrowser);\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":160,"wires":[[]]},{"id":"3c228509.8854ea","type":"function","z":"d513304b.ea7e9","name":"SendInstance","func":"return {payload: flow.get('html'),nbrowser: flow.get('nb')}","outputs":1,"noerr":0,"x":320,"y":80,"wires":[["8ab55a09.af0868"]]},{"id":"ef3fe197.6b9e9","type":"debug","z":"71962acd.f3cc04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":940,"y":540,"wires":[]}]